{% set min          = min|default('0') %}
{% set max          = max|default('3') %}
{% set inputValue   = inputValue|default(min) %}
{% set inputId      = inputId | default('') %}

<div class='bf-quantity-button js-bf-quantity-button d-flex flex-row justify-content-center align-items-center'>

    <button type="button"
            {{ inputValue == min ? '' : 'disabled'  }}
            class="bf-button-icon js-bf-quantity-button__minus bf-quantity-button__minus vui--style-reset p-0 m-0 "
            aria-controls='{{ inputId }}'
    >
    {% include '@bf-components/icon/twig/index.twig' with {
        name        : "minus-circle-outline",
        size        : "medium",
        type        : "interface"
    } %}
    </button>


    <div class="bf-input">
        <input id="{{ inputId }}"
               type="number"
               name="quantity"
               aria-label="number"
               class="text-center bf-quantity-button__input js-bf-quantity-button__input border-0"
               min="{{ min }}"
               max="{{ max }}"
               value="{{ inputValue }}"
        >
    </div>

    <button type="button"
            class="bf-button-icon js-bf-quantity-button__plus bf-quantity-button__plus vui--style-reset p-0 m-0 {{ class }}"
            aria-controls='{{ inputId }}'
    >
    {% include '@bf-components/icon/twig/index.twig' with {
        name        : "plus-circle-outline",
        size        : "medium",
        type        : "interface"
    } %}
    </button>


</div>