<a href="{{ href|default('') }}"
   {% if label is not empty %}data-title="{{ label|render|t([],{'langcode': 'EN','context':'data-title-attribute' }) }}"{% endif %}
   class="link-underline d-flex align-items-center h{{ headingSize|default(6) }} {{ class }}"
   {{ extraAttribute|default(NULL) }}
><i class="icon icon-arrow-to-left"></i>{{ label|default('Link back') }}</a>
