<a
  id="{{ id|default("") }}"
  class="btn btn-{{ buttonSize|default("md") }} btn-{{ buttonColor|default(
    "primary"
  ) }}  {{ class|default("") }}"
  {{
  label is not empty
    ? "data-title='"
      ~ (label
        |render
        |t(
          [],
          {
            langcode: "EN",
            context: "data-title-attribute"
          }
        ))
      ~ "'"
  }}
  href="{{ href|default("#") }}"
  target="{{ target|default("_self") }}"
  {{ extraAttribute|default(null) }}
>
  {{ label|default("Link button label") }}
</a>
