<a
    class='
        bf-link
        {{ hierarchy == 'primary' ? 'bf-link--primary' : 'bf-link--native' }}
        {{ isUnderline|default(true) ? '' : 'bf-link--no-underline' }}
        {{ label is empty ? 'bf-link--icon-only' }}
        {{ isDisabled ? 'disabled' }}
        {{ reversed ? 'reversed' }}
        {{ class }}'
    {% if isDisabled %}
        aria-disabled='true'
        role='link'
    {% else %}
        href='{{ href|default('') }}'
    {% endif %}
    {% if label %}
        data-title='{{ label|render|t([],{'langcode': 'EN','context':'data-title-attribute' }) }}'
    {% endif %}
    {% if rel %}
        rel='{{ rel|default('') }}'
    {% endif %}
    {{ extraAttribute|default(NULL) }}
>
    <span class='d-flex align-items-center gap-1'>
        {% if iconName is defined and iconName %}
            {% include '@bf-components/icon/twig/index.twig' with {
                name    : iconName,
                size    : hierarchy == 'primary' ? 'small' : 'xsmall',
                class   : (iconPosition is same as ('right') ? 'order-2')
            } only %}
        {% endif %}
        {{ label|default('') }}
    </span>
</a>