<a href="{{ href|default('javascript:window.scrollTo(0,0);') }}"
   {% if label is not empty %}data-title="{{ label|render|default(NULL) }}"{% endif %}
   class=" {{ class|default('') }}"
   {{ extraAttribute|default(NULL) }}>{{ label|default('Back to top') }}{% include '@bf-components/icon/twig/icon-arrow-to-top.twig' with {} only %}</a>
