<a class="link {{ class }}"
   href="{{ href|default('#') }}"
   {% if label is not empty %}data-title="{{ label|render|t([],{'langcode': 'EN','context':'data-title-attribute' }) }}"{% endif %}
   {{ extraAttribute|default(NULL) }}
>{{ label|default('Default text link example') }}</a>
