<a href="{{ href|default('javascript:window.scrollTo(0,0);') }}"
   {% if label is not empty %}data-title="{{ label|render|default(NULL) }}"{% endif %}
   class=" {{ class|default('') }}"
   {{ extraAttribute|default(NULL) }}>{{ label|default('Back to top') }}{% include '@atoms/06-icons/icon-arrow-to-top.twig' %}</a>
