<a href="{{ href|default('') }}"
   {% if label is not empty %}data-title="{{ label|render|t([],{'langcode': 'EN','context':'data-title-attribute' }) }}"{% endif %}
   class="link-highlight {{ class }}"
   {{ extraAttribute|default(NULL) }}
>{{ label|default('Link example') }}</a>
