{% embed '@organisms/03-hero/hero-block.twig' with { class: class|default('') } %}
    {% block hero_content %}
        {% if breadcrumb is defined %}
            {{ breadcrumb }}
        {% endif %}
        {% if searchForm is defined %}
            {{ searchForm }}
        {% else %}
            {% include '@atoms/03-form/input-search.twig' %}
        {% endif %}
        <div class="row pt-3 pt-md-6">
            <div class="col-12 col-md-8">
                <h1 class="mb-2">{{ title|default('Download and discover the Helix mobile apps') }}</h1>
                {% if subTitle is not defined or subTitle is not empty %}
                    <p class="h5">{{ subTitle|default('Lorem ipsum dolor sitamet consectetur adipiscing') }}</p>
                {% endif %}

                <div class="d-flex flex-column flex-md-row">
                    {% if duration is not defined or duration is not null %}
                        <div class="d-flex align-items-center pr-0 pr-md-3 border-right-gray-md--800">
                            {% include '@atoms/06-icons/icon-svg-clock.twig' with { iconSize:1, iconColor:"svg-fill--light" } only %}
                            <p class="h4 ml-2 mb-0">{{ duration|default('1-5 minutes') }}</p>
                        </div>
                    {% endif %}

                    {% if rates is not defined or rates is not null %}
                        <div class="d-flex align-items-center pl-0 pl-md-3 mt-1 mt-md-0">
                            <div class="d-flex pt-1">
                                {% set j = rates|default(3) %}

                                {% for i in 0..4 %}
                                    {% if j > 0 %}
                                        {% include '@atoms/06-icons/icon-bullet-rating.twig' with { class:"bullet--white active ml-1" } %}
                                    {% else %}
                                        {% include '@atoms/06-icons/icon-bullet-rating.twig' with { class:"bullet--white ml-1" } %}
                                    {% endif %}

                                    {% set j = j - 1 %}
                                {% endfor %}
                            </div>
                            <p class="h4 ml-2 mb-0">{{ rateDescription|default('Resolution rate') }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if isVideoFlag is defined and isVideoFlag is not null %}
                <div class="col-12 col-md-4 col-lg-3 offset-lg-1 mt-4 mt-md-0 d-flex align-items-end">
                    <button type="button"
                            class="btn btn-{{ buttonSize|default('md') }} btn-{{ buttonColor|default('primary') }} d-flex align-items-center w-100 {{ buttonClass|default('') }}">
                        {% include '@atoms/06-icons/icon-svg-video-play.twig' with { iconSize:iconSize|default(3), iconClass:'mr-2' } %}
                        <p class="mb-0 color--dark">{{ buttonLabel|default('Watch Video') }}</p>
                    </button>
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% endembed %}
