<div class="row justify-content-end {{ class|default('') }}">
    <div class="col-6 col-md-4 text-right">
        <button type="button"
                class="btn btn-md btn-reset link-underline btn--condensed {{ isPrevHidden|default(false) ? 'd-none' : '' }}"
                data-toggle="collapse"
                data-target="#collapse{{ anchorIdPrev }}"
                aria-expanded="false"
                aria-controls="collapse{{ anchorIdPrev }}">Back</button>
    </div>

    <div class="col-6 col-md-4">
        <button type="button"
                class="btn btn-primary w-100"
                data-toggle="collapse"
                data-target="#collapse{{ anchorIdNext }}"
                aria-expanded="false"
                aria-controls="collapse{{ anchorIdNext }}">Next</button>
    </div>
</div>