
{% set hasDesktopImage = (image.default is defined and image.default) ? true : false %}
{% set hasMobileImage = (image.mobile is defined and image.mobile) ? true : false %}

{% set is50Percent = ( not isFullWidth and hasDesktopImage and hasMobileImage ) ? true : false  %}
{% set hasBlocSelection =((blockSelection is defined and blockSelection is iterable) or (block('blockSelection') is defined)) ? true : false %}
{% set hasRightContent =  (hasBlocSelection) ? true : false %} {# prépare la condition pour tester si on a un icône aussi #}

{% set layoutClass =  (hasRightContent) ? 'bf-hero--2col' : 'bf-hero--full'  %}

{% set backgroundClass =  '' %}
{% if background is defined and background is same as ('ground') %}
    {% set backgroundClass =  'bf-hero--bg-ground' %}
{% elseif background is defined and background is same as ('highlight') %}
    {% set backgroundClass =  'bf-hero--bg-highlight' %}
{% endif %}


<section
    class='bf-hero {{ (reversed) ? 'reversed' }} {{ layoutClass ~ ' ' ~ backgroundClass ~ ' ' ~ class|default('') }}' >
    {% if hasDesktopImage or hasMobileImage %}
        <div class='bf-hero__image {{ (isFullWidth) ? 'bf-hero__image--full':'' }}' style='background-image: url("{{ image.default }}")'></div>
        <img class='d-block w-100 d-md-none' src='{{ image.mobile }}' alt='{{ image.alt|default('') }}' />
    {% endif %}

    <div class='bf-hero__content'>
        <header>
            {# Where "block('breadcrumb')" is a twigBlock and "breadcrumb" is an html string?
            needs to be coherent with blockselection  - if yes TODO : reflect in hero.component.ts & remove comment #}
            {% if block('breadcrumb') is defined %}
                {{ block('breadcrumb')|raw }}
            {% elseif breadcrumb is defined %}
                {{ breadcrumb|raw }}
            {% endif %}

            <div class='position-relative py-5 mt-2'>
                {% if badge is defined and badge is not empty %}
                    {% if badge is iterable %}
                        {% set badge = {
                            label       : badge.label,
                            hierarchy   : badge.hierarchy|default('primary'),
                            angle       : badge.angle|default(''),
                            iconName    : badge.iconName|default(''),
                        } %}
                    {% else %}
                        {% set badge = { label: badge } %}
                    {% endif %}
                    {% set badge = badge|merge( {
                        'hierarchy' : badge.hierarchy|default('primary'),
                        'class'     : 'position-absolute top-0'
                    } ) %}
                    {% include '@bf-components/badge/twig/index.twig' with badge only %}
                {% endif %}
                {% if upperTitle is defined and upperTitle is not empty %}
                    <p class='h5 mt-0 mb-2' data-animate='fade-in'>
                        {{ upperTitle }}
                    </p>
                {% endif %}
                {% if title is defined and title is not empty %}
                    <h1 class='mt-0' data-animate='fade-in'>
                        {{ title }}
                    </h1>
                {% endif  %}
                {% if subtitle is defined and subtitle is not empty %}
                    <h2 class='h3 my-2' data-animate='fade-in'>
                        {{ subtitle }}
                    </h2>
                {% endif  %}
                {% if description is defined and description is not empty %}
                    <p class='mt-2' data-animate='fade-in'>
                        {{ description }}
                    </p>
                {% endif %}
                {% if price is defined and price %}
                    {% set price = price|merge({
                        'class'     : 'w-100 mt-4 ' ~ price.class,
                        'language'  : price.language|default(language)
                    }) %}
                    {% include '@bf-components/price/twig/index.twig' with price only %}
                {% endif %}
                {% if button is defined and button is not empty %}
                    <div class='mt-5' data-animate='fade-in'>
                        {% set button = button|merge( { 'hierarchy': button.hierarchy|default('primary-alt') } ) %}
                        {% include '@bf-components/button/twig/index.twig' with button only %}
                    </div>
                {% endif %}
            </div>
        </header>
        {% if hasRightContent %}
        <div class='bf-hero__right'>
            {% if block('blockSelection') is defined %}
                {{ block('blockSelection') }}
            {% elseif blockSelection is defined and blockSelection is iterable %}
                {% include '@bf-components/block-selection/twig/index.twig' with blockSelection only %}
            {# TODO :  insert another condition and add huge icones here #}
            {% endif %}
        </div>
        {% endif %}
    </div>

</section>
