<section
    class='
        bf-hero
        bf-hero d-flex flex-column
        {% if reversed is defined and reversed is same as (true) %}reversed{% endif %}
        {% if background is defined and background is same as ('ground') %}bf-hero--bg-ground{% endif %}
        {% if background is defined and background is same as ('highlight') %}bf-hero--bg-highlight{% endif %}
        {% if height is defined and height is same as ('large') %}bf-hero--height-large{% endif %}
        {# {{ bgImagePosition|default('right') }}
        {{ bgImageQueries|default(null) }} #}
        {{ class|default('') }}
        '
    {% if image is defined and image.default is not empty %}
        style='background-image: url("{{ image.default }}")'
    {% endif %}
    {# data-bg='{{ bgImage|default(defaultImgSrc) }}'
    data-md-bg='{{ bgMediumImage|default(defaultImgSrc) }}'
    data-lg-bg='{{ bgLargeImage|default(defaultImgSrc) }}' #}
>
    {% block hero_mobile_image %}{% endblock %}
    {% if image is defined and image.mobile is not empty %}
        <img src='{{ image.mobile }}' alt='{{ image.alt|default('') }}' class='w-100 d-block d-sm-none' />
    {% endif %}

    <div class='d-block d-md-none' data-animate='fade-in'>
        {% if block('blockSelection') is defined %}
            {{ block('blockSelection') }}
        {% elseif blockSelection is defined and blockSelection is iterable %}
            {% set blockSelectionMobile = blockSelection|merge( { 'isCollapsableOnMobile' : true, 'isCollapsedByDefaultOnMobile': true } ) %}
            {% include '@bf-components/block-selection/twig/index.twig' with blockSelectionMobile only %}
        {% endif %}
    </div>
    <div class='container-fluid d-flex flex-column flex-md-row flex-grow-1 pb-2 pb-sm-4' data-animate-row=''>
        <header class='d-flex flex-column flex-grow-1'>
            {% if breadcrumb is defined %}
                {{ breadcrumb }}
            {% endif %}
            <div class='bf-hero__content d-flex flex-column h-100'>
                <div class='position-relative py-5 mt-2'>
                    {% if badge is defined and badge is not empty %}
                        {% if badge is not iterable %}
                            {% set badge = { label: badge } %}
                        {% endif %}
                        {% set badge = badge|merge( {
                            'hierarchy' : badge.hierarchy|default('primary'),
                            'class'     : 'position-absolute top-0 ' ~ badge.class|default('')
                        } ) %}
                        {% include '@bf-components/badge/twig/index.twig' with badge only %}
                    {% endif %}
                    {% if upperTitle is defined and upperTitle is not empty %}
                        <p class='h5 mt-0 mb-2' data-animate='fade-in'>
                            {{ upperTitle }}
                        </p>
                    {% endif %}
                    {% if title is defined and title is not empty %}
                        <h1 class='mt-0' data-animate='fade-in'>
                            {{ title }}
                        </h1>
                    {% endif  %}
                    {% if subtitle is defined and subtitle is not empty %}
                        <h2 class='h3 my-2' data-animate='fade-in'>
                            {{ subtitle }}
                        </h2>
                    {% endif  %}
                    {% if description is defined and description is not empty %}
                        <p class='mt-2' data-animate='fade-in'>
                            {{ description }}
                        </p>
                    {% endif %}
                    {% if price is defined and price %}
                        {% set price = price|merge({
                            'class'     : 'w-100 mt-4 ' ~ price.class,
                            'language'  : price.language|default(language)
                        }) %}
                        {% include '@bf-components/price/twig/index.twig' with price only %}
                    {% endif %}
                  {% if buttons is defined and buttons %}
                    <div class='d-inline-flex mt-4' data-animate='fade-in'>
                      {% for button in buttons|slice(0, 2) %}
                        {% set defaultHierarchy = (loop.index == 1) ? 'primary-alt' : 'secondary' %}
                        {% set button = button|merge( {'hierarchy': button.hierarchy|default(defaultHierarchy),
                          'class':  button.class} ) %}
                        {% include '@bf-components/button/twig/index.twig' with button only %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
            </div>
        </header>
        <div class='d-none d-md-flex align-items-center' data-animate='fade-in'>
            {% if block('blockSelection') is defined %}
                {{ block('blockSelection') }}
            {% elseif blockSelection is defined and blockSelection is iterable %}
                {% include '@bf-components/block-selection/twig/index.twig' with blockSelection only %}
            {% endif %}
        </div>
    </div>
</section>
