{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Boolean Variables #}
{% set hasContentLists = contentLists is defined and contentLists is not empty %}
{% set hasTitle = title is defined and title is not empty %}
{% set hasTopLink = topLink is defined and topLink is not empty %}
{% set hasTotalPrice = totalPrice is defined and totalPrice is not empty %}
{% set hasTotalPriceInfo = totalPrice.priceInfo is defined and totalPrice.priceInfo is not empty %}
{% set isCollapsableOnMobile = isCollapsableOnMobile|default(false) is same as(true) %}
{% set isCollapsedByDefaultOnMobile = isCollapsedByDefaultOnMobile|default(false) is same as(true) %}

{# Default Variables (Props, Controls) #}
{% set class = class|default("") %}
{% set titleTag = titleTag|default("h1") %}

{# Arrays of Classes With Dynamic Elements #}
{% set blockClasses = [
  "bf-block bf-block--selection d-flex flex-column",
  (isCollapsableOnMobile ? "bf-block--collapsable"),
  (class),
] %}
{% set blockToggleClasses = [
  "bf-block__toggle",
  (isCollapsedByDefaultOnMobile ? "collapsed"),
] %}
{% set blockContentClasses = [
  "p-3 p-sm-4",
  (isCollapsableOnMobile ? isCollapsedByDefaultOnMobile ? "collapse" : "show"),
] %}

{# Template #}
<article class="{{ blockClasses|join(' ')|trim }}">
  {% if isCollapsableOnMobile %}
    <button {{ macros.addAttributes({
      "class": blockToggleClasses|join(' ')|trim,
      "type": "button",
      "data-toggle": "collapse",
      "data-target": "#bf-block-collapse",
      "aria-expanded": (isCollapsedByDefaultOnMobile ? "false" : "true"),
      "aria-controls": "bf-block-collapse",
    }) }}>
      <div class="d-flex flex-row justify-content-between align-items-center p-3 p-sm-4">
        {% if hasTitle %}
          {% embed "@bf-utils/custom-tag/twig/index.twig" with {
            customTag: titleTag,
            attr: {
              "class": "h3 m-0"
            },
          } %}
            {% block customTagContent %}
              {{ title }}
            {% endblock %}
          {% endembed %}
        {% endif %}

        {% include "@bf-components/icon/twig/index.twig" with {
          name: "plus",
          class: "icon-plus ml-2"
        } only %}

        {% include "@bf-components/icon/twig/index.twig" with {
          name: "minus",
          class: "icon-minus ml-2"
        } only %}
      </div>
    </button>
  {% endif %}

  <div {{ macros.addAttributes({
    "class": blockContentClasses|join(' ')|trim,
    "id": (isCollapsableOnMobile ? "bf-block-collapse"),
  }) }}>
    <header class="d-flex justify-content-between mb-1">
      {% if hasTitle %}
        {% embed "@bf-utils/custom-tag/twig/index.twig" with {
          customTag: titleTag,
          attr: {
            "class": "header__title h3 mb-0"
          },
        } %}
          {% block customTagContent %}
            {{ title }}
          {% endblock %}
        {% endembed %}
      {% endif %}

      {% if hasTopLink %}
        <a {{ macros.addAttributes({
          "href": topLink.href,
          "class": "bf-link bf-link--primary text-right mb-3",
        }) }}>
          {{ topLink.label }}
        </a>
      {% endif %}
    </header>

    {% if hasContentLists %}
      <ul class="list">
        {% for item in contentLists %}

          {# In Loop : Boolean Variables #}
          {% set hasItemButtonDelete = item.btnDelete is defined and item.btnDelete %}
          {% set hasItemButtonModify = item.btnModify is defined and item.btnModify %}
          {% set hasItemDescription = item.description is defined and item.description %}
          {% set hasItemLink = item.link is defined and item.link is not empty %}
          {% set hasItemPriceInfo = item.priceInfo is defined and item.priceInfo is not empty %}
          {% set hasItemSaving = item.saving is defined and item.saving %}
          {% set hasItemTitle = item.title is defined and item.title %}

          <li class="bf-block__item d-flex justify-content-between align-items-center border-top bf-border-color-secondary pt-2 pb-3">
            <div class="label mr-3">
              {% if hasItemTitle %}
                <p class="bf-text font-weight-bold mb-0">
                  {{ item.title }}
                </p>
              {% endif %}

              {% if hasItemDescription %}
                <p class="description bf-color-neutral-secondary mt-2 mb-0">
                  {{ item.description }}
                </p>
              {% endif %}
            </div>

            {% if hasItemLink %}
              <a {{ macros.addAttributes({
                "href": item.link.href,
                "class": "bf-link bf-link--primary text-right",
              }) }}>
                {{ item.link.label }}
              </a>
            {% else %}
              <div>
                <div class="d-flex justify-content-end pb-1">
                  {% block itemActionBlock %}
                    {% if hasItemButtonDelete %}
                      {% include "@bf-components/button-icon/twig/index.twig" with {
                        icon: "delete",
                        class: "ml-2",
                        href: item.btnDelete.href
                      } only %}
                    {% endif %}
                    {% if hasItemButtonModify %}
                      {% include "@bf-components/button-icon/twig/index.twig" with {
                        icon: "edit",
                        class: "ml-2",
                        href: item.btnModify.href
                      } only %}
                    {% endif %}
                  {% endblock %}
                </div>

                <div class="text-right">
                  <span class="d-block bf-color-neutral-secondary">
                    {{ item.price }}
                    {% if hasItemPriceInfo %}
                      {{ item.priceInfo }}
                    {% endif %}
                  </span>
                  {% if hasItemSaving %}
                    <div class="d-inline-flex align-items-center mt-2">
                      <p class="small text-strike mb-0">
                        {{ item.fullPrice }}
                      </p>
                      <div class="bf-display-highlight d-inline-flex flex-wrap ml-2">
                        <p class="mb-0">
                          {{ item.savingLabel }}
                          <span class="font-weight-bold ml-1">
                            {{ item.saving }}
                          </span>
                        </p>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if hasTotalPrice %}
      <footer class="d-flex justify-content-between mt-3 pt-3 border-top bf-border-color-highlight">
        <div>
          <p class="font-weight-bold mb-0">
            {{ totalPrice.label|default("Total") }}
          </p>
          <p class="bf-color-neutral-secondary mb-0">
            {{ totalPrice.details }}
          </p>
        </div>
        <div class="text-right">
          <p class="font-weight-bold mb-0">
            {{ totalPrice.price }}
            {% if hasTotalPriceInfo %}
              {{ totalPrice.priceInfo }}
            {% endif %}
          </p>
          <p class="bf-color-neutral-secondary mb-0">
            {{ totalPrice.priceDetails }}
          </p>
        </div>
      </footer>
    {% endif %}
  </div>
</article>
