{% set customClass  = customClass|default('justify-content-center') %}
{% set isVisible = (isReadOnly is defined and isReadOnly is same as (true)) ? ' d-none' : '' %}
{% set attrReadOnly = (isReadOnly is defined and isReadOnly is same as (true)) ? ' readonly' : '' %}
{% set attrDisabled = (isDisabled is defined and isDisabled is same as (true)) ? ' disabled' : ''  %}

<div class='bf-input-increment js-bf-input-increment d-flex flex-row align-items-center {{ customClass }} {{ attrDisabled }}' >

    {% include '@bf-components/button/twig/index.twig' with {
        label           : '',
        hierarchy       : 'secondary',
        isDisabled      : true,
        isLoading       : false,
        iconName        : "minus",
        iconPosition    : '',
        class           : isVisible is empty ? ' js-bf-input-increment__minus bf-button bf-button--secondary rounded-circle px-2 ' : 'invisible',
        ariaControls    : inputId,
        role            : 'button'
    } only %}


        <input id="{{ inputId|default('') }}"
               type="number"
               class="text-center bf-text-display-small bf-input-increment__input js-bf-input-increment__input border-0  m-0  py-0 {{ attrDisabled }}"
               aria-label="{{ arialLabel|default('') }}"
               value="{{ inputValue|default(0) }}"
               min="{{ min|default(null) }}"
               max="{{ max|default(null) }}"
               {{ attrReadOnly }}
               {{ attrDisabled }}
        >

    {% include '@bf-components/button/twig/index.twig' with {
        label           : '',
        hierarchy       : 'secondary',
        isDisabled      : false,
        isLoading       : false,
        iconName        : "plus",
        iconPosition    : '',
        class           :  isVisible is empty ? ' js-bf-input-increment__plus bf-button bf-button--secondary rounded-circle px-2 ' : 'invisible',
        ariaControls    : inputId,
        role            : 'button'
        } only %}

</div>
