{% set attrReadOnly = isReadOnly is defined and isReadOnly ? " readonly" : "" %}
{% set classHide = isReadOnly is defined and isReadOnly ? " d-none" : "" %}
{% set attrDisabled = isDisabled is defined and isDisabled ? " disabled" : "" %}
{% set classDisabled = isDisabled is defined and isDisabled ? " disabled" : ""
%}
{% set classIsInvalid = isInvalid is defined and isInvalid ? " is-invalid" : ""
%}
{% set isRequired = isRequired is not defined ? true : isRequired %}

<div
  class="bf-input-increment js-bf-input-increment {{
  class ~ classDisabled
    ~ classIsInvalid
  }}"
>
  {% include "@bf-components/button/twig/index.twig" with {
    label: "",
    hierarchy: "secondary",
    iconName: "minus",
    class: classHide is empty
      ? " js-bf-input-increment__minus bf-button rounded-circle px-2"
      : classHide,
    ariaControls: inputId
  } only %}
  <input
    id="{{ inputId }}"
    type="number"
    class="text-center bf-text-display-small bf-input-increment__input js-bf-input-increment__input border-0 {{
    attrDisabled
    }}"
    aria-label="{{ ariaLabel }}"
    value="{{ value|default(0) }}"
    size="3"
    {{ min is defined and min ? "min='" ~ min ~ "'" }}
    {{ max is defined and max ? "max='" ~ max ~ "'" }}
    {{ attrReadOnly }}
    {{ attrDisabled }}
    {{ isRequired ? "required aria-required='true'" }}
  />

  {% include "@bf-components/button/twig/index.twig" with {
    label: "",
    hierarchy: "secondary",
    iconName: "plus",
    class: classHide is empty
      ? " js-bf-input-increment__plus bf-button rounded-circle px-2"
      : classHide,
    ariaControls: inputId
  } only %}

  <div class="bf-input-increment__feedback"><p>{{ errorMessage }}</p></div>
</div>
