{% set min          = min|default('0') %}
{% set max          = max|default('3') %}
{% set inputValue   = inputValue|default(min) %}
{% set inputId      = inputId | default('') %}
{% set isVisible = (isReadOnly is defined and isReadOnly is same as (true)) ? ' d-none' : '' %}
{% set isReadOnly = (isReadOnly is defined and isReadOnly is same as (true)) ? ' readonly' : '' %}
{% set customClass  = customClass|default('justify-content-center') %}


<div class='bf-input-increment js-bf-input-increment d-flex flex-row p-1 align-items-center {{ customClass }}' >

    <button type="button"
            {{ inputValue == min ? 'disabled' : ''  }}
            class="{{ isVisible }} bf-button bf-button--secondary js-bf-input-increment__minus bf-input-increment__minus rounded-circle p-2 disabled"
            aria-controls='{{ inputId }}'
    >
    {% include '@bf-components/icon/twig/index.twig' with {
        name        : "minus",
        size        : "small",
        type        : "interface",
    } %}
    </button>

    <div class="bf-input">
        <input id="{{ inputId }}"
               type="number"
               name="quantity"
               aria-label="number"
               class="text-center bf-text-display-small bf-input-increment__input js-bf-input-increment__input border-0 p-2"
               min="{{ min }}"
               max="{{ max }}"
               value="{{ inputValue }}"
               {{ isReadOnly }}
        >
    </div>

    <button type="button"
            {{ inputValue == max ? 'disabled' : ''  }}
            class="{{ isVisible }} bf-button bf-button--secondary js-bf-input-increment__plus bf-input-increment__plus rounded-circle p-2"
            aria-controls='{{ inputId }}'
    >
    {% include '@bf-components/icon/twig/index.twig' with {
        name        : "plus",
        size        : "small",
        type        : "interface",
    } %}
    </button>

</div>