{% set customClass  = customClass|default('justify-content-center') %}
{% set isVisible = (isReadOnly is defined and isReadOnly is same as (true)) ? ' d-none' : '' %}
{% set attrReadOnly = (isReadOnly is defined and isReadOnly is same as (true)) ? ' readonly' : '' %}

{% set min          = min|default('0') %}
{% set max          = max|default('3') %}
{% set inputValue   = inputValue|default(min) %}
{% set inputId      = inputId | default('') %}

<div class='bf-input-increment js-bf-input-increment d-flex flex-row p-1 align-items-center text-nowrap {{ customClass }}' >

    {% include '@bf-components/button/twig/index.twig' with {
        label           : '',
        hierarchy       : 'secondary',
        isDisabled      : true,
        isLoading       : false,
        iconName        : "minus",
        iconPosition    : '',
        class           : isVisible is empty ? ' js-bf-input-increment__minus bf-button bf-button--secondary rounded-circle p-2 ' : 'd-none',
        ariaControls    : inputId,
    } only %}

    <div class="bf-input">
        <input id="{{ inputId }}"
               type="number"
               class="text-center bf-text-display-small bf-input-increment__input js-bf-input-increment__input border-0  m-0 p-2"
               min="{{ min }}"
               max="{{ max }}"
               value="{{ inputValue }}"
                {{ attrReadOnly }}
        >
    </div>

    {% include '@bf-components/button/twig/index.twig' with {
        label           : '',
        hierarchy       : 'secondary',
        isDisabled      : false,
        isLoading       : false,
        iconName        : "plus",
        iconPosition    : '',
        class           :  isVisible is empty ? ' js-bf-input-increment__plus bf-button bf-button--secondary rounded-circle p-2' : 'd-none',
        ariaControls    : inputId,
    } only %}

</div>
