{% set min          = min|default('0') %}
{% set max          = max|default('3') %}
{% set inputValue   = inputValue|default(min) %}
{% set inputId      = inputId | default('') %}
{% set isVisible = (isReadOnly is defined and isReadOnly is same as (true)) ? ' d-none' : '' %}
{% set isReadOnly = (isReadOnly is defined and isReadOnly is same as (true)) ? ' readonly' : '' %}
{% set customClass  = customClass|default('justify-content-center') %}


<div class='bf-input-increment js-bf-input-increment d-flex flex-row p-1 {{ customClass }}' >

    <button type="button"
            {{ inputValue == min ? 'disabled' : ''  }}
            class="{{ isVisible }} bf-button-icon js-bf-input-increment__minus bf-input-increment__minus vui--style-reset p-0 m-0 "
            aria-controls='{{ inputId }}'
    >

    {% include '@bf-components/icon/twig/index.twig' with {
        name        : "minus-circle-outline",
        size        : "medium",
        type        : "interface"
    } %}
    </button>

    <div class="bf-input">
        <input id="{{ inputId }}"
               type="number"
               name="quantity"
               aria-label="number"
               class="text-center bf-text-display-small bf-input-increment__input js-bf-input-increment__input border-0"
               min="{{ min }}"
               max="{{ max }}"
               value="{{ inputValue }}"
               {{ isReadOnly }}
        >
    </div>

    <button type="button"
            {{ inputValue == max ? 'disabled' : ''  }}
            class="{{ isVisible }} bf-button-icon js-bf-input-increment__plus bf-input-increment__plus vui--style-reset p-0 m-0 {{ class }}"
            aria-controls='{{ inputId }}'
    >
    {% include '@bf-components/icon/twig/index.twig' with {
        name        : "plus-circle-outline",
        size        : "medium",
        type        : "interface",
    } %}
    </button>

</div>