<div class='bf-dropdown {{ isDisabled ? 'disabled' }}'>
  <div class='dropdown'>
    <button class='bf-button bf-button--tertiary dropdown-toggle'
       href='#'
       type='button'
       data-toggle='dropdown'
       aria-haspopup='true'
       aria-expanded='false'
    >
      {{ dropdownLabel }}
        {% include '@bf-components/icon/twig/index.twig' with {
          name  : 'chevron-down',
          size  : 'small',
          class : 'chevron ml-5'
        } only %}
    </button>

    {% if dropdownItems is defined and dropdownItems is not empty %}
    <div class='dropdown-menu' aria-labelledby='{{ dropdownId }}'>
      {% for item in dropdownItems %}
        {% if item.label is defined and item.label %}
        <a class='dropdown-item' href='{{ item.href }}'>
          {% if item.iconName is defined and item.iconName %}
            {% include '@bf-components/icon/twig/index.twig' with {
              name    : item.iconName,
              class   : 'mr-2'
            } only %}
          {% endif %}
          {{ item.label }}
        </a>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>