<nav class='bf-footer__main navbar-expand-lg border-bottom border-top bf-border-color-secondary py-0 py-lg-5 py-md-5'>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-10 order-2 order-lg-1 d-flex flex-column flex-lg-row' data-animate-row=''>
                {% for footerLink in links %}
                    <div class='col-lg border-top border-top-lg--0 bf-border-color-secondary' data-animate='fade-in'>
                        <button class='bf-footer__toggler px-0 py-3 w-100 d-flex justify-content-between align-items-center d-lg-none'
                                type='button'
                                data-toggle='collapse'
                                data-target='#bf-footer__nav--{{ footerLink.sectionTitle|replace({' ': ''}) }}'
                                aria-controls='bf-footer__nav--{{ footerLink.sectionTitle|replace({' ': ''}) }}'
                                aria-expanded='false'
                                aria-label='Toggle navigation'
                        >
                          <span class='bf-footer__toggler__title'>
                              <span class='mb-0'>{{ footerLink.sectionTitle }}</span>
                          </span>
                          {% include '@bf-components/icon/twig/index.twig' with {
                              name : 'chevron-down'
                          } only %}
                        </button>

                        <p class='mb-3 font-weight-bold d-none d-lg-block'>{{ footerLink.sectionTitle }}</p>

                        <ul class='collapse navbar-collapse align-items-lg-start flex-lg-column mb-0 pl-0 list-reset'
                            id='bf-footer__nav--{{ footerLink.sectionTitle|replace({' ': ''}) }}'>
                            {% for link in footerLink.links %}
                                <li class='p-0 mb-2'>
                                    {% include '@bf-components/link/twig/index.twig' with {
                                        href        : link.href,
                                        label       : link.label,
                                        class       : 'd-block d-lg-inline py-2 py-lg-0 bf-color-neutral-secondary',
                                        rel         : link.rel|default('dofollow'),
                                        isUnderline : false
                                    } only %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>

            {% if hasBackToTopLink is not same as (false) %}
                <div class='col-lg-2 order-1 order-lg-2 py-3 py-lg-0 text-center text-sm-right' data-animate='fade-in'>
                    {% include '@bf-components/link/twig/index.twig' with {
                        label       : backToTopLabel|default('Back to top'),
                        iconName    : 'chevron-up',
                        iconPosition: 'right',
                        isUnderline : false
                    } only %}
                </div>
            {% endif %}
        </div>
    </div>
</nav>
