{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Default Variables (Props, Controls) - Pre Boolean Variables #}
{% set background = background|default("ground") %}

{# Boolean Variables #}
{% set hasAsideSection = asideSection is defined and asideSection is not empty %}
{% set hasAsideSectionDescription = asideSection.description is defined and asideSection.description is not empty %}
{% set hasAsideSectionLink = asideSection.link is defined and asideSection.link is not empty %}
{% set hasAsideSectionTitle = asideSection.title is defined and asideSection.title is not empty %}
{% set hasButtons = buttons is defined and buttons is not empty %}
{% set hasTitle = title is defined and title is not empty %}
{% set isReversed = (reversed ?? false) is same as(true) %}
{% set isBackgroundHighlight = background is same as("highlight") %}

{# Boolean Variables - Special #}
{% set hasDescription = false %}
{% if hasButtons %}
  {% for button in buttons %}
    {% if button.description is defined and button.description %}
      {% set hasDescription = true %}
    {% endif %}
  {% endfor %}
{% endif %}

{# Default Variables (Props, Controls) - Post Boolean Variables #}
{% set class = class|default("") %}
{% set extraAttribute = extraAttribute|default({}) %}
{% set titleTag = titleTag|default("h1") %}

{# Classes Objects #}
{% set backgroundClasses = {
  ("ground"): "bf-color-bg-ground",
  ("highlight"): "bf-color-bg-highlight highlight",
  ("underground"): "bf-color-bg-underground",
} %}

{# Arrays of Classes With Dynamic Elements #}
{% set sectionButtonsNavClasses = [
  "bf-section-buttons-nav d-flex flex-column flex-lg-row",
  (backgroundClasses[background]),
  (isReversed ? "reversed"),
  (class),
] %}
{% set sectionButtonsNavListClasses = [
  "bf-section-buttons-nav__list",
  "list gap-4",
  (hasDescription ? "bf-section-buttons-nav__list--has-description"),
] %}

{# Template #}
<section {{ macros.addAttributes({
  "class": sectionButtonsNavClasses|join(' ')|trim,
}, extraAttribute) }}>
  <div class="container-fluid-percentage d-flex flex-column align-items-center py-6 px-4">
    {% if hasTitle %}
      {% embed "@bf-utils/custom-tag/twig/index.twig" with {
        customTag: titleTag,
        attr: {
          "class": "h2 mb-4 text-center title-max-w"
        },
      } %}
        {% block customTagContent %}
          {{ title }}
        {% endblock %}
      {% endembed %}
    {% endif %}

    {% if hasButtons %}
      <ul class="{{ sectionButtonsNavListClasses|join(' ')|trim }}">
        {% for button in buttons %}
          <li class="bf-section-buttons-nav__item">
            {% set button =
              button|merge({
                class: "h-100 align-items-start " ~ (button.class),
                highlight: (isBackgroundHighlight)
              })
            %}
            {% include "@bf-components/button-nav/twig/index.twig" with button %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  {% if hasAsideSection %}
    <div
      class="
        bf-section-buttons-nav__right-section d-flex flex-column justify-content-center
        align-items-center bf-color-bg-underground text-center p-6
      "
    >
      <div class="bf-section-buttons-nav__right-section__inner">
        {% if hasAsideSectionTitle %}
          <h2>
            {{ asideSection.title }}
          </h2>
        {% endif %}
        {% if hasAsideSectionDescription %}
          <p>
            {{ asideSection.description }}
          </p>
        {% endif %}
        {% if hasAsideSectionLink %}
          {% include "@bf-components/link/twig/index.twig" with asideSection.link only %}
        {% endif %}
      </div>
    </div>
  {% endif %}
</section>
