{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Default Variables (Props, Controls) - Pre Boolean Variables #}
{% set imagePosition = imagePosition|default("left") %}
{% set textAlign = textAlign|default("left") %}

{# Boolean Variables #}
{% set hasButtons = buttons is defined and buttons is not empty %}
{% set hasDescription = description is defined and description is not empty %}
{% set hasIcon = image.icon is defined and image.icon is not empty %}
{% set hasIconPosition = image.icon.position is defined and image.icon.position is not empty %}
{% set hasImage = image is defined and image.src is not empty %}
{% set hasLinks = links is defined and links is not empty %}
{% set hasRowButtons = rowButtons is defined and rowButtons is not empty %}
{% set hasTitle = title is defined and title is not empty %}
{% set hasSubitle = subtitle is defined and subtitle is not empty %}
{% set hasUpperTitle = upperTitle is defined and upperTitle is not empty %}
{% set isImageIsFillFalse = (image.isFill ?? false) is same as(false) %}
{% set isImageIsDarkTrue = (image.isDark ?? false) is same as(true) %}
{% set isImagePositionRight = imagePosition is same as("right") %}
{% set isTextAlignCenter = textAlign is same as("center") %}
{% set isReversed = (reversed ?? false) is same as(true) %}

{# Default Variables (Props, Controls) - Post Boolean Variables #}
{% set background = background|default("ground") %}
{% set class = class|default("") %}
{% set titleTag = titleTag|default("p") %}

{# Classes Objects #}
{% set backgroundClasses = {
  ("ground"): "bf-color-bg-ground",
  ("underground"): "bf-color-bg-underground",
} %}

{# Arrays of Classes With Dynamic Elements #}
{% set basicContentClasses = [
  "bf-basic-content d-block d-md-flex",
  (isTextAlignCenter ? "bf-basic-content--center"),
  (backgroundClasses[background]),
  (isReversed ? "reversed"),
  (class),
] %}
{% set basicContentVisualClasses = [
  "bf-basic-content__visual",
  (isImagePositionRight ? "order-0 order-md-1"),
  (hasIcon ? "bf-basic-content__visual--icon"),
  (hasIconPosition ? "bf-basic-content__visual--icon-" ~ image.icon.position),
  (isImageIsFillFalse ? "bf-basic-content__visual--fit"),
] %}

{# Template #}
<article class="{{ basicContentClasses|join(' ')|trim }}">
  <div class="container-fluid d-flex flex-column flex-md-row gap-4">
    {% if hasImage %}
      <div {{ macros.addAttributes({
        "class": basicContentVisualClasses|join(' ')|trim,
        "style": "background-image: url(" ~ image.src ~ ");",
      }) }}>
        {% if hasIcon %}
          {% set iconClasses = [
            "position-relative m-4",
            (isImageIsDarkTrue ? "reversed"),
          ] %}
          {% set icon =
            image.icon|merge({
              size: "large",
              class: iconClasses|join(' ')|trim,
            })
          %}
          {% include "@bf-components/icon/twig/index.twig" with icon only %}
        {% endif %}
      </div>
    {% endif %}

    <div class="bf-basic-content__inner d-flex flex-column gap-4">
      <div>
        {% if hasUpperTitle %}
          <p class="bf-text-interface-small mb-0">
            {{ upperTitle }}
          </p>
        {% endif %}

        {% if hasTitle %}
          {% embed "@bf-utils/custom-tag/twig/index.twig" with {
            customTag: titleTag,
            attr: {
              "class": "h2 mt-2 mb-0"
            },
          } %}
            {% block customTagContent %}
              {{ title }}
            {% endblock %}
          {% endembed %}
        {% endif %}

        {% if hasSubitle %}
          <p class="h4 mt-2 mb-0">
            {{ subtitle }}
          </p>
        {% endif %}
      </div>

      {% if hasDescription %}
        <div class="bf-text">
          {{ description|raw }}
        </div>
      {% endif %}

      {% if hasRowButtons %}
        <ul
          class="bf-list bf-list--divider border-top border-bottom bf-border-color-secondary"
          data-animate="fade-in"
        >
          {% for rowButton in rowButtons %}
            <li>
              {% include "@bf-components/row-button/twig/index.twig" with rowButton only %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if hasLinks %}
        <div
          class="bf--basic-content__links d-flex flex-wrap gap-3"
          data-animate="fade-in"
        >
          {% for link in links %}
            <a {{ macros.addAttributes({
              "href": link.href|default(""),
              "class": "bf-link bf-link--primary",
            }) }}>
              {{ link.label|default("") }}
            </a>
          {% endfor %}
        </div>
      {% endif %}

      {% if hasButtons %}
        <div
          class="bf-basic-content__buttons d-flex flex-wrap gap-3"
          data-animate="fade-in"
        >
          {% for button in buttons %}
            {% set defaultHierarchy = loop.index == 1 ? "primary-alt" : "secondary" %}
            {% set button =
              button|merge({
                hierarchy: button.hierarchy|default(defaultHierarchy),
                class: button.class
              })
            %}
            {% include "@bf-components/button/twig/index.twig" with button only %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</article>
