{# Boolean Variables #}
{% set hasButtons = buttons is defined and buttons %}
{% set hasDescription = description is defined and description %}
{% set hasIcon = image is defined and image.icon %}
{% set hasImage = image is defined and image.src %}
{% set hasLinks = links is defined and links %}
{% set hasRowButtons = rowButtons is defined and rowButtons %}
{% set hasTitle = title is defined and title %}
{% set hasSubitle = subtitle is defined and subtitle %}
{% set hasUpperTitle = upperTitle is defined and upperTitle %}

{# Default Variables #}
{% set class = class|default("") %}
{% set iconPosition = hasIcon ? image.icon.position %}
{% set imagePosition = imagePosition|default("left") %}
{% set titleTag = titleTag|default("h1") %}

{# Arrays of Classes With Dynamic Elements #}
{% set basicContentClasses = [
  "bf-basic-content d-block d-md-flex",
  (textAlign == "center" ? "bf-basic-content--center"),
  (
    (background|default("ground")) == "ground"
      ? "bf-color-bg-ground"
      : "bf-color-bg-underground"
  ),
  (reversed ? "reversed"),
  (class),
] %}
{% set basicContentVisualClasses = [
  "bf-basic-content__visual",
  (imagePosition == "right" ? "order-0 order-md-1"),
  (hasIcon ? "bf-basic-content__visual--icon"),
  (iconPosition ? "bf-basic-content__visual--icon-" ~ iconPosition),
  (image.isFill|default(false) ?: "bf-basic-content__visual--fit"),
] %}

{# Template #}
<article class="{{ basicContentClasses|join(' ')|trim }}">
  <div class="container-fluid d-flex flex-column flex-md-row gap-4">
    {% if hasImage %}
      <div
        class="{{ basicContentVisualClasses|join(' ')|trim }}"
        style="background-image: url({{ image.src }})"
      >
        {% if hasIcon %}
          {% set icon =
            image.icon|merge({
              size: "large",
              reversed: true,
              class: "position-relative m-4"
            })
          %}
          {% include "@bf-components/icon/twig/index.twig" with icon only %}
        {% endif %}
      </div>
    {% endif %}

    <div class="bf-basic-content__inner d-flex flex-column gap-4">
      <div>
        {% if hasUpperTitle %}
          <p class="bf-text-interface-small mb-0">
            {{ upperTitle }}
          </p>
        {% endif %}

        {% if hasTitle %}
          {% embed "@bf-utils/custom-tag/twig/index.twig" with {
            customTag: titleTag,
            attr: {
              "class": "h2 mt-2 mb-0"
            },
          } %}
            {% block customTagContent %}
              {{ title }}
            {% endblock %}
          {% endembed %}
        {% endif %}

        {% if hasSubitle %}
          <p class="h4 mt-2 mb-0">
            {{ subtitle }}
          </p>
        {% endif %}
      </div>

      {% if hasDescription %}
        <div class="bf-text">
          {{ description|raw }}
        </div>
      {% endif %}

      {% if hasRowButtons %}
        <ul
          class="bf-list bf-list--divider border-top border-bottom bf-border-color-secondary"
          data-animate="fade-in"
        >
          {% for rowButton in rowButtons %}
            <li>
              {% include "@bf-components/row-button/twig/index.twig" with rowButton only %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if hasLinks %}
        <div
          class="bf--basic-content__links d-flex flex-wrap gap-3"
          data-animate="fade-in"
        >
          {% for link in links %}
            <a
              href="{{ link.href|default("") }}"
              class="bf-link bf-link--primary"
            >
              {{ link.label|default("") }}
            </a>
          {% endfor %}
        </div>
      {% endif %}

      {% if hasButtons %}
        <div
          class="bf-basic-content__buttons d-flex flex-wrap gap-3"
          data-animate="fade-in"
        >
          {% for button in buttons %}
            {% set defaultHierarchy = loop.index == 1
              ? "primary-alt"
              : "secondary"
            %}
            {% set button =
              button|merge({
                hierarchy: button.hierarchy|default(defaultHierarchy),
                class: button.class
              })
            %}
            {% include "@bf-components/button/twig/index.twig" with button only %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</article>
