<div class="d-flex justify-content-between {{ class|default('') }}">
    <p class="m-0 h4 font-weight-{{ fontWeight|default('normal') }}">{{ item|default('Monthly Plan')|raw  }}</p>
    <p class="m-0 h4 font-weight-{{ fontWeight|default('normal') }}">{{ price|default('124,34$')|raw }}</p>
</div>