<div class="d-flex justify-content-between mb-2 small {{ class|default }}">
    <p class="m-0 color-{{ color|default('gray--700') }}">{{ item|default('Service')  }}</p>
    <p class="m-0 color-{{ color|default('gray--700') }}">{{ price|default('124,34$') }}</p>
</div>