{% if validationList is not defined %}
    {% set validationList = [
        { class:"", label:"1 lowercase letter" },
        { class:"is-valid", label:"1 capital letter" },
        { class:"is-invalid", label:"1 number" },
        { class:"is-invalid", label:"7 characters" },
    ] %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<div class="form-password js-form-password form-group {{ class|default('') }}">
    {% if label is defined and label is not empty %}
        <label for="{{ inputId }}"
               class="{{ labelClass|default('') }}"
               {{ labelExtraAttribute|default(NULL) }}>{{ label|default('Label TODO') }}
            {% if labelTooltipTxt is defined and labelTooltipTxt is not empty%}
                {% include '@atoms/02-buttons/25-button-tooltip.twig' with {
                    buttonClass: "p-0 ml-2 top-1",
                    buttonDisplay: "inline-flex",
                    tooltipTxt: labelTooltipTxt
                } only %}
            {% endif %}
        </label>
    {% endif %}

    <div class="position-relative">
        <input id="{{ inputId }}"
               class="form-control mt-0 js-form-password__input {{ inputClass|default('') }}"
               type="password"
               placeholder="{{ inputPlaceholder|default('Password') }}"
               name="{{ inputName|default('') }}"
               {{ extraAttribute|default(NULL) }}>

        <button class="js-form-password__btn position-absolute--center-right vui--style-reset h-100 p-input fs-3">
            {% include '@atoms/06-icons/icon-svg.twig' with {
                iconName: "eye",
                iconSize:2,
                iconClass:"form-password__icon__see"
            } only %}
            {% include '@atoms/06-icons/icon-svg.twig' with {
                iconName: "eye-dashed",
                iconSize:2,
                iconClass:"form-password__icon__hide"
            } only %}
        </button>

        {% if validationList is defined and validationList is not empty %}
            <div class="form-password__infos bg-gray--100 p-3 w-100 border card-rounded text-left">
                <p class="font-weight-medium mb-1">Please verify that you have :</p>
                <ul class="list-validation">
                    {% for item in validationList %}
                        <li class="{{ item.class|default('') }}">{{ item.label|default('') }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="invalid-feedback">
        {{ invalidMsg|default('This is an invalid error message') }}
    </div>

    {% if subInfos is defined and  subInfos is not empty%}
        <p class="mt-2 small">{{ subInfos }}</p>
    {% endif %}
</div>
