<div class="form-group {{ class|default('') }}">
    <input id="{{ inputId }}"
           class="mt-{{ mtValue|default('0') }} {{ inputClass|default('') }} btn btn-outline-{{ inputColor|default('dark') }} btn-{{ inputSize|default('md') }}"
           type="{{ inputType|default('submit') }}"
           name="{{ inputName|default('') }}"
           value="{{ inputValue|default('Submit this form') }}"
           {{ extraAttribute|default(NULL) }}>
</div><!-- /.form-group -->
