<div class="form-password js-form-password form-group {{ class|default('') }}">
    {% if label is defined and label is not empty %}
        <label for="{{ inputId }}"
               class="{{ labelClass|default('') }}"
               {{ labelExtraAttribute|default(NULL) }}>{{ label|default('Label TODO') }}
            {% if labelTooltipTxt is defined and labelTooltipTxt is not empty%}
                {% include '@atoms/02-buttons/25-button-tooltip.twig' with {
                    buttonClass: "p-0 ml-2 top-1",
                    buttonDisplay: "inline-flex",
                    tooltipTxt: labelTooltipTxt
                } only %}
            {% endif %}
        </label>
    {% endif %}

    <div class="position-relative">
        <input id="{{ inputId }}"
               class="form-control mt-0 js-form-password__input {{ inputClass|default('') }}"
               type="password"
               placeholder="{{ inputPlaceholder|default('Password') }}"
               name="{{ inputName|default('') }}"
               {{ extraAttribute|default(NULL) }}>

        <button class="js-form-password__btn position-absolute--center-right vui--style-reset h-100 p-input fs-3">
            {% include '@atoms/06-icons/icon-svg.twig' with {
                iconName: "eye",
                iconSize:2,
                iconClass:"form-password__icon__see"
            } only %}
            {% include '@atoms/06-icons/icon-svg.twig' with {
                iconName: "eye-dashed",
                iconSize:2,
                iconClass:"form-password__icon__hide"
            } only %}
        </button>
    </div>

    <div class="invalid-feedback">
        {{ invalidMsg|default('This is an invalid error message') }}
    </div>

    <a href="" class="link d-inline-block mt-2">Forgot your password</a>
</div>
