<div class="form-group w-{{ wValue|default('100') }} {{ class|default('') }}">
    <label for="account_address"
           class=""
           {{ labelExtraAttribute|default(NULL) }}>{{ label|default('Label') }}</label>

    <input readonly
           type="text"
           id="{{ inputId }}"
           class="form-control form-control{{ formControlValue|default('-md') }} vui--style-reset w-100 pl-{{ plValue|default('0') }} pr-{{ prValue|default('0') }} mt-{{ mtValue|default('0') }} {{ inputClass|default('') }}"
           value="{{ inputValue|default('Apt 1, 4594 Rue Chabot Montreal, Qc H2H 1Y3') }}"
           name="{{ inputName|default('') }}"
           {{ extraAttribute|default(NULL) }}>
</div>
