<div class="form-group {{ class|default('') }}">
    <div class="position-relative">
        <input id="{{ inputId }}"
               class="form-control mt-{{ mtValue|default('0') }} {{ inputClass|default('') }}"
               type="{{ inputType|default('text') }}"
               placeholder="{{ inputPlaceholder|default('') }}"
               name="{{ inputName|default('') }}"
               value="{{ inputValue|default('') }}"
                {{ extraAttribute|default(NULL) }}>

        <div class="icon--error d-none">
            {% include '@atoms/06-icons/icon-svg-error.twig' with { iconClass:"" } only %}
        </div>
    </div>


    <div class="invalid-feedback">
        {{ invalidMsg|default('This is an invalid error message') }}
    </div>
</div><!-- /.form-group -->
