{# DEMO purpose #}

{% if options is not defined %}
    {% set options = [
        { label:"2018", value:"2018", isSelected:true },
        { label:"2017", value:"2017" },
        { label:"2016", value:"2016" },
        { label:"2015", value:"2015" },
        { label:"2014", value:"2014" },
    ] %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<div class="form-group {{ class|default('') }}">

    {% if label %}
        <label for="{{ inputId }}"
            class="{{ labelClass|default('') }}"
            {{ labelExtraAttribute|default(NULL) }}>{{ label|default('Label') }}</label>
    {% endif %}

    <div class="select-container {{ selectContainerClass|default('') }}">
        <select id="{{ inputId }}" class="custom-select {{ selectClass|default('') }}" {{ extraAttribute|default(NULL) }}>
            {% if placeholder is defined %}
                <option value="" disabled selected>{{ placeholder|default('') }}</option>
            {% endif %}

            {% for option in options %}
                <option value="{{ option.value }}"
                        {% if option.isSelected|default(false) %}selected{% endif %}
                >{{ option.label }}</option>
            {% endfor %}
        </select>
    </div>

</div>
