{# Default Variables (Props, Controls) - Pre Boolean Variables #}
{% set align = align|default("left") %}

{# Boolean Variables #}
{% set hasDescription = description is defined and description is not empty %}
{% set hasTitle = title is defined and title is not empty %}
{% set isAlignCenter = align is same as("center") %}
{% set isReversed = reversed|default(false) is same as(true) %}

{# Default Variables (Props, Controls) - Post Boolean Variables #}
{% set background = background|default("ground") %}
{% set class = class|default("") %}
{% set titleTag = titleTag|default("h1") %}

{# Classes Objects #}
{% set backgroundClasses = {
  ("ground"): "bf-color-bg-ground",
  ("highlight"): "bf-color-bg-highlight highlight",
  ("underground"): "bf-color-bg-underground",
} %}

{# Arrays of Classes With Dynamic Elements #}
{% set sectionKeysClasses = [
  "bf-section-keys py-6 px-4",
  (backgroundClasses[background]),
  (isReversed ? "reversed"),
  (class),
] %}
{% set sectionKeysContainerClasses = [
  "container-fluid d-flex flex-column gap-4",
  (isAlignCenter ? "text-center align-items-stretch align-items-md-center"),
] %}
{% set sectionKeysListItemClasses = [
  "bf-section-keys__item d-flex flex-row flex-md-column align-items-start gap-4 p-0",
  (isAlignCenter ? "text-left text-md-center align-items-md-center"),
] %}

{# Template #}
<section class="{{ sectionKeysClasses|join(' ')|trim }}">
  <div class="{{ sectionKeysContainerClasses|join(' ')|trim }}">
    {% if hasTitle or hasDescription %}
      <header>
        {% if hasTitle %}
          {% embed "@bf-utils/custom-tag/twig/index.twig" with {
            customTag: titleTag,
            attr: {
              "class": "h2 mb-0"
            },
          } %}
            {% block customTagContent %}
              {{ title }}
            {% endblock %}
          {% endembed %}
        {% endif %}

        {% if hasDescription %}
          <p class="mb-0 mt-2">
            {{ description }}
          </p>
        {% endif %}
      </header>
    {% endif %}

    <ul class="list d-flex flex-column flex-md-row flex-wrap gap-4">
      {% for key in keys %}
        {# In Loop : Boolean Variables #}
        {% set hasKeyDescription = key.description is defined and key.description is not empty %}
        {% set hasKeyIconName = key.iconName is defined and key.iconName is not empty %}
        {% set hasKeyLink = key.link is defined and key.link is not empty %}
        {% set hasKeyTitle = key.title is defined and key.title is not empty %}

        <li class="{{ sectionKeysListItemClasses|join(' ')|trim }}">
          {% if hasKeyIconName %}
            {% include "@bf-components/icon/twig/index.twig" with {
              name: key.iconName,
              size: "large"
            } only %}
          {% endif %}

          <div>
            {% if hasKeyTitle %}
              {% embed "@bf-utils/custom-tag/twig/index.twig" with {
                customTag: key.titleTag|default("h2"),
                attr: {
                  "class": "h3 mb-0"
                },
              } %}
                {% block customTagContent %}
                  {{ key.title }}
                {% endblock %}
              {% endembed %}
            {% endif %}

            {% if hasKeyDescription %}
              <p class="small mb-0 mt-2">
                {{ key.description }}
              </p>
            {% endif %}

            {% if hasKeyLink %}
              {% set keyLink =
                key.link|merge({
                  hierarchy: "primary",
                  class: "mt-1"
                })
              %}
              {% include "@bf-components/link/twig/index.twig" with keyLink only %}
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
