{# Default Variables #}
{% set titleTag = titleTag|default("h1") %}
{% set align = align|default("left") %}

{# Background Classes #}
{% if background is defined and background == "highlight" %}
  {% set backgroundClass = "bf-color-bg-highlight highlight" %}
{% elseif background is defined and background == "underground" %}
  {% set backgroundClass = "bf-color-bg-underground" %}
{% else %}
  {% set backgroundClass = "bf-color-bg-ground" %}
{% endif %}

{# Arrays of Classes With Dynamic Elements #}
{% set sectionKeysClasses = [
  "bf-section-keys py-6 px-4",
  backgroundClass,
  (reversed|default(false) ? "reversed"),
  (class|default("")),
] %}
{% set sectionKeysContainerClasses = [
  "container-fluid d-flex flex-column gap-4",
  (
    align == "center"
      ? "text-center align-items-stretch align-items-md-center"
  ),
] %}
{% set sectionKeysListItemClasses = [
  "bf-section-keys__item d-flex flex-row flex-md-column align-items-start gap-4 p-0",
  (
    align == "center"
      ? "text-left text-md-center align-items-md-center"
  ),
] %}

{# Template #}
<section class="{{ sectionKeysClasses|join(' ')|trim }}">
  <div class="{{ sectionKeysContainerClasses|join(' ')|trim }}">
    {% if (title is defined and title) or (description is defined and description) %}
      <header>
        {% if title is defined and title %}
          {% embed "@bf-utils/custom-tag/twig/index.twig" with {
            customTag: titleTag,
            attr: {
              "class": "h2 mb-0"
            },
          } %}
            {% block customTagContent %}
              {{ title }}
            {% endblock %}
          {% endembed %}
        {% endif %}

        {% if description is defined and description %}
          <p class="mb-0 mt-2">{{ description }}</p>
        {% endif %}
      </header>
    {% endif %}

    <ul class="list d-flex flex-column flex-md-row flex-wrap gap-4">
      {% for key in keys %}
        <li class="{{ sectionKeysListItemClasses|join(' ')|trim }}">
          {% if key.iconName is defined and key.iconName %}
            {% include "@bf-components/icon/twig/index.twig" with {
              name: key.iconName,
              size: "large"
            } only %}
          {% endif %}

          <div>
            {% if key.title is defined and key.title %}
              {% embed "@bf-utils/custom-tag/twig/index.twig" with {
                customTag: key.titleTag|default("h2"),
                attr: {
                  "class": "h3 mb-0"
                },
              } %}
                {% block customTagContent %}
                  {{ key.title }}
                {% endblock %}
              {% endembed %}
            {% endif %}

            {% if key.description is defined and key.description %}
              <p class="small mb-0 mt-2">{{ key.description }}</p>
            {% endif %}

            {% if key.link is defined and key.link %}
              {% set keyLink =
                key.link|merge({
                  hierarchy: "primary",
                  class: "mt-1"
                })
              %}
              {% include "@bf-components/link/twig/index.twig" with keyLink only %}
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
