<div class='container my-4'>

    {# TODO: wrapp codeblock with brackets #}
    {# {% set openedBracket = "&#123;" %}
    {% set closedBracket = "&#125;" %} #}
    {# {{ "{{" | escape }}  #}

    <code>price|format_price(language)</code>
    <p>{{ price|format_price(language) }}</p>
    
    <hr />

    <code>price|format_price('fr')</code>
    <p>{{ price|format_price('fr') }}</p>

    <hr />

    <code>price|format_price('en')</code>
    <p>{{ price|format_price('en') }}</p>

    <hr />

    <code>price|format_price</code>
    <p>{{ price|format_price }}</p>

</div>