{% set inputValues = [ min.value, max.value ] %}

{% if value is not defined or value is empty %}
  {% set inputValues = [ min.value, max.value ] %}
{% elseif value is iterable and value[0] and value[1] %}
    {% if value[0] < value[1] %}
      {% set inputValues = value %}
    {% else %}
      {% set inputValues = [ value[1], value[0] ] %}
    {% endif %}
{% else %}
  {% if isInverted  %}
    {% set inputSliderVariant = '--min' %}
    {% set inputValues = [ value, max.value ] %}
  {% else %}
    {% set inputSliderVariant = '--max' %}
    {% set inputValues = [ min.value, value ] %}
  {% endif %}
{% endif %}

 {% set hasLegend = min.legend is defined and min.legend and max.legend is defined and max.legend %}
 {% set hasDescription = min.description is defined and min.description and max.description is defined and max.description %}

<div class='bf-input-slider {{ inputSliderVariant is defined ? 'bf-input-slider' ~ inputSliderVariant : '' }} js-bf-input-slider {{ class }}' }}>
  <div class='bf-input-slider__panel'>
    {# Overlay of the input double slider #}
    <div class='bf-input-slider__overlay'>
      <div class='bf-input-slider__track'></div>
      <div class='bf-input-slider__value'></div>
      {% for val in inputValues|slice(0,2) %}
        <p class='bf-input-slider__handle bf-input-slider__handle--{{ (loop.index == 1) ? 'left' : 'right' }}'>
          <label for='{{ (loop.index == 1) ? min.inputId : max.inputId }}' class='bf-input-slider__label'>
              {# keep unit and value on the same line to avoid whitespace #}
              {% if unitPosition is same as ('start') %}{{labelUnit}}{% endif %}<span class='bf-input-slider__label__value'></span>{% if unitPosition is not same as ('start') %}{{labelUnit}}{% endif %}
          </label>
        </p>
      {% endfor %}
    </div>

    {% for val in inputValues|slice(0,2) %}
      <input class='bf-input-slider__input__{{ loop.index == 1 ? 'min' : 'max' }}' type='range'
        max={{ max.value }}
        min={{ min.value }}
        step={{ step|default(1) }}
        id='{{ min.inputId }}'
        value={{ val }}
        data-unit='{{ labelUnit }}'
      />
    {% endfor %}
    </div>

  {% if hasLegend or hasDescription %}
    <div class='bf-input-slider__legend'>
      <p class='bf-input-slider__legend__min'>
      {{ min.legend|default('') }}
      {% if min.description is defined and min.description %}
        <strong>{{ min.description }}</strong>
      {% endif %}
      </p>

      <p class='bf-input-slider__legend__max'>
        {{ max.legend|default('') }}
        {% if max.description is defined and max.description %}
          <strong>{{ max.description }}</strong>
        {% endif %}
      </p>
    </div>
  {% endif %}
</div>
