{% set isLink       = href is defined and href is not empty %}
{% set hasImage     = image.src is defined and image.src is not empty %}
{% set hasIcon      = iconName is defined and iconName is not empty %}
{% set hasVisual    = hasImage or hasIcon %}

<{{ isLink ? 'a' : 'div' }}
    {% if isLink %}
        href='{{ href|default('') }}'
    {% endif %}
    class='bf-row-button d-flex align-items-center w-100 px-3 py-4 {{class|default('')}}'
>

    {% if hasVisual %}
        <div class='bf-row-button__visual mr-3'>
            {% if hasImage %}
                <img
                    src='{{ image.src|default('') }}'
                    data-src='{{ image.dataSrc|default('') }}'
                    alt='{{ image.alt|default('') }}'
                    class='w-100 h-100'
                />
            {% elseif hasIcon %}
                {% include '@bf-components/icon/twig/index.twig' with {
                    name    : iconName,
                    size    : 'large',
                    class   : 'w-100 h-100'
                } only %}
            {% endif %}
        </div>
    {% endif %}

    <div class='bf-row-button__content flex-grow-1'>
        {% if title is defined and title %}
            <h3 class='mb-1'>
                {{ title }}
            </h3>
        {% endif %}
        {% if paragraph is defined and paragraph %}
            <p class='small m-0'>
                {{ paragraph }}
            </p>
        {% endif %}
    </div>

    {% include '@bf-components/icon/twig/index.twig' with {
        name    : 'chevron-right',
        size    : 'small',
        class   : 'ml-3'
    } only %}
</{{ isLink ? 'a' : 'div' }}>