<span class="fa-stack fs-{{ iconSize|default('2') }} {{ iconClass|default('') }}">
  <i class="{{ iconStack2Family|default('fas') }} {{ iconStack2Name|default('fa-circle') }} fa-stack-2x {{ iconStack2Color|default('color--primary') }}"></i>
  <i class="{{ iconStack1Family|default('fas') }} {{ iconStack1Name|default('fa-info') }} fa-stack-1x fa-inverse {{ iconStack1Color|default('color--dark') }}"></i>
</span>