{# Boolean Variables #}
{% set hasHref = href is defined and href is not empty %}
{% set hasImage = image.src is defined and image.src is not empty %}
{% set hasIcon = iconName is defined and iconName is not empty %}
{% set hasLinkLabel = linkLabel is defined and linkLabel is not empty %}
{% set hasVisual = hasImage or hasIcon %}
{% set hasDescription = description_html is defined and description_html is not empty %}
{% set hasBadge = badge is defined and badge is not empty %}
{% set isClickable = isClickable|default(false) is same as(true) %}

{# Boolean Variables - ORDER IS IMPORTANT #}
{% set isLink = hasHref and isClickable %}
{% set haslink = hasHref and hasLinkLabel %}

{# Default Variables #}
{% set class = class|default("") %}
{% set componentTag = isLink ? "a" : "div" %}
{% set href = href|default("") %}
{% set title = title|default("") %}

{# Arrays of Classes With Dynamic Elements #}
{% set bannerClasses = [
  "bf-banner d-flex align-items-center",
  (hasVisual ? "bf-banner--has-visual"),
  (class),
] %}

{# Banner Attributes #}
{% set bannerAttributes = {
    "href": href,
    "class": bannerClasses|join(' ')|trim,
} %}

{# Template #}
{% embed "@bf-utils/custom-tag/twig/index.twig" with {
  customTag: componentTag,
  attr: bannerAttributes,
} %}
  {% block customTagContent %}
    {% if hasVisual %}
      <div class="bf-banner__visual">
        {% if hasImage %}
          <img
            src="{{ image.src|default("") }}"
            data-src="{{ image.dataSrc|default("") }}"
            alt="{{ image.alt|default("") }}"
            loading="lazy"
          />
        {% elseif hasIcon %}
          {% include "@bf-components/icon/twig/index.twig" with {
            name: iconName,
            size: "large"
          } only %}
        {% endif %}
      </div>
    {% endif %}

    <div class="bf-banner__content">
      <p class="small font-weight-bold mb-1">
        {{ title }}
      </p>
      {% if hasDescription %}
        <div class="small children--mb-1 last-child--mb-0">
          {{ description_html }}

          {% if haslink and isClickable is same as(false) %}
            <br />
            <a class="bf-link" href="{{ href }}">
              {{ linkLabel }}
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>

    {% if hasBadge %}
      {% if badge is iterable %}
        {% set badgeLabel = badge.label %}
      {% else %}
        {% set badge = {
          label: badge
        } %}
      {% endif %}

      {% set badge = badge|merge({
          angle: badge.angle|default("left")
        })
      %}
      {% include "@bf-components/badge/twig/index.twig" with badge only %}
    {% endif %}
  {% endblock %}
{% endembed %}
