{# DEMO purpose #}

{% if footer_links is not defined or footer_links is empty %}
    {% set footer_links = [
        { sectionTitle:'Discover', links: [
            { href:"#", label:"HELIX Experience" },
            { href:"#", label:"Internet" },
            { href:"#", label:"TV" },
            { href:"#", label:"TOC / Voice"},
            { href:"#", label:"Domotic"},
        ] },
        { sectionTitle:'Shop', links: [
            { href:"#", label:"Bundle & Deals" },
            { href:"#", label:"Internet Offers" },
            { href:"#", label:"Equipments" },
        ] },
        { sectionTitle:'My Helix', links: [
            { href:"#", label:"Overview" },
            { href:"#", label:"Billing & Payment" },
            { href:"#", label:"Services" },
            { href:"#", label:"Profile & Settings" },
            { href:"#", label:"Pay my Bill" },
            { href:"#", label:"Manage my Account" },
        ] },
        { sectionTitle:'Support', links: [
            { href:"#", label:"Helix Customer Service" },
            { href:"#", label:"Bills & Payments" },
            { href:"#", label:"Helix Help" },
            { href:"#", label:"Support Forums" },
        ] },
        { sectionTitle:'Ressources', links: [
            { href:"#", label:"TV Everywhere" },
            { href:"#", label:"Webmail" },
            { href:"#", label:"Club illico" },
            { href:"#", label:"Store Locator" },
            { href:"#", label:"Contact Us" },
        ] },

    ] %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<!-- footer-nav-3.twig -->
<nav class="navbar--footer navbar-dark navbar-expand-lg border-bottom border-top py-0 py-lg-4 py-md-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 order-2 order-lg-1 d-flex flex-column flex-lg-row" data-animate-row="">
                {% for footer_link in footer_links %}
                    <div class="col-lg border-top-gray--800 border-top-lg--0" data-animate="fade-in">
                        <button class="navbar-toggler navbar-toggler--dynamic-arrow-direction vui--style-reset px-0 py-3 w-100 d-flex justify-content-between align-items-center d-lg-none"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbarNav_{{ footer_link.sectionTitle }}"
                                aria-controls="navbarNav_{{ footer_link.sectionTitle }}"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                        >
                          <span class="navbar-brand pr-md-5" href="#">
                              <span class="mb-0 h5">{{ footer_link.sectionTitle }}</span>
                          </span>
                          {% include '@atoms/06-icons/icon-arrow-to-bottom.twig' with { iconClass:"icon-light p-1", iconMarginLeft:"0" } %}
                        </button>

                        <p class="mb-2 font-weight-bold d-none d-lg-block">{{ footer_link.sectionTitle }}</p>

                        <ul class="collapse navbar-collapse align-items-lg-start flex-lg-column mb-0 pl-0 list-reset"
                            id="navbarNav_{{ footer_link.sectionTitle }}">
                            {% for link in footer_link.links %}
                                <li class="p-0 mb-2">
                                    {% include '@atoms/04-links/link-default-optimized.twig' with {
                                        href:link.href,
                                        label:link.label,
                                        class:"d-block d-lg-inline py-2 py-lg-0",
                                        rel:link.rel|default("dofollow")
                                    } %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>

            <div class="col-lg-2 order-1 order-lg-2 py-3 text-center" data-animate="fade-in">
                {% include '@atoms/04-links/link-back-to-top.twig' with {
                    label:backToTopLabel|default('Back to top'),
                    class:"link-back-to-top h6 font-weight-normal"
                } %}
            </div>
        </div>
    </div>
</nav>
