{% set reversed         = reversed|json_parse %}
{% set isDisabled       = isDisabled|json_parse %}
{% set isSelected       = isSelected|json_parse %}
{% set image            = image|json_parse %}
{% set iconName         = iconName|json_parse %}
{% set isInvalid        = isInvalid|json_parse %}
{% set required         = required|json_parse %}
{% set extraAttribute   = extraAttribute|json_parse %}

<div class='container' {{ (orientation == 'horizontal') ? 'style="max-width :600px"':'style="max-width :1200px"'}}>
  {% for index in 1..5 %}
    <div class='p-3 {{ (index == 2 or index == 4) ? 'bf-color-bg-underground' }} {{ (reversed or index == 3 or index == 4) ? 'reversed  bf-color-bg-ground' : '' }} {{ index == 5 ? 'bf-color-bg-highlight' : '' }}' >
      <div class='d-flex gap-2 {{ (orientation == 'vertical') ? 'flex-row flex-wrap' : 'flex-column' }}'>
        {% include '@bf-components/selection-tile/twig/index.twig' with {
          value       : value,
          inputId     : (inputId ~ '1' ~ loop.index)|default(inputId ~ '1' ~ loop.index),
          name        : name|default(name ~ loop.index),
          ariaLabel   : (ariaLabel ~ '1' ~ loop.index)|default( ariaLabel ~ '1' ~ loop.index ),
          isSelected  : isSelected|default(true),
        }  %}

        {% include '@bf-components/selection-tile/twig/index.twig' with {
          value       : value,
          inputId     : (inputId ~ '2' ~ loop.index)|default(inputId ~ '2' ~ loop.index),
          name        : name|default(name ~ loop.index),
          ariaLabel   : (ariaLabel ~ '2' ~ loop.index)|default(ariaLabel ~ '2' ~ loop.index),
          title       : title|default('Selection tile title'),
          iconName    : iconName|default('helix-tv-remote'),
        }  %}

        {% include '@bf-components/selection-tile/twig/index.twig' with {
          value       : value,
          inputId     : (inputId ~ '3' ~ loop.index)|default(inputId ~ '3' ~ loop.index),
          name        : name|default(name ~ loop.index),
          ariaLabel   : (ariaLabel ~ '3' ~ loop.index)|default(ariaLabel ~ '3' ~ loop.index),
          title       : title|default('Selection tile title'),
          description : description|default('lorem ipsum html descriptum<sup>*</sup>'),
          info        : info|default('12.34 $/Mois'),
        }  %}
        {% include '@bf-components/selection-tile/twig/index.twig' with {
          value       : value,
          inputId     : (inputId ~ '4' ~ loop.index)|default(inputId ~ '4' ~ loop.index),
          name        : name|default(name ~ loop.index),
          ariaLabel   : (ariaLabel ~ '4' ~ loop.index)|default(ariaLabel ~ '4' ~ loop.index),
          title       : title|default('Selection tile title'),
          description : description|default('lorem ipsum html <em>descriptum</em><sup>*</sup>'),
          image       : image|default({src:'/images/_docs/abstract-background.png',alt:'abstract background',class:'',}),
          info        : info|default('12.34 $/Mois'),
        }  %}

        {% include '@bf-components/selection-tile/twig/index.twig' with {
          value       : value,
          inputId     : (inputId ~ '5' ~ loop.index)|default(inputId ~ '5' ~ loop.index),
          name        : name|default(name ~ loop.index),
          ariaLabel   : (ariaLabel ~ '5' ~ loop.index)|default(ariaLabel ~ '5' ~ loop.index),
          title       : title|default('Selection tile title'),
          description : description|default('lorem ipsum html <em>descriptum</em><sup>&reg;</sup>'),
          iconName    : iconName|default('helix-tv-remote'),
          info        : info|default('22.34 $/Mois'),
          isDisabled  : isDisabled|default(true),
        } %}
      </div>
    </div>
  {% endfor %}
</div>