<div class="card {{ themeColor|default('bg-transparent') }}">
    <div class="card-body {{ class|default('pl-0') }}">
        <h3 class="{{ headingClass|default('h5') }}">
            <a href="{{ cardHref|default('#') }}">{{ cardHeading|default('List-based media object') }}</a>
        </h3>
        <p class="card-text">{{ text|default('Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis.') }}</p>
    </div>
</div><!-- /.card -->