<div class="card card-rounded {{ cardColor|default('vui--style-black') }}  {{ class|default('') }}">
    <div class="card-body" data-animate-row="">
        <div class="d-flex align-items-center mb-4" data-animate="fade-in">
            <img src="{{ iconImgSrc|default('') }}" class="mr-3" alt="">
            <h2 class="mb-0">{{ cardTitle|default('Helix xFi') }}</h2>
        </div>

        <p class="h4 mb-6" data-animate="fade-in">{{ cardTxt|default("Now you can personalize and control your WIFI") }}</p>

        <div class="mt-5 d-flex" data-animate="fade-in">
            <a href="{{ hrefGoogle|default('') }}" {{ extraAttributeGoogle|default(NULL) }}>
                <img src="/images/logo/google-play.svg" class="img-fluid mr-1" alt="">
            </a>
            <a href="{{ hrefAppStore|default('') }}" {{ extraAttributeAppStore|default(NULL) }}>
                <img src="/images/logo/app-store.svg" class="img-fluid" alt="">
            </a>
        </div>
    </div>
</div>
