<html>
    <head>
        {# TODO: replace this URL by a CSS build upon SASS in this repo. #}
        <link href='https://videotron.com/residentiel/static/css/videotron-core.css' rel='stylesheet'>
        {# <link href='http://localhost:9008/styles/base.css' rel='stylesheet'> #}

        <style>
            .center {
                display: flex; 
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body>

        
        {# <pre>{{ dump(_context|json_encode) }}</pre> #}
        {# 
        TODO:
        - Query Booleans are still string and seems difficult to convert. E.g. disabled="true"
         #}

        {# {% set context = _context|replace({'b': 'z'}) %}
        <pre>{{ dump(_context) }}</pre> #}
{# 
        {% set array = [] %}
        {% for key, value in _context %}
            key: {{key}} - value:{{value}}<br/>
            {% if value is same as("true") %} -{{_val}}- {% endif %}
            {% set array = array|merge({ key: value }) %}
        {% endfor %}
        ---
        {% for x in array %}
            {{ x }}<br/>
        {% endfor %}
        --- #}
        {# <pre>{{ dump(array) }}</pre> #}

        <main class='center'>

            {# For DEBUG puropose: #}
            {# <pre>{{ dump(_context) }}</pre> #}

            {% if _context.elementPath is defined %}
                
                {% set elementPath = _context.elementPath %}
                {# {% include './button.twig' with _context %} #}
                {# {% set elementName = _context.elementName %} #}
                {# {% set elementVariant = _context.elementVariant|default(elementName) %} #}
                {# {% set context = _context %} #}
                {% include './' ~ elementPath ~ '.twig' with _context %}
                {# {% include '@my-project/button.twig' with _context %} #}
                
            {% else %}

                <p>Please provide a <b>elementPath</b> properties in URL. </p>
                <p>E.g. http://localhost:3001/api/twig?elementPath=components/button/twig/button</p>
                <pre>{{ dump(_context) }}</pre>
            {% endif %}

        <main>
    </body>
</html>


