
{% if language is not defined %}
    {% set language = 'en' %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}
<div class='bf-price bf-price--{{ size|default('sm') }} d-flex flex-column {{ class|default('') }}'>

    {% if uppertitle is defined and uppertitle is not empty %}
        <p class='small bf-color-neutral-secondary mb-0'>
            {{ uppertitle|default('') }}
        </p>
    {% endif %}

    <div class='bf-price__infos d-inline-flex'>

        {% if language == 'en' %}
            <span class='bf-price__dollarsign'>$</span>
        {% endif %}

        <div class='d-flex'>
            
            <span class='bf-price__dollar {{ dollarClass|default('') }}'>
                {{ dollar|default('00')}}
            </span>
            
            <div class='d-flex flex-column justify-content-between ml-1'>
                <div class='d-flex align-items-baseline'>

                    {% if cent is defined %}
                        <span class='bf-price__cent'>
                            {{ cent|default('00')}}
                        </span>
                    {% endif %}

                    {% if language == 'fr' %}
                        <span class='bf-price__dollarsign ml-1'>$</span>
                    {% endif %}

                    {% if hasAsterisk is defined and hasAsterisk is same as (true) %}
                        <span class='small'>*</span>
                    {% endif %}

                    {# 
                    {%  if itemTitleTooltipInfos is defined and itemTitleTooltipInfos is not empty %}
                        {% include '@atoms/02-buttons/25-button-tooltip.twig' with {
                            buttonClass:'pl-1 pr-1 d-inline-flex',
                            tooltipTxt: itemTitleTooltipInfos,
                            iconColor: iconTooltipColor|default('svg-fill--dark')
                        } %}
                    {% endif %}
                    #}
                </div>
                
                {% if details is defined %}
                    <p class='small mb-0 mt-minus-2'>
                        {{ details|default('')|raw }}
                    </p>
                {% endif %}
                
            </div>
        </div>

        {# {% if priceSavings is defined and priceSavings is not empty %}
            <p class='small color--primary mb-0'>
                {{ priceSavings|raw }}
            </p>
        {% endif %} #}
    </div>

    {% if dashed is defined or saved is defined %}
        <div class='d-inline-flex align-items-start mt-2'>

            {% if dashed is defined and dashed is not empty %}
                <p class='small vui--text-dashed mr-3 mb-0'>
                    {{ dashed|default('') }}
                </p>
            {% endif %}

            {% if saved is defined and saved is not empty %}
                <p class='small bf-display-highlight d-inline-flex flex-wrap mb-0'>
                    <span class='mr-1'>
                        {{ savedLabel|default('You save :') }}
                    </span>
                    <span class='font-weight-bold'>
                        {{ saved|default('')|raw }}
                    </span>
                </p>
            {% endif %}

        </div>
    {% endif %}

    {% if message is defined and message is not empty %}
        <p class='small bf-color-neutral-secondary mb-0 mt-1'>
            {{ message|price_one_line }}
        </p>
    {% endif %} 
</div>

