{% set language = language|default('en') %}

<div class='
    bf-price bf-price--{{ size|default('small') }} d-flex flex-column
    {% if fullWidth is defined and fullWidth is same as (true) %}w-100{% endif %}
    {{ class|default('') }}'>
    
    {% if upperTitle is defined and upperTitle is not empty %}
        <p class='small bf-color-neutral-secondary mb-0'>
            {{ upperTitle|default('') }}
        </p>
    {% endif %}

    {% if upfront is defined and upfront is not empty %}
        <p class='mb-0'>
            {% apply spaceless %}
                {% if language == 'en' %}
                    <span class='bf-text-display-sub-small' style='padding-right: 2px'>$</span>
                {% endif %}
                {# TODO: Reduce the line-height of bf-text-interface-large. #}
                <span class='bf-text-interface-large'>{{ upfront.dollar|default('0') }}</span>
                {% if language == 'fr' %}
                    <span class='bf-text-display-sub-small' style='padding-left: 2px'>$</span>
                {% endif %}
                <span class='bf-text-display-sub-medium pl-1'>{{ upfront.label|default('upfront') }}</span>
            {% endapply %}
        </p>
    {% endif %}

    <div class='d-flex gap-2 justify-content-between {% if promotion.direction is defined and promotion.direction == 'horizontal' %}flex-row{% else %}flex-column{% endif %}'>

        <div class='bf-price__infos d-inline-flex'>

            {% if language == 'en' %}
                <sup class='bf-price__dollarsign'>$</sup>
            {% endif %}

            <div class='d-flex' aria-label='$ {{ dollar|default('0')}}.{{ cent|default('00')}} {{ details|default('')|raw }}'>
                
                <span class='bf-price__dollar {{ dollarClass|default('') }}'>
                    {{ dollar|default('00')}}
                </span>
                
                <div class='d-flex flex-column justify-content-between ml-1'>
                    <div class='d-flex align-items-baseline'>

                        {% if cent is defined %}
                            <span class='bf-price__cent'>
                                {{ cent|default('00')}}
                            </span>
                        {% endif %}

                        {% if language == 'fr' %}
                            <sup class='bf-price__dollarsign ml-1'>$</sup>
                        {% endif %}

                        {% if hasAsterisk is defined and hasAsterisk is same as (true) %}
                            <sup class='small'>*</sup>
                        {% endif %}

                        {# 
                        {%  if itemTitleTooltipInfos is defined and itemTitleTooltipInfos is not empty %}
                            {% include '@atoms/02-buttons/25-button-tooltip.twig' with {
                                buttonClass:'pl-1 pr-1 d-inline-flex',
                                tooltipTxt: itemTitleTooltipInfos,
                                iconColor: iconTooltipColor|default('svg-fill--dark')
                            } %}
                        {% endif %}
                        #}
                    </div>
                    
                    {% if details is defined %}
                        <span class='bf-price__details'>
                            {{ details|default('')|raw }}
                        </span>
                    {% endif %}
                    
                </div>
            </div>

        </div>

        {% if promotion is defined or dashed is defined or saved is defined %}
            <div class='d-inline-flex align-items-center'>

                {% if promotion.priceStriked is defined or dashed is defined %}
                    <p class='small text-strike mr-2 mb-0'>
                        {% if promotion.priceStriked is defined and promotion.superscript %}
                            {{ promotion.priceStriked }}
                        {% elseif dashed is defined and dashed %}
                            {{ dashed }}
                        {% endif %}
                    </p>
                {% endif %}

                {% if promotion.priceSaved is defined or saved is defined %}
                    <p class='small bf-display-highlight d-inline-flex align-items-center flex-wrap mb-0'>
                        <span class='mr-1'>
                            {% if promotion.savedLabel is defined %}
                                {{ promotion.savedLabel }}
                            {% elseif savedLabel is defined %}
                                {{ savedLabel }}
                            {% endif %}
                        </span>
                        <span class='font-weight-bold'>
                            {% if promotion.priceSaved is defined and promotion.priceSaved %}
                                {{ promotion.priceSaved|raw }}
                            {% elseif saved is defined and saved %}
                                {{ saved|raw }}
                            {% endif %}
                        </span>
                        {% if promotion.superscript is defined and promotion.superscript %}
                            <sup class='bf-price__superscript'>{{ promotion.superscript }}</sup>
                        {% endif %}
                    </p>
                {% endif %}

            </div>
        {% endif %}

    </div>

    {% if message is defined and message is not empty %}
        <p class='small bf-color-neutral-secondary mb-0 mt-1'>
            {{ message|price_one_line }}
        </p>
    {% endif %} 
</div>

