{# Default Variables (Props, Controls) - Pre Boolean Variables #}
{% set cent = cent|default("00") %}
{% set class = class|default("") %}
{% set dollar = dollar|default("0") %}
{% set dollarClass = dollarClass|default("") %}
{% set language = language|default("en") %}
{% set size = size|default("small") %}

{# Boolean Variables #}
{% set hasAsterisk = (hasAsterisk ?? false) is same as(true) %}
{% set hasCent = cent is defined and cent is not empty %}
{% set hasDashed = dashed is defined and dashed is not empty %}
{% set hasDetails = details is defined and details is not empty %}
{% set hasMessage = message is defined and message is not empty %}
{% set hasPromotion = promotion is defined and promotion is not empty %}
{% set hasPromotionDirection = promotion.direction is defined and promotion.direction is not empty %}
{% set hasPromotionPriceSaved = promotion.priceSaved is defined and promotion.priceSaved is not empty %}
{% set hasPromotionPriceStriked = promotion.priceStriked is defined and promotion.priceStriked is not empty %}
{% set hasPromotionSavedLabel = promotion.savedLabel is defined and promotion.savedLabel is not empty %}
{% set hasPromotionSuperscript = promotion.superscript is defined and promotion.superscript is not empty %}
{% set hasPromotionTitle = promotion.title is defined and promotion.title is not empty %}
{% set hasSaved = saved is defined and saved is not empty %}
{% set hasSavedLabel = savedLabel is defined and savedLabel is not empty %}
{% set hasUpfrontDollar = upfront.dollar is defined and upfront.dollar is not empty %}
{% set hasUpfrontLabel = upfront.label is defined and upfront.label is not empty %}
{% set hasUpperTitle = upperTitle is defined and upperTitle is not empty %}
{% set isFullWidth = (fullWidth ?? false) is same as(true) %}
{% set isLanguageEN = language is same as("en") %}
{% set isLanguageFR = language is same as("fr") %}
{% set isPriceBoxDisplayed = (isPriceBoxDisplayed ?? true) is same as(true) %}
{% set isPromotionDisplayed = (promotion.isDisplayed ?? true) is same as(true) %}
{% set isPromotionDirectionHorizontal = hasPromotionDirection and promotion.direction is same as("horizontal") %}
{% set isSizeIsAnObject = size is defined and size is iterable and size.default is not empty %}

{# Default Variables (Props, Controls) - Post Boolean Variables #}
{% set details = details|default("")|raw %}

{% if isSizeIsAnObject %}
  {% set sizeDefault = size.default %}
  {% set sizeSM = size.sm|default("") %}
  {% set sizeMD = size.md|default("") %}
  {% set sizeLG = size.lg|default("") %}
  {% set sizeXL = size.xl|default("") %}
  {% set sizeXXL = size.xxl|default("") %}
{% else %}
  {% set sizeDefault = size %}
{% endif %}

{# Arrays of Classes With Dynamic Elements #}
{% set priceContainerClasses = [
  "bf-price",
  "bf-price--" ~ sizeDefault,
  (sizeSM is not empty ? "bf-price--sm--" ~ sizeSM),
  (sizeMD is not empty ? "bf-price--md--" ~ sizeMD),
  (sizeLG is not empty ? "bf-price--lg--" ~ sizeLG),
  (sizeXL is not empty ? "bf-price--xl--" ~ sizeXL),
  (sizeXXL is not empty ? "bf-price--xxl--" ~ sizeXXL),
  "d-flex flex-column",
  (isFullWidth ? "w-100"),
  (class),
] %}
{% set promotionContainerClasses = [
  "promotion-container",
  (isPromotionDirectionHorizontal ? "flex-row justify-content-between" : "flex-column"),
] %}

{# Keep backward compatibility #}
{% if hasDashed or hasSaved or hasSavedLabel %}
  {% set promotion = promotion|default({}) %}
  {% set promotion =
    promotion|merge({
      priceStriked: promotion.priceStriked|default(dashed),
      priceSaved: promotion.priceSaved|default(saved),
      savedLabel: promotion.savedLabel|default(savedLabel)
    })
  %}
{% endif %}

{# Template #}
<div class="{{ priceContainerClasses|join(' ')|trim }}">
  {% if hasUpperTitle %}
    <p class="small bf-color-neutral-secondary mb-1">
      {{ upperTitle }}
    </p>
  {% endif %}

  {% if hasUpfrontDollar or hasUpfrontLabel %}
    <p class="bf-price__upfront mb-1">
      {% apply spaceless %}
        {% if isLanguageEN %}
          <span
            class="bf-text-display-sub-small"
            style="padding-right: 2px"
          >$</span>
        {% endif %}
        {# TODO: Reduce the line-height of bf-text-interface-large. #}
        <span class="bf-text-interface-large">
          {{- upfront.dollar|default("0") -}}
        </span>
        {% if isLanguageFR %}
          <span
            class="bf-text-display-sub-small"
            style="padding-left: 2px"
          >$</span>
        {% endif %}
        <span class="bf-text-display-sub-small pl-1">
          {{- upfront.label|default("upfront") -}}
        </span>
      {% endapply %}
    </p>
  {% endif %}

  {% if isPriceBoxDisplayed %}
    <div class="{{ promotionContainerClasses|join(' ')|trim }}">
      <div class="bf-price__infos">
        {% if isLanguageEN %}
          <sup class="bf-price__dollarsign mt-n1">$</sup>
        {% endif %}

        <div
          class="d-flex"
          aria-label="$ {{ dollar }}.{{ cent }} {{ details }}"
          role="contentinfo"
        >
          <span
            class="bf-price__dollar {{ dollarClass }}"
            role="contentinfo"
          >
            {{ dollar }}
          </span>

          <div class="d-flex flex-column">
            <div class="d-flex align-items-start">
              {% if hasCent %}
                <span class="bf-price__cent ml-1">
                  {{ cent }}
                </span>
              {% endif %}
              {% if isLanguageFR %}
                <sup class="bf-price__dollarsign ml-1">$</sup>
              {% endif %}
              {% if hasAsterisk %}
                <sup class="bf-price__asterisk">*</sup>
              {% endif %}
            </div>

            {% if hasDetails %}
              <span class="bf-price__details ml-1">
                {{ details }}
              </span>
            {% endif %}
          </div>
        </div>
      </div>

      {% if hasPromotion %}
        <div class="d-flex flex-column justify-content-center">
          {% if hasPromotionTitle %}
            <p class="small mb-1">
              {{ promotion.title }}
            </p>
          {% endif %}
          <div class="d-inline-flex">
            {% if hasPromotionPriceStriked %}
              <p class="small text-strike mr-2 mb-0">
                {# If the decimal separator is a "comma", then the price was set in english #}
                {% set priceStrikedComma = promotion.priceStriked|split(',') %}
                {# If the decimal separator is a "dot", then the price was set in french #}
                {% set priceStrikedDot = promotion.priceStriked|split('.') %}

                {% if isLanguageEN %}
                  {% if priceStrikedDot|length > 1 %}
                    {% set reconstructedPrice = priceStrikedDot[0] ~ "," ~ priceStrikedDot[1] %}
                    ${{ reconstructedPrice }}
                  {% else %}
                    ${{- promotion.priceStriked|replace({'.', ','}) -}}
                  {% endif %}
                {% endif %}
                {% if isLanguageFR %}
                  {% if priceStrikedComma|length > 1 %}
                    {% set reconstructedPrice = priceStrikedComma[0] ~ "." ~ priceStrikedComma[1] %}
                    {{ reconstructedPrice }}&nbsp;$
                  {% else %}
                    {{- promotion.priceStriked|replace({',', '.'}) -}}&nbsp;$
                  {% endif %}
                {% endif %}
              </p>
            {% endif %}

            {% if (hasPromotionSavedLabel or hasPromotionPriceSaved or hasPromotionSuperscript) and isPromotionDisplayed %}
              <p class="small bf-display-highlight mb-0">
                {% if hasPromotionSavedLabel %}
                  <span class="mr-1">
                    {{ promotion.savedLabel }}
                  </span>
                {% endif %}
                <span class="price-superscript">
                  {% if hasPromotionPriceSaved %}
                    <span class="font-weight-bold">
                      {% if isLanguageEN %}${% endif %}
                      {{- promotion.priceSaved -}}
                      {% if isLanguageFR %}&nbsp;${% endif %}
                    </span>
                  {% endif %}
                  {% if hasPromotionSuperscript %}
                    <sup class="bf-price__superscript">
                      {{ promotion.superscript }}
                    </sup>
                  {% endif %}
                </span>
              </p>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if hasMessage %}
    <p class="small bf-color-neutral-secondary mb-0 mt-1">
      {{ message|price_one_line|raw }}
    </p>
  {% endif %}
</div>
