
{% if variant is same as ('promotion') %}
  {% set variantClass       = 'bf-badge--promotion' %}
  {% set hierarchy   = 'tertiary' %}
  {% set isRounded   = true %}
{% endif %}

<div class='bf-badge  {{ variantClass|default('') }} bf-badge--{{ hierarchy|default('secondary') }} {% if isRounded %} bf-badge--rounded {% elseif angle is defined and angle %} bf-badge--angle-{{ angle }} {% endif %} {{ class|default('') }}'>
  <div class='bf-badge__inner position-relative'>
    <p class='bf-text-interface-small bf-badge__label {% if noUppercase is defined and noUppercase %}text-transform-initial{% endif %}'>
      {% if iconName is defined and iconName %}
        {% include '@bf-components/icon/twig/index.twig' with {
          name  : iconName,
          class : 'pr-1',
          size  : 'small',
        } only %}
      {% endif %}

      <span class='bf-badge__label__text'>
        {{ label|default('') }}
      </span>
    </p>
  </div>
</div>