{# Default Variables (Props, Controls) #}
{% set _reversed = _reversed|json_parse %}
{% set icons = icons|json_parse %}
{% set size = size|json_parse %}

{# Boolean Variables #}
{% set isSizeHuge = size is same as("huge") %}

{# Arrays of Classes With Dynamic Elements #}
{% set mainContainerClasses = [
  "pt-4 bf-color-bg-ground",
  (_reversed ? "reversed"),
] %}

{# Template #}
{% if isSizeHuge %}
  <div class="bf-color-bg-underground p-4">
    <p class="small mb-0">
      <b>Huge icons</b> should only be displayed in <b>Hero components</b>. Do
      not use in other context.
    </p>
  </div>
{% endif %}

<div class="{{ mainContainerClasses|join(' ')|trim }}">
  {% if name is defined
      and name is not same as("undefined")
      and name is not same as("- All icons -")
  %}
    <div class="d-flex flex-wrap flex-column align-items-center">
      {% include "@bf-components/icon/twig/index.twig" with {
        class: class,
        color: color,
        name: name,
        size: size
      } only %}
      <p class="small bf-color-neutral-secondary pt-1">
        {{ name }}
      </p>
    </div>
  {% else %}
    <div class="container-fluid h-100">
      {% if icons is defined %}
        {% for category in icons %}

          {# In Loop : Arrays of Classes With Dynamic Elements #}
          {% set innerContainerClasses = [
            "doc-list",
            (isSizeHuge ? "doc-list--huge"),
          ] %}

          <div class="d-flex flex-wrap align-content-start my-4">
            <h4 class="w-100">
              {{ category.category }}
            </h4>
            <div class="{{ innerContainerClasses|join(' ')|trim }}">
              {% for iconName in category.list %}
                <div
                  class="d-flex flex-column align-items-center p-3"
                  title="{{ iconName }}"
                >
                  {% include "@bf-components/icon/twig/index.twig" with {
                    class: class,
                    color: color,
                    name: iconName,
                    size: size,
                  } only %}
                  <p class="small bf-color-neutral-secondary text-center pt-1">
                    {{ iconName }}
                  </p>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
</div>

<style>
  /** FOR DEMO ONLY */ .doc-list { --minmax: 120px; display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--minmax), 1fr)); width:
  100%; }

  .doc-list--huge { --minmax: 300px; grid-template-columns: repeat(auto-fill,
  minmax(var(--minmax), 1fr)); }
</style>
