{# FOR DEMO purpose ------------------------------- #}
{% if treeItems is not defined %}
    {% set treeItems = [
        {
            id:1,
            departmentName:"ACME Canada INC",
            departmentId: "234234234423424",
            departmentLocation: "Mtl",
            nbOfAdmins:3,
            nbOfServices: 25,
            invoiceAccount: "ACME Canada admin",
            subItems: [
                {
                    id:33,
                    departmentName:"ACME Canada INC",
                    departmentId: "234234234423424",
                    departmentLocation: "Mtl",
                    nbOfAdmins:3,
                    nbOfServices: 25,
                    invoiceAccount: "ACME Canada admin"
                }
            ]
        }
    ] %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}

{% for item in treeItems %}
    <div class="accordion-item accordion-item--hierarchy mb-3 {{ item.class|default('') }}  {{ isActive is same as(true) ? 'active-accordion' : '' }} js-accordion-item-toggle-active-class">
        <div id="heading{{ item.id }}" class="accordion-item__header p-0 d-flex {{ accordionHeaderClass|default('') }}">
            <div class="d-flex minw-3">
                {% if item.subItems is defined and item.subItems is not empty %}
                    <button class="accordion-item-toggler vui--style-reset p-0 w-100 bg-gray--100"
                            data-toggle="collapse"
                            data-target="#collapse{{ item.id|default('defaultAccordionHierarchy') }}"
                            aria-expanded="{{ isOpen is same as(true) ? 'true' : 'false' }}"
                            aria-controls="collapse{{ item.id|default('defaultAccordionHierarchy') }}"
                    >
                        {% include '@atoms/06-icons/icon-arrow-to-right.twig' with {
                            iconColorTheme:itemColor|default("dark"),
                            iconClass:"p-1",
                            iconMarginLeft: 0
                        } %}
                    </button>
                {% endif %}
            </div>

            <div class="border p-3 w-100">
                <div class="row justify-content-between align-items-center ">
                    {% if item.isSelectable is defined and item.isSelectable is same as (true) %}
                        <div class="col-md-4">
                            <p class="font-weight-bold mb-0">{{ item.departmentName|default('ACME Canada INC') }}</p>
                            <p class="mb-0 small">{{ item.departmentId|default('00000000') }}</p>
                        </div>
                        <div class="col-md-3 text-right">
                            {% include '@components/button/button-secondary.twig' with {
                                buttonLabel: "Select",
                                buttonSize: "small",
                                buttonClass:'w-100'
                            } %}
                        </div>
                    {% else %}
                        <div class="col-6 col-md-4 col-lg-3">
                            <p class="font-weight-bold mb-0">{{ item.departmentName|default('ACME Canada INC') }}</p>
                            <p class="mb-0 small">{{ item.departmentId|default('00000000') }}</p>
                            <p class="mb-0 small">{{ item.departmentLocation|default('Montreal, Qc') }}</p>
                        </div>

                        <div class="col-6 col-md-8 col-lg-9">
                            <div class="row align-items-center">
                                <div class="col-md-3">
                                    <a class="mb-0 link h6" href="/patterns/html-page-(etiya)-site-business-40-Administration/html-page-(etiya)-site-business-40-Administration.html">{{ item.nbOfAdmins|default('5') }} admin</a>
                                </div>

                                <div class="col-md-3">
                                    <a class="mb-0 link h6" href="/patterns/html-page-(etiya)-site-business-services-10-Services/html-page-(etiya)-site-business-services-10-Services.html">{{ item.nbOfServices|default('24') }} services</a>
                                </div>

                                <div class="col-md-5">
                                    <a class="mb-0 link h6" href="/patterns/html-page-(etiya)-site-business-services-13-services-detail--pool/html-page-(etiya)-site-business-services-13-services-detail--pool.html">{{ item.invoiceAccount|default('Admin') }}</a>
                                </div>

                                <div class="col-md-1">
                                    <a href="/patterns/04-Pages-05-business-(etiya)-account-account-details/04-Pages-05-business-(etiya)-account-account-details.html" class="p-1">
                                        {% include '@atoms/06-icons/icon-arrow-to-right.twig' with {
                                            iconColorTheme:itemColor|default("dark"),
                                            iconClass:""
                                        } %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="collapse{{ item.id|default('defaultAccordionHierarchy') }}"
             class="collapse {{ item.isActive is same as(true) ? 'show' : '' }}"
             aria-labelledby="heading{{ item.id|default('defaultAccordionHierarchy') }}"
        >
            <div class="pl-4 py-3">
                {% if item.subItems is defined %}
                    {% include 'organisms-tree-view' with { treeItems: item.subItems } only %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}