{% if inputType is same as ('search') %}
  {% set type = 'text'%}
{% else %}
  {% set type = inputType %}
{% endif %}

<div class='form-group bf-input-text {{ inputType == 'password' ? 'bf-input-text--password'  }} {{ inputType == 'search' ? 'bf-input-text--search' }} {{ isInvalid ? 'bf-input-text--isInvalid' }} {{ (isDisabled is defined and isDisabled) ? 'bf-input-text--disabled'}}{{ class|default('') }}'>
  {% if (description is defined and description) or (label is defined and label) %}
    <div class='bf-input-text__head'>
      {% if label is defined and label %}
        <label
          for='{{ id }}'
          class='{{ isRequired ? 'required' }} {% if label.class is defined and label.class %}{{ label.class|default('') }} {% endif %}'
        >
          {% if label is not iterable %}
            {{ label }}
          {% else %}
            {{ label.text|default('') }}
          {% endif %}
        </label>

        {# TODO DS-301 -> add custom tooltip block when the tooltip component is available #}

      {% if tooltip is defined and tooltip %}
        {# allow tooltip to be a string #}
        {% if tooltip is not iterable %}
          {% set tooltipText = tooltip %}
        {% else %}
          {% set tooltipText = tooltip.text %}
        {% endif %}
          <button type='button'
                  class='form-group__input-icon-container'
                  data-toggle='tooltip'
                  data-html='true'
                  data-trigger='hover'
                  data-placement='{% if tooltip.position is defined and tooltip.position %}{{tooltip.position|default('top')}}{% else %}top{% endif %}'
                  title='{{tooltipText|raw}}'
          >
            {% include '@bf-components/icon/twig/index.twig' with {
              size  : 'xsmall',
              class : 'ml-0 mb-1',
              name  : 'question-circle-outline'
            } only %}
          </button>
        {% endif %}
      {% endif %}

      {% if description is defined and description %}
        <p>{{ description|default('') }}</p>
      {% endif %}
    </div>
  {% endif %}

  <div class='bf-input-text__input {{ inputType == 'password' ? 'js-form-password form-password' }} {{ inputType == 'search' ? 'js-input-search' }}'>
    <input
      id='{{ id|default('') }}'
      name='{{ name|default('') }}'
      type='{{ type|default('text') }}'
      {% if placeholder is defined and placeholder %}
        placeholder='{{ placeholder }}'
      {% endif %}
      {% if ariaLabel is defined and ariaLabel %}
        aria-label='{{ ariaLabel|default('') }}'
      {% endif %}
      {% if description is defined and description %}
        aria-describedby='{{ description }}'
      {% endif %}
      {% if title is defined and title %}
        title='{{ title }}'
      {% endif %}
      {% if maxlength is defined and maxlength %}
        maxlength='{{ maxlength }}'
      {%  endif %}
      {% if minlength is defined and minlength %}
        minlength='{{ minlength }}'
      {%  endif %}
      {% if pattern is defined and pattern %}
        pattern='{{ pattern }}'
      {%  endif %}
      {% if inputType is same as ('search') %}
        autocomplete='off'
      {% elseif autocomplete is defined and autocomplete %}
        autocomplete='{{ autocomplete ? 'on': 'off' }}'
      {%  endif %}
      {{ (isDisabled is defined and isDisabled) ? 'disabled aria-disabled="true"' }}
      {{ (isRequired  is defined and isRequired) ? 'required' }}
      {{ (isReadonly  is defined and isReadonly) ? 'readonly' }}
      value='{{ value|default('') }}'
      {{ extraAttribute|default(NULL) }}
      class='form-control {{ type == 'password' ? 'js-form-password__input' }} {{ (inputClass is defined and inputClass)? class|default('') }}'
    >
    {# ***************************************************
       Begin Search Button
    *************************************************** #}
    {% if inputType is same as ('search') %}
      <button class='form-group__input-icon-container {{ inputType == 'search' ? 'form-group__input--search__btn' }} {{ (isReadonly  is defined and isReadonly) ? 'd-none' }}'
        {{ (isDisabled is defined and isDisabled) ? 'disabled aria-disabled="true"'}} type='submit'
      >
        {% include '@bf-components/icon/twig/index.twig' with {
          size  : 'small',
          class : 'm-0 icon__hide',
          name  : 'search'
        } %}
      </button>
    {% endif %}
    {# End Search Button #}

    {# ***************************************************
       Begin Password show/hide button & validation list
    *************************************************** #}
    {% if type is defined and type is same as ('password') %}
      <button
        type='button'
        class='form-group__input-icon-container {{ inputType == 'password' ? 'js-form-password__btn' }} {{ (isReadonly  is defined and isReadonly) ? 'd-none' }}'
        {{ isDisabled ? 'disabled aria-disabled="true"'}}
      >
        {% include '@bf-components/icon/twig/index.twig' with {
          size  : 'small',
          class : 'm-0 icon__hide',
          name  : 'eye-dash'
        } %}

        {% include '@bf-components/icon/twig/index.twig' with {
          size  : 'small',
          class : 'm-0 icon__see',
          name  : 'eye'
        } %}
      </button>
      {% if (validationList is defined and validationList is not empty) or (validationTitle is defined and validationTitle) %}
        <div class='form-password__infos'>
          {% if validationTitle is defined and validationTitle %}
            <p class='font-weight-medium mb-1'>{{ validationTitle }}</p>
          {% endif %}

          {% if validationList is defined and validationList %}
            <div class='list-validation'>
              {% for item in validationList %}
                {% include '@bf-components/status/twig/index.twig' with {
                  label : (item.label is defined and item.label) ? item.label|default('') : '',
                  color : (item.color is defined and item.color) ? item.color|default('unknown') : 'unknown' ,
                  class : (item.class is defined and item.class) ? item.class|default('') : ''
                } only %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
    {# End Password show/hide button & validation list #}

    {# TODO - DS-302 Custom autocomplete : suggestion list #}
  </div>

  {% if (errorMessage is defined and errorMessage and isInvalid) or (info is defined and info is not empty) %}
    <div class='bf-input-text__footer'>
      {% if errorMessage is defined and errorMessage and isInvalid %}
        <p class='invalid-feedback'>
          {{ errorMessage|default('') }}
        </p>
      {% endif %}

      {% if info is defined and info is not empty %}
        <p class='bf-input-text__info'>
          {% if info is not iterable %}
            {% set infoText = info %}
          {% else %}
            {% set infoText = info.text %}
          {% endif %}

          {% if info.url is defined and info.url %}
            <a href='{{ info.url }}'>
          {% endif %}
          {{ infoText }}
          {% if info.url is defined and info.url %}
            </a>
          {% endif %}
        </p>
      {% endif %}
    </div>
  {% endif %}
</div>