{% set hasAdornment = adornment is defined and adornment %}
{% set class = 'bf-input-text ' ~ class|default(NULL) %}

{% extends '@bf-components/input/twig/index.twig' %}
  {% block inputContent %}
    <div class='position-relative'>
      <input
        {% if value|default(null) %} value='{{ value }}' {% endif %}
        {% if placeholder|default(null) %} placeholder='{{ placeholder }}' {% endif %}
        {% if type|default(null) %} type='{{ type }}' {% endif %}
        {{ isAutofocus|default(false) ? 'autofocus' }}
        {{ isRequired|default(false) ? 'required' }}
        {{ isDisabled|default(false) or isReadOnly|default(false) ? 'disabled' }}
        {{ isReadOnly|default(false) ? 'readonly' }}
        {% if ariaLabel|default(null) %} aria-label='{{ ariaLabel|default('') }}' {% endif %}
        {% if description|default(null) %} aria-describedby='{{ description }}' {% endif %}
        {% if title|default(null) %} title='{{ title }}' {% endif %}
        {% if maxlength|default(null) %} maxlength='{{ maxlength }}' {% endif %}
        {% if minlength|default(null) %} minlength='{{ minlength }}' {% endif %}
        {% if pattern|default(null) %} pattern='{{ pattern }}' {% endif %}
        {% if isAutocomplete|default(false) %} autocomplete='{{ autocomplete ? 'on': 'off' }}' {% endif %}
        {% if inputId|default(null) %} id='{{ inputId }}' {% endif %}
        {% if inputName|default(null) %} name='{{ inputName }}' {% endif %}
        {{ inputExtraAttribute|default(null) }}
        class='bf-input__control {{ hasAdornment ? 'pr-6' }}'
      />

      {% if block('adornment') is defined %}
        <div class='bf-input__adornment'>
          {{ block('adornment') }}
        </div>
      {% elseif hasAdornment %}
        <div class='bf-input__adornment'>
          {{ adornment }}
        </div>
      {% endif %}

    </div>
  {% endblock %}