{# Boolean Variables #}
{% set hasTitle = title is defined and title is not empty %}
{% set hasDescription = description is defined and description is not empty %}
{% set hasIcons = icons is defined and icons is not empty %}
{% set isBlockFooterDefined = block("footer") is defined %}
{% set hasFooter = footer is defined and footer is not empty %}
{% set hasFooterInputSwitch = footer is iterable and footer.inputSwitch is defined and footer.inputSwitch is not empty %}

{# Default Variables (Props, Controls) #}
{% set class = class|default("") %}

{# Arrays of Classes With Dynamic Elements #}
{% set bannerAdvancedClasses = [
  "bf-banner-advanced",
  (class),
] %}

{# Template #}
<article class="{{ bannerAdvancedClasses|join(' ')|trim }}">
  <div class="bf-banner-advanced__inner flex-column flex-md-row gap-3 gap-sm-4 p-3 p-sm-4">
    <header class="flex-1 text-center text-md-left">
      {% if hasTitle %}
        <h3>
          {{ title }}
        </h3>
      {% endif %}

      {% if hasDescription %}
        <p class="mb-0">
          {{ description }}
        </p>
      {% endif %}
    </header>

    {% if hasIcons %}
      <div class="bf-banner-advanced__body gap-0 gap-sm-2">
        {% for icon in icons|slice(0, 3) %}

          {# In Loop : Boolean Variables #}
          {% set hasIconName = icon.name is defined and icon.name %}
          {% set hasIconLabel = icon.label is defined and icon.label %}

          {% if hasIconName and hasIconLabel %}
            {% if not loop.first %}
              {% include "@bf-components/icon/twig/index.twig" with {
                name: "plus",
                size: "small",
                class: "mb-4"
              } only %}
            {% endif %}

            <div class="text-align-center">
              {% include "@bf-components/icon/twig/index.twig" with {
                name: icon.name,
                size: "large"
              } only %}

              <p class="h5 my-1">
                {{ icon.label }}
              </p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {% if isBlockFooterDefined or hasFooter %}
    <div class="bf-banner-advanced__footer p-3 p-sm-4 border-top">
      {% if isBlockFooterDefined %}
        {{ block("footer") }}
      {% elseif hasFooterInputSwitch %}
        {% include "@bf-components/input-switch/twig/index.twig" with footer.inputSwitch only %}
      {% else %}
        {{ footer }}
      {% endif %}
    </div>
  {% endif %}
</article>
