{% set class = (modalClass is defined and modalClass) ? modalClass : class|default('') %}

<div class='modal {{ modalAnimation|default('fade') }} {{ class }}'
     id='{{ modalId|default('') }}'
     tabindex='-1'
     role='dialog'
     aria-labelledby='{{ modalLabelledBy|default('') }}'
     aria-hidden='true'
  {{ extraAttribute|default(null) }}
>
  <div class='modal-dialog modal-{{ modalSize|default('lg') }} modal-dialog-centered' role='document'>
    <div class='modal-content position-relative {{ modalContentCLass|default('') }}'
         data-bg="{{ bgImage|default('') }}"
         data-md-bg="{{ bgMdImage|default(bgImage) }}"
         data-lg-bg="{{ bgLgImage|default(bgImage) }}">

      {% include '@bf-components/button-icon/twig/index.twig' with {
        icon : 'x',
        dataDismiss: 'modal',
        class: 'm-2 m-md-3 m-lg-4 p-3 position-absolute--top-right'
      } %}

      <div class='modal-header {{ modalHeaderClass|default('') }}'>
        {% if block('modal_header') is defined %}
          {{ block('modal_header') }}
        {% elseif modal_header is defined and modal_header %}
          {{ modal_header }}
        {% else %}
          {% block modal_header %}
            <h2 class='mb-2 w-100 h2'>{{ modalTitle|default('Title') }}</h2>
            {% if modalSubtitle is defined and modalSubtitle %}
              <p class='mb-0'>{{ modalSubtitle }}</p>
            {% endif %}
          {% endblock %}
        {% endif %}
      </div>

      <div class='modal-body pt-3'>
          {% block modal_body %}
            {# Non scrollable content #}
            {% if block('modal_body_subcontainer') is defined %}
              {{ block('modal_body_subcontainer') }}
            {% else %}
              {{ modal_body_subcontainer|raw }}
            {% endif %}

            {# Non scrollable content #}
            {% if block('modal_body_scroll_container') is defined %}
              <div class="modal-body__scroll-container">
                {{ block('modal_body_scroll_container') }}
              </div>
            {% elseif modalBudy is defined and modalBudy %}
              {% block modal_body_scroll_container %}
                <p>{{ modalBudy }}</p>
              {% endblock %}
            {% else %}
              <div class="modal-body__scroll-container">
                {{ modal_body_scroll_container|raw }}
              </div>
            {% endif %}

          {% endblock %}

      </div>

      {% if modal_footer is defined and modal_footer %}
        {{ block('modal_footer') }}
      {% elseif modal_header is defined and modal_footer %}
        {{ modal_footer }}
      {% endif %}
    </div>
  </div>
</div>