{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Boolean Variables #}
{% set hasBgImage = bgImage is defined and bgImage is not empty %}
{% set hasBgMdImage = bgMdImage is defined and bgMdImage is not empty %}
{% set hasBgLgImage = bgLgImage is defined and bgLgImage is not empty %}
{% set hasModalBodyScrollContainer = modal_body_scroll_container is defined and modal_body_scroll_container is not empty %}
{% set hasModalBodySubcontainer = modal_body_subcontainer is defined and modal_body_subcontainer is not empty %}
{% set hasModalBudy = modalBudy is defined and modalBudy is not empty %}
{% set hasModalFooter = modal_footer is defined and modal_footer is not empty %}
{% set hasModalHeader = modal_header is defined and modal_header is not empty %}
{% set hasModalSubtitle = modalSubtitle is defined and modalSubtitle is not empty %}
{% set isBlockModalBodyScrollContainerDefined = block("modal_body_scroll_container") is defined %}
{% set isBlockModalBodySubcontainerDefined = block("modal_body_subcontainer") is defined %}
{% set isBlockModalFooterDefined = block("modal_footer") is defined %}
{% set isBlockModalHeaderDefined = block("modal_header") is defined %}

{# Boolean Variables - ORDER IS IMPORTANT #}
{% set hasBgImage = hasBgImage or hasBgMdImage or hasBgLgImage %}

{# Default Variables (Props, Controls) #}
{# --- modalClass is deprecated, but in case of legacy support --- #}
{% set class = class|default(modalClass)|default("") %}
{% set extraAttribute = extraAttribute|default({}) %}
{# ---
  extraAttributeX was present in file, but there was no control variable declared,
  so I keep it in case of legacy support.
--- #}
{% set extraAttributeCloseButton = extraAttributeCloseButton|default(extraAttributeX)|default({}) %}
{# --- modalId is deprecated, but in case of legacy support --- #}
{% set id = id|default(modalId)|default("") %}
{% set modalAnimation = modalAnimation|default("fade") %}
{% set modalBodyClass = modalBodyClass|default("") %}
{% set modalContentCLass = modalContentCLass|default("") %}
{% set modalHeaderClass = modalHeaderClass|default("") %}
{% set modalLabelledBy = modalLabelledBy|default("") %}
{% set modalSize = modalSize|default("lg") %}
{% set modalTheme = modalTheme|default("light") %}
{% set modalTitle = modalTitle|default("") %}

{# Arrays of Classes With Dynamic Elements #}
{% set modalContainerClasses = [
  "modal",
  "modal-theme--" ~ modalTheme,
  modalAnimation,
  (class),
] %}
{% set modalDialogClasses = [
  "modal-dialog",
  "modal-" ~ modalSize,
  "modal-dialog-centered",
] %}
{% set modalContentClasses = [
  "modal-content",
  "position-relative",
  modalContentCLass,
] %}
{% set modalHeaderClasses = [
  "modal-header",
  "border-bottom--0",
  modalHeaderClass,
] %}
{% set modalBodyClasses = [
  "modal-body pt-3",
  modalBodyClass,
] %}

{# Template #}
<div {{ macros.addAttributes({
  "class": modalContainerClasses|join(' ')|trim,
  "id": id,
  "tabindex": "-1",
  "role": "dialog",
  "aria-labelledby": modalLabelledBy,
  "aria-hidden": "true",
}, extraAttribute) }}>
  <div
    class="{{ modalDialogClasses|join(' ')|trim }}"
    role="document"
  >
    {# TODO: "data-bg", "data-md-bg" and "data-lg-bg" doesn't seem to be used anywhere. Will have to check that eventually. #}
    <div {{ macros.addAttributes({
      "class": modalContentClasses|join(' ')|trim,
      "data-bg": (hasBgImage ? bgImage),
      "data-md-bg": (hasBgImage ? bgMdImage|default(bgImage)),
      "data-lg-bg": (hasBgImage ? bgLgImage|default(bgImage)),
    }) }}>
      <button {{ macros.addAttributes({
        "class": "close m-2 m-md-3 m-lg-4 p-3 position-absolute--top-right",
        "type": "button",
        "data-dismiss": "modal",
        "aria-label": "X",
      }, extraAttributeCloseButton) }}>
        <span aria-hidden="true">
          {% include "@bf-components/icon/twig/index.twig" with {
            name: "x",
            size: "small"
          } %}
        </span>
      </button>

      <div class="{{ modalHeaderClasses|join(' ')|trim }}">
        {% if isBlockModalHeaderDefined %}
          {{ block("modal_header") }}
        {% elseif hasModalHeader %}
          {{ modal_header|raw }}
        {% else %}
          {% block modal_header %}
            <h2 class="mb-2 w-100 h2">
              {{ modalTitle }}
            </h2>
            {% if hasModalSubtitle %}
              <p class="mb-0">
                {{ modalSubtitle }}
              </p>
            {% endif %}
          {% endblock %}
        {% endif %}
      </div>

      <div class="{{ modalBodyClasses|join(' ')|trim }}">
        {% block modal_body %}
          {# TODO : make it an option to be scrollable or not #}
          {% if isBlockModalBodySubcontainerDefined %}
            {{ block("modal_body_subcontainer") }}
          {% elseif hasModalBodySubcontainer %}
            {{ modal_body_subcontainer|raw }}
          {% endif %}

          {% if isBlockModalBodyScrollContainerDefined %}
            <div class="modal-body__scroll-container">
              {{ block("modal_body_scroll_container") }}
            </div>
          {% elseif hasModalBudy %}
            {% block modal_body_scroll_container %}
              {# TODO - rename properly #}
              <p>
                {{ modalBudy }}
              </p>
            {% endblock %}
          {% elseif hasModalBodyScrollContainer %}
            <div class="modal-body__scroll-container">
              {{ modal_body_scroll_container|raw }}
            </div>
          {% endif %}
        {% endblock %}
      </div>

      {% if isBlockModalFooterDefined %}
        <div class="modal-footer">
          {{ block("modal_footer") }}
        </div>
      {% elseif hasModalFooter %}
        <div class="modal-footer">
          {{ modal_footer|raw }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
