{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Boolean Variables #}
{% set hasDescription = description is defined and description is not empty %}
{% set hasImageBgColor = image.backgroundColor is defined and image.backgroundColor is not empty %}
{% set hasImageSrc = image.src is defined and image.src is not empty %}
{% set hasLink = link is defined and link is not empty %}
{% set hasTitle = title is defined and title is not empty %}
{% set isFeatured = (isFeatured ?? false) is same as(true) %}
{% set isReversed = (reversed ?? false) is same as(true) %}

{# Default Variables (Props, Controls) #}
{% set class = class|default("") %}
{% set titleTag = titleTag|default("p") %}

{# Arrays of Classes With Dynamic Elements #}
{% set tilePostClasses = [
  "bf-tile-post",
  (isReversed ? "reversed"),
  (class),
] %}
{% set titleClasses = [
  "m-0",
  (isFeatured ? "h2" : "h3"),
] %}

{# Arrays of Styles With Dynamic Elements #}
{% set pictureStyles = [
  "background-image: url(" ~ image.src ~ ");",
  (hasImageBgColor ? "background-color: " ~ image.backgroundColor ~ ";"),
] %}

{# Template #}
<div class="{{ tilePostClasses|join(' ')|trim }}">

  {# Image #}
  {% if hasImageSrc %}
    <picture {{ macros.addAttributes({
      "class": "d-block",
      "style": pictureStyles|join(' ')|trim,
    }) }}>
      <img {{ macros.addAttributes({
        "src": image.src,
        "alt": image.alt|default(""),
        "class": "w-100",
        "loading": "lazy",
      }) }} />
    </picture>
  {% endif %}

  {# Content #}
  <div class="d-flex flex-column align-items-start gap-3 pt-3 pt-md-4">

    {# Title #}
    {% if hasTitle %}
      {% embed "@bf-utils/custom-tag/twig/index.twig" with {
        customTag: titleTag,
        attr: {
          "class": titleClasses|join(' ')|trim
        },
      } %}
        {% block customTagContent %}
          {{ title }}
        {% endblock %}
      {% endembed %}
    {% endif %}

    {# Description #}
    {% if hasDescription %}
      <p class="m-0">
        {{ description }}
      </p>
    {% endif %}

    {# Link #}
    {% if hasLink %}
      {% include "@bf-components/link/twig/index.twig" with {
        href: link.href|default(""),
        label: link.label|default(""),
        hierarchy: "primary"
      } only %}
    {% endif %}
  </div>
</div>
