{% if rangeHandles == 'min' %}
  {% set inputRangeVariant = '--min' %}
{% elseif rangeHandles == 'max'%}
  {% set inputRangeVariant = '--max' %}
{% endif %}

{% if  min.legend is defined and min.legend and max.legend is defined and max.legend  %}
 {% set haslegend = true %}
{% else %}
  {% set haslegend = false %}
{% endif %}
{% if  min.legendDescription is defined and min.legendDescription and max.legendDescription is defined and max.legendDescription  %}
 {% set haslegendDescription = true %}
{% else %}
  {% set haslegendDescription = false %}
{% endif %}

<div class='bf-input-range {{ inputRangeVariant is defined ? 'bf-input-range' ~ inputRangeVariant : '' }} js-bf-input-range {{ class }} ' lang={{language|default('en')}}>
  <div class='bf-input-range_panel'>
    {# Overlay of the input range double slider #}
    <div class='bf-input-range_overlay'>
      <div class='bf-input-range_exclude bf-input-range_exclude--left'></div>

      <div class='bf-input-range_exclude bf-input-range_exclude--right'></div>

      <div class='bf-input-range_value'></div>

      <p class='bf-input-range_handle bf-input-range_handle--left'>
        <label for='{{ min.inputId }}' class='bf-input-range_label'></label>
      </p>

      <p class='bf-input-range_handle bf-input-range_handle--right'>
        <label for='{{ max.inputId }}' class='bf-input-range_label'></label>
      </p>
    </div>

    <input class='bf-input-range_input_min' type='range'
      max={{ max.inputValue }}
      min={{ min.inputValue }}
      step={{ step|default(1) }}
      id='{{ min.inputId }}'
      value={{ ( min.startValue is defined and min.startValue ) ? min.startValue : min.inputValue }}
      data-unit='{{ labelUnit }}'
    />
    <input class='bf-input-range_input_max' type='range'
      max={{ max.inputValue }}
      min={{ min.inputValue }}
      step={{ step|default(1) }}
      id='{{ max.inputId }}'
      value={{ ( max.startValue is defined and max.startValue ) ? max.startValue : max.inputValue }}
    />
  </div>

  {% if haslegend or haslegendDescription %}
    <div class='bf-input-range_legend'>
      <p class='bf-input-range_legend_min'>
      {{ (min.legend is defined and min.legend) ? min.legend : '' }}
      {% if min.legendDescription is defined and min.legendDescription %}
        <strong>{{ min.legendDescription }}</strong>
      {% endif %}
      </p>

      <p class='bf-input-range_legend_max'>
        {{ (max.legend is defined and max.legend) ? max.legend : '' }}
        {% if max.legendDescription is defined and max.legendDescription %}
          <strong>{{ max.legendDescription }}</strong>
        {% endif %}
      </p>
    </div>
  {% endif %}
</div>
