{% if rangeHandles == 'min' %}
  {% set inputRangeVariant = '--min' %}
{% elseif rangeHandles == 'max'%}
  {% set inputRangeVariant = '--max' %}
{% endif %}

{% if  minLegend is defined and minLegend and maxLegend is defined and maxLegend  %}
 {% set haslegend = true %}
{% else %}
  {% set haslegend = false %}
{% endif %}
{% if  minLegendDesc is defined and minLegendDesc and maxLegendDesc is defined and maxLegendDesc  %}
 {% set haslegendDesc = true %}
{% else %}
  {% set haslegendDesc = false %}
{% endif %}

<div class='bf-input-range {{(inputRangeVariant is defined) ? 'bf-input-range' ~ inputRangeVariant : '' }} js-bf-input-range {{ class }} ' lang={{lang|default('en')}}>
  <div class='bf-input-range_panel'>
    {# Overlay of the input range double slider #}
    <div class='bf-input-range_overlay'>
      <div class='bf-input-range_exclude bf-input-range_exclude--left'></div>

      <div class='bf-input-range_exclude bf-input-range_exclude--right'></div>

      <div class='bf-input-range_value'></div>

      <p class='bf-input-range_handle bf-input-range_handle--left'>
        <label for='{{ minInputId }}' class='bf-input-range_label'></label>
      </p>

      <p class='bf-input-range_handle bf-input-range_handle--right'>
        <label for='{{ maxInputId }}'class='bf-input-range_label'></label>
      </p>
    </div>

    <input class='bf-input-range_input_min' type='range'
      max={{ maxInputValue }}
      min={{ minInputValue }}
      step={{ step|default(1) }}
      id='{{ minInputId }}'
      value={{ ( minStartValue is defined and minStartValue ) ? minStartValue : minInputValue }}
      data-unit='{{ labelUnit|default('$') }}'
    />
    <input class='bf-input-range_input_max' type='range'
      max={{ maxInputValue }}
      min={{ minInputValue }}
      step={{ step|default(1) }}
      id='{{ maxInputId }}'
      value={{ ( maxStartValue is defined and maxStartValue ) ? maxStartValue : maxInputValue }}
    />
  </div>
  {% if haslegend or haslegendDesc %}
  <div class='bf-input-range_legend'>
    <p class='bf-input-range_legend_min'>
    {{ (minLegend is defined and minLegend) ? minLegend : '' }}
    {% if minLegendDesc is defined and minLegendDesc %}
      <strong>{{ minLegendDesc }}</strong>
    {% endif %}
    </p>
    <p class='bf-input-range_legend_max'>
      {{ (maxLegend is defined and maxLegend) ? maxLegend : '' }}
      {% if maxLegendDesc is defined and maxLegendDesc %}
        <strong>{{ maxLegendDesc }}</strong>
      {% endif %}
    </p>
  </div>
  {% endif %}
</div>
