<article
    class='bf-card d-flex flex-column'
    {% if disabled is defined and disabled is same as (true) %}disabled{% endif %}
>

    {% if hasImage is defined and hasImage is same as (true) %}
        <div class='cardImage d-flex flex-wrap align-items-center'>
            
            {% if imageGifSrc is defined  %}
                <img
                    data-src='{{ imageGifSrc|default('https://source.unsplash.com/72x72/?nature') }}' 
                    alt='{{ imageGifAlt|default('https://source.unsplash.com/72x72/?nature') }}'
                >
            {% endif %}

            {% if imageIcon is defined  %}
                {% include '@bf-components/icon/twig/index.twig' with {
                    name    : imageIcon,
                    color   : color,
                    size    : 'small',
                    type    : 'illustration',
                } only %}
            {% endif %}
        </div>
    {% endif %}

    <header class='bf-card__header bf-color-bg-underground p-4'>

        {% if upperTitle is defined %}
            <p class='mb-1'>
                {{ upperTitle|default('') }}
            </p>
        {% endif %}
        
        <h1 class='h3 mb-1'>
            {{ title|default('') }}
        </h1>

        {% if description is defined %}
            <p class='mb-1'>
                {{ description }}
            </p>
        {% endif %}

        {% if link['href'] is defined %} 
            <a
                href='{{ link.href|default('') }}'
                class='bf-link'
            >
                {{ link.label|default('') }}
            </a>
        {% endif %}
        
        {% if badge is defined and badge is not empty %}
            {% include '@bf-components/tag/twig/index.twig' with {
                label   : badge|default(''),
            } only %}
        {% endif %}

    </header> 

    <div class='bf-card__body'>

        {% if contentLists is defined %}

            {% for list in contentLists %}
                <div class='bf-card__content-list'>

                    {% if list.title is defined %}
                        <div class='d-flex mb-2'>
                            <h2 class='w-60 bf-text font-weight-bold mb-0'>
                                {{list.title}}
                            </h2>
                            <p class='w-40 text-right mb-0'>
                                {{list.description}}
                            </p>
                        </div>
                    {% endif %}

                    <ul class='p-0 m-0'>
                        {% for content in list.content %}
                            <li class='d-flex flex-row mb-2'>
                                {% include '@bf-components/icon/twig/index.twig' with {
                                    name    : content.icon,
                                    class   : 'mr-2'
                                } only %}
                                <p class='mb-0'>
                                    {{content.label}}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                    
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class='bf-card__footer bf-border-top-secondary pt-4'>
        
        {% if price is defined %}
            {% set price = price|merge({
                'class'     : 'w-100 mb-4 ' ~ price.class,
                'language'  : language
            }) %}
            {% include '@bf-components/price/twig/index.twig' with price only %}
        {% endif %}

        <div class='bf-card__buttons'>
            {% for button in buttons %}

                {% set button = button|merge( { 'class': 'w-100 ' ~ button.class } ) %}
                {% include '@bf-components/button/twig/index.twig' with button only %}

            {% endfor %}        
        </div>

        {% if message is defined and message is not empty %}
            <div class='bf-card__message d-flex mt-3'>
                {% include '@bf-components/icon/twig/index.twig' with {
                    name    : 'information-circle-filled-small24',
                    class   : 'mr-2'
                } only %}
                <p class='mb-0'>
                    {{ message|default('') }}
                </p>
            </div>
        {% endif %}

    </div>

</article>
