    <div class="bf-card  d-flex  {{ cardType|default('plan') }} {{ cardStatus|default('active') }}" >

        <div class="cardHeader d-flex flex-row {% if hasImage is defined and hasImage is same as (false) %} col-12 {% endif %} align-items-center ">

        {% if hasImage is defined and hasImage is same as (true) %}
            <div class="cardImage d-flex flex-wrap align-items-center" >
                
                {% if imageGifSrc is defined  %}
                <img 
                data-src="{{ imageGifSrc|default('https://source.unsplash.com/72x72/?nature') }}" 
                alt="{{ imageGifAlt|default('https://source.unsplash.com/72x72/?nature') }}" 
                src="{{ imageGifSrc|default('https://source.unsplash.com/72x72/?nature') }}"  >
                {% endif %}

                {% if imageIcon is defined  %}
                {% include '@bf-components/icon/twig/index.twig' with {
                                                name    : imageIcon,
                                                color   : color,
                                                size    : 'small',
                                                type    : 'illustration',
                                            } only %}
                {% endif %}
            </div>
        {% endif %}
            <div class="title" >
            <a href='{{ productDetailURL|default('') }}'>
                {% if upperTitle is defined %}                               
                    <div class="upperTitle" >{{ upperTitleCard|default('Free with any purchase of this phone, valuted at $239.38.') }}</div>
                {% endif %}
                <h3 class="title">{{ titleCard|default('') }}</h3>
                {% if subTitleCard is defined %}
                    <p class="description">{{ subTitleCard }}</p>
                {% endif %}  

                {% if linkLearnMoreCard is defined %} 
                    <a href="{{ linkLearnMoreURL|default('#') }}">{{ linkLearnMoreCard|default('Learn more') }}</a>
                {% endif %}
            </a>
            </div> 
        </div>
 
        {% if hasTag is defined and hasTag is same as (true) %}
        {% include '@bf-components/tag/twig/index.twig'  with {
            variant     : "",
            align       : align|default('right'),
            tagLabel    : tagLabel|default('FREE'),
            } only
         %}
        {% endif %} 

        {% if cardType is defined and cardType is same as ('plan') %}
            <div class="card-Body col-12">                 

            {% if optionList is defined %}
                {% for option in optionList %}
                        {% if option.title is defined %}     
                        <div class="d-flex w-100 optionCard" >
                            <div class="w-60">
                                <p class="title">{{option.title}}</p>
                            </div>
                            <div class="w-40 text-right">
                                {{option.description}}
                            </div>
                        </div>
                        {% endif %}
                        <ul class="w-100"> 
                            
                            {% for option in option.option %}
                            <li class="d-flex flex-row">
                            {% include '@bf-components/icon/twig/index.twig' with {
                                            name    : option.icon,
                                            color   : color,
                                            size    : 'xsmall',
                                        } only %}
                             <div class="optionLabel">{{option.label}}</div>
                            {% endfor %}
                            </li> 
                        </ul>                                
                {% endfor %}
            {% endif %}
            

                {% include '@bf-components/price/twig/price.twig' with {
                    priceClass: "w-100",
                    priceDollar: priceDollar|default("152"),
                    priceCent: priceCent|default("34"),
                    priceInfosSupp: priceInfosSupp|default("Taxes incl."),
                    priceBoxAlignement: "left",
                    priceDashed: priceDashed|default("$150"),
                    priceSaved: priceSaved|default("<strong>$30</strong>")
                } only %}

                {% if cardStatus != 'disable' %}

                {% include "@bf-components/button/twig/button.twig" with { 
                    label: labelBtn|default('add a phone with this plan'),
                    styleClass : 'w-100 btn-primary'
                     } only %}
                    {% if phoneSelected != 'selected' %}
                    
                    {% include "@bf-components/button/twig/button.twig" with { 
                    label: labelBtn|default('All-Inclusive 12 GB Mobile'),
                    styleClass : 'w-100 btn-secondary' 
                     } only %}
                    {% endif %} 
                                        
                 {% endif %}

                 {% if cardStatus == 'disable' %}
                <div class='d-inline-flex'>
                    <div class='warning-icon'>
                    {% include '@bf-components/icon/twig/index.twig' with {
                                            name    : 'information-circle-filled',
                                            color   : color,
                                            size    : 'xsmall',
                                            type    : 'interface'
                                        } only %}
                    </div>
                    <div class="warning-label">                    
                        {{ warningLabel|default('Only plans with a minimum of $40.00 per month are available with that phone.') }}
                    </div>
                </div>    
                {% endif %}


            </div>


        {% endif %}




    <div>