{% if state is not defined %}
    {% set state = 'default' %}
{% endif %}

{% if isCondensed is defined and isCondensed is same as (true) %}
    {% set colClassItem = "" %}
    {% set colClassPrice = "" %}
{% else %}
    {% set colClassItem = "mb-md-0 col-md-6" %}
    {% set colClassPrice = "col-md-6" %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<div class="cart-summary-item-header d-none d-md-block {{ class|default('') }}">
    <div class="row align-items-center py-3">

        <div class="col-6 {{ colClassItem|default('') }}">
            <p class="mb-0">{{ textLeft|default('Added item') }}</p>
        </div>

        <div class="col-6 {{ colClassPrice|default('') }}">
            <div class="row align-items-center">
                <div class="col-4 text-center">
                    <p class="mb-0">{{ textCol1|default('Quantity') }}</p>
                 </div>
                 <div class="col-4 text-center">
                    <p class="mb-0">{{ textCol2|default('Item price') }}</p>
                 </div>
                <div class="col-4 text-right">
                    <p class="mb-0">{{ textRight|default('Total price') }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="border-width-1 border-top--dark mt-0 mb-0">
</div>
