<div class="form-group align-self-end">
    <input id="check_eligibility" class="btn btn-loading btn-md btn-primary is-loading mt-0 px-6 w-100" type="submit" name="" value="Vérifier" role="alertdialog" aria-busy="true" aria-live="assertive" aria-label="Loading... Please wait">
</div>

<picture class="img-lazy-load-container {{ containerClass|default('') }} w-100 overflow-hidden bg-{{ bgColor|default('gray--1000') }} position-{{ positionClass|default('relative') }} {{ class|default('') }}">
    <img class="img-lazy-load-container__img"
         data-src="{{ src }}"
         {% if alt is not empty %}alt="{{ alt|default('') }}"{% endif %}
    >
</picture>
