{# Boolean Variables #}
{% set hasButton = button is defined and button is not empty %}
{% set hasImage = image is defined and image.src is not empty %}
{% set hasParagraph = paragraph is defined and paragraph is not empty %}
{% set hasTitle = title is defined and title is not empty %}
{% set hasVisualBackgroundColor = visualBackgroundColor is defined and visualBackgroundColor is not empty %}

{# Default Variables (Props, Controls) #}
{% set class = class|default("") %}
{% set isFeatured = isFeatured|default(false) %}
{% set isVisualBackgroundFill = isVisualBackgroundFill|default(true) %}
{% set titleTag = titleTag|default("p") %}

{# Arrays of Classes With Dynamic Elements #}
{% set blockClasses = [
  "bf-block bf-block--highlight",
  "d-flex flex-column flex-sm-row w-100 overflow-hidden",
  "bf-border-radius-medium border bf-border-color-secondary",
  (isFeatured ? "bf-block--featured"),
  (
    (blockBackgroundColor|default("ground")) == "underground"
      ? "bf-color-bg-underground"
      : "bf-color-bg-ground"
  ),
  (reversed ? "reversed"),
  (class),
] %}
{% set blockVisualClasses = [
  "bf-block__visual bf-color-bg-brand",
  (isVisualBackgroundFill ? "bf-block__visual--fill"),
] %}
{% set blockContentClasses = [
  "d-flex flex-column p-4 p-sm-5",
  (isFeatured ? "justify-content-center"),
] %}

{# Arrays of Styles With Dynamic Elements #}
{% set blockVisualStyles = [
  "background-image: url(" ~ image.src ~ ");",
  (hasVisualBackgroundColor ? "background-color: " ~ visualBackgroundColor ~ ";"),
] %}

{# Template #}
<article class="{{ blockClasses|join(' ')|trim }}">
  {% if hasImage %}
    <div
      class="{{ blockVisualClasses|join(' ')|trim }}"
      style="{{ blockVisualStyles|join(' ')|trim }}"
    ></div>
  {% endif %}

  <div class="{{ blockContentClasses|join(' ')|trim }}">
    {% if hasTitle %}
      {% embed "@bf-utils/custom-tag/twig/index.twig" with {
        customTag: titleTag,
        attr: {
          "class": "text-break " ~ (isFeatured ? "h2" : "h3")
        },
      } %}
        {% block customTagContent %}
          {{ title }}
        {% endblock %}
      {% endembed %}
    {% endif %}
    {% if hasParagraph %}
      <p>
        {{ paragraph }}
      </p>
    {% endif %}
    {% if hasButton %}
      {% set button =
        button|merge({
          class: "mt-2 " ~ button.class,
          hierarchy: button.hierarchy|default(
            isFeatured ? "primary-alt" : "secondary"
          )
        })
      %}
      {% include "@bf-components/button/twig/index.twig" with button only %}
    {% endif %}
  </div>
</article>
