{% set hasImage     = image.src is defined and image.src is not empty %}
{% set titleTag     = titleTag|default('h2') %}

<article class='
    bf-block bf-block--highlight
    w-100 d-flex flex-column flex-sm-row overflow-hidden bf-border-radius-medium border bf-border-color-secondary
    {% if fullWidth is defined and fullWidth is same as (true) %}bf-block--fullwidth{% endif %}
    {{ class }}'
>

    {% if hasImage %}
        <div class='bf-block__visual d-flex justify-content-center align-items-center bf-color-bg-brand overflow-hidden'>
            <img
                src='{{ image.src|default('') }}'
                data-src='{{ image.dataSrc|default('') }}'
                alt='{{ image.alt|default('') }}'
                class='w-100 h-100 {{ image.class|default('') }}'
            />
        </div>
    {% endif %}
    
    <div class='p-4 p-sm-5'>
        {% if title is defined %}
            <{{ titleTag|default('h2') }} {% if titleTag|default('h2') is not same as ('h2') %}class='h2'{% endif %}>
                {{ title }}
            </{{ titleTag|default('h2') }}>
        {% endif %}
        {% if paragraph is defined %}
            <p>
                {{ paragraph }}
            </p>
        {% endif %}
        {% if button is defined %}
            {% set button = button|merge( { 'hierarchy': button.hierarchy|default('primary-alt') } ) %}
            {% include '@bf-components/button/twig/index.twig' with button only %}
        {% endif %}
    </div>

</article>