
{# Arrays of Classes With Dynamic Elements #}
{% set accountButtonClasses = [
  "bf-button-icon__inner",
  "bf-nav-header__functions__account__button",
] %}

{% set accountButtonAnonymousClasses = [
  accountButtonClasses|join(' ')|trim,
  "bf-nav-header__functions__account__button--anonymous",
] %}

{% set accountButtonConnectedClasses = [
  accountButtonClasses|join(' ')|trim,
  "bf-nav-header__functions__account__button--connected",
  "js-bf-account-toggle",
] %}

{# Template #}

{% if isAccountConnected %}

  {# Connected Account User's Initials #}
  {% set firstNameInitial = accountData.firstName|slice(0,1) %}
  {% set lastNameInitial = accountData.lastName|slice(0,1) %}
  {% set userInitials = firstNameInitial ~ lastNameInitial %}

  {# Account Menu Toggle Button #}
  <div class="bf-button-icon bf-nav-header__functions__account__button-container">
    <button {{ macros.addAttributes({
      "type"              : "button",
      "class"             : accountButtonConnectedClasses|join(' ')|trim,
      "aria-label"        : "Open Account Menu"|t,
      "data-label-closed" : "Open Account Menu"|t,
      "data-label-opened" : "Close Account Menu"|t,
      "data-toggle"       : "collapse",
      "data-target"       : "#accountMenu",
      "aria-controls"     : "accountMenu",
      "aria-expanded"     : "false",
    }) }}>
      <div class="bf-nav-header__functions__account__button__icon">
        <span class="bf-nav-header__functions__account__button--connected__initials bf-text-display-sub-small font-weight-bold">
          {{ userInitials }}
        </span>
        {% include '@bf-components/icon/twig/index.twig' with {
          name: "circle-outline",
          size: "small",
        } only %}
      </div>
      <div class="bf-nav-header__functions__account__button__text bf-text-display">
        {{ accountData.firstName }} {{ lastNameInitial }}
      </div>
    </button>
  </div>

  {# Account Menu Container #}
  <div id="accountMenu" class="collapse"></div>
{% else %}
  <div class="bf-button-icon bf-nav-header__functions__account__button-container">
    <button {{ macros.addAttributes({
      "type"              : "button",
      "class"             : accountButtonAnonymousClasses|join(' ')|trim,
      "aria-label"        : "Sign In"|t,
    }) }}>
      <div class="bf-nav-header__functions__account__button__icon">
        <span class="bf-nav-header__functions__account__connected-button__initials bf-text-display-sub-small font-weight-bold">
          {{ userInitials }}
        </span>
        {% include '@bf-components/icon/twig/index.twig' with {
          name: "my-account",
          size: "small",
        } only %}
      </div>
      <div class="bf-nav-header__functions__account__button__text bf-text-display">
        {{ "Sign In"|t }}
      </div>
    </button>
  </div>
{% endif %}
