{% if hasTopBar is defined and hasTopBar is same as (true) %}
  {% include '@bf-components/navigation-header/twig/top-bar.twig' with {
    items           : topBar.items|default([]),
    secondaryItems  : topBar.secondaryItems|default([]),
    isConnected     : isConnected|default(false),
    accountHello    : accountHello|default('Hello'),
    accountName     : accountName|default(''),
    hrefLogOut      : hrefLogOut|default('#'),
    labelLogOut     : labelLogOut|default('Logout'),
    hrefConnexion   : hrefConnexion|default('#'),
    labelConnexion  : labelConnexion|default('My Customer Centre'),
    reversed        : reversed|default(false),
  } only %}
{% endif %}

<header
  role='banner'
  class='bf-header z-index-18 navbar navbar-expand-lg navbar-light
  {% if reversed is defined and reversed is same as (true) %}reversed navbar-dark{% endif %}'
  {% if theme is defined %} data-theme={{theme}} {% endif %}
>
  <nav class='bf-header__nav w-100 {{ class|default('') }}'>
    <hr class="nav-border">
    <!-- Logo -->

    <div class='bf-header__logo'>
      <a href='{{ logo.href|default('#') }}' class='d-flex'>
        {% include '@bf-components/logo/twig/index.twig' with {
          name        : logo.name,
          size        : 'large',
          langcode    : langcode|default('EN'),
        } only %}
      </a>
    </div>

    <!-- Main Nav -->
    <div class='bf-header__nav-main js-collapse-full-height navbar-collapse collapse' id="navbarBifrostMenu">
      <!-- Main Nav Desktop -->
      <ul class='bf-megamenu list h-100 d-none d-lg-flex'>
        {% block navbar_content %}
          {% include '@bf-components/navigation-header/twig/mega-menu.twig' with {
            navItems    : navItems,
            reversed    : reversed
          } only %}
        {% endblock %}
      </ul>
      <!-- Main Nav Mobile -->
      <ul class='bf-megamenu list bf-list--divider d-block d-lg-none'>
        {% block navbar_content %}
          {% include '@bf-components/navigation-header/twig/mega-menu-mobile.twig' with {
            navItems    : navItems,
            reversed    : reversed
          } only %}
        {% endblock %}

        {# <!-- My account Item in mobile device -->  #}
        <li class="nav-item">
          {% if loginMenuItems is defined and loginMenuItems is not empty %}
          {% include '@bf-components/row-button/twig/index.twig' with {
            iconName    : 'my-account',
            size        : 'small',
            title       : (isConnected) ? loginMenuItems.name : labelMyAccount  ,
            paragraph   : (isConnected) ? loginMenuItems.description : '',
            href        : (isConnected) ? loginMenuItems.href : '#',
            class       : ''
          } only %}
        {% endif %}
        </li>
        {# <!-- Btn language --> #}
        <li class="nav-item d-flex">
          {% if langcode is defined and langcode is not empty %}
            {% include '@bf-components/row-button/twig/index.twig' with {
              size        : 'small',
              title       : (langcode == 'EN') ? 'English' : 'Français',
              paragraph   : '',
              href        : subItem.href,
              class       : 'lang-box',
              hasChevron  : false
            } only %}
          {% endif %}
        </li>
      </ul>
    </div>

    {# <!-- Search --> #}
    {% if hasNoSearchBtn is not defined or hasNoSearchBtn is same as (false) %}
      <div class='bf-header__search-bar js-bf-header__search-bar d-none d-md-block ml-1' id='navbarSearch'>
        <div class='d-flex align-items-center justify-content-between w-100'>
          {% block globalSearch %}
            {% include '@bf-components/input-search/twig/index.twig' with {
              class       : 'mb-0',
              input       : {
                placeholder : search.placeholder|default('')|t,
              },
              reversed    : reversed,
            } %}
          {% endblock %}
          {% include '@bf-components/button-icon/twig/index.twig' with {
            icon            : 'x',
            dataToggle      : 'collapse',
            dataTarget      : '#navbarSearch',
            ariaControls    : 'navbarSearch',
            ariaExpanded    : 'false',
            class           : 'd-flex d-md-none m-1 p-1'
          } only %}
        </div>
      </div>
    {% endif %}

    <!-- Actions -->
    <div class='bf-header__actions'>
      {# <!-- Btn search toggle --> #}
      {% include '@bf-components/button-icon/twig/index.twig' with {
        icon            : 'search',
        dataToggle      : 'collapse',
        dataTarget      : '#navbarSearch',
        ariaControls    : 'navbarSearch',
        ariaExpanded    : 'false',
        ariaLabel       :  (langcode == 'EN') ? 'Search' : 'Rechercher',
        class           : 'd-flex d-md-none js-bf-search-toggler'
      } only %}

      {# <!-- Right icons --> #}
      <div class="bf-header__rigth-icon-links ">
        {# <!-- rigth Icon Links - visible on mobile only --> #}
        {% for link in rigthIconLinks|default([])|slice(0, 2) %}
          {% if link is defined and link.href is not empty and link.icon is not empty %}
            {% include '@bf-components/button-icon/twig/index.twig' with {
              href    : link.href,
              icon    : link.icon,
              class   : link.class,
              badge   : (link.badge.label) ? { label : link.badge.label } : {}
            } only %}
          {% endif %}
        {% endfor %}
      </div>

      {# <!-- My Account Menu -->  #}
      {% if hasAccountBtn is defined and hasAccountBtn is same as (true) %}
        <div class="dropdown d-none d-lg-block {{ (isConnected) ? 'login' : 'logout' }}">
          <a class="btn btn-tertiary dropdown-toggle {{ (isConnected) ? 'login' : 'logout' }}" href="#" role="button" id="dropdownAccountMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% include '@bf-components/icon/twig/index.twig' with {
              name    : icon|default('my-account')
            } only %}
            {{ (isConnected) ? loginMenuItems.name : labelMyAccount }}
          </a>
        {% if isConnected is same as (true) %}
          <ul class="dropdown-menu bf-list--divider" aria-labelledby="dropdownAccountMenu">
            {% for accountIn in menuItemAccount %}
            <li>
              {% if accountIn.label is defined and accountIn.label or accountIn.iconName is defined and accountIn.iconName or accountIn.description is defined and accountIn.description or accountIn.href is defined and accountIn.href %}
                {% include '@bf-components/row-button/twig/index.twig' with {
                  iconName    : accountIn.iconName,
                  size        : 'small',
                  title       : accountIn.label,
                  paragraph   : accountIn.description,
                  href        : accountIn.href,
                  class       : '',
                  hasChevron  : false
                } only %}
              {% endif %}
              <ul class='bf-list'>
                {% for accountList in  accountIn.listItems %}
                  <li>
                    {% if accountList.label is defined and accountList.label or accountList.subIconName is defined and accountList.sbIconName or accountList.description is defined and accountList.description or accountIn.href is defined and accountList.href %}
                      {% include '@bf-components/row-button/twig/index.twig' with {
                        iconName    : accountList.subIconName,
                        size        : 'small',
                        title       : accountList.label,
                        paragraph   : accountList.description,
                        href        : accountList.href,
                        class       : '',
                        hasChevron  : false
                      } only %}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>

              {% endfor %}
            </li>
            <li>
              {% include '@bf-components/button/twig/index.twig' with {
                label           : labelLogOut,
                hierarchy       : 'secondary',
                class           : 'btn-logout',
                iconName        : 'logout',
                ariaControls    : '',
              } only %}
            </li>
          </ul>

            {% else %}
              <div class="dropdown-menu" aria-labelledby="dropdownAccountMenu">
                {% include '@bf-components/button/twig/index.twig' with {
                  label           : labelLogIn,
                  hierarchy       : 'primary',
                  class           : 'btn-logout',
                   ariaControls    : '',
                } only %}
                {% for accountOut in menuItemAccountNotConnected %}
                  {% if accountOut.label is defined and accountOut.label or accountOut.iconName is defined and accountOut.iconName  %}
                    {% include '@bf-components/row-button/twig/index.twig' with {
                      iconName    : accountOut.iconName,
                      size        : 'small',
                      title       : accountOut.label,
                      href        : accountOut.href,
                      hasChevron  : false,
                      class       : ''
                    } only %}
                  {% endif %}
                {% endfor %}
              </div>
        {% endif %}
        </div>
      {% endif %}

       <!-- Btn mini cart -->
      {% if cartBtn is defined and cartBtn is not empty %}
        {% if cartBtn.badge is defined and cartBtn.badge and cartBtn.badge != '0' %}
          {% set badgeLabel =  cartBtn.badge %}
          {% endif %}

          {% include '@bf-components/button-icon/twig/index.twig' with {
            icon        : 'cart',
            hierarchy   : 'primary',
            badgeLabel  : (badgeLabel is defined) ? badgeLabel : NULL,
            href        : (cartBtn.href is defined and cartBtn.href) ? cartBtn.href : NULL,
            ariaLabel   : cartBtn.ariaLabel|default(''),
            class       : cartBtn.class|default(''),
            isDisabled  : cartBtn.isDisabled|default(false)
          } only %}
        {% endif %}

      {# <!-- Btn language --> #}
      {% if langcode is defined and langcode is not empty %}
        {% include '@bf-components/link/twig/index.twig' with {
          href    : '',
          label   : (langcode == 'EN') ? 'EN' : 'FR',
          class   : 'nav-langcode d-none d-lg-block'
        } only %}
      {% endif %}

      {# <!-- Btn burger --> #}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBifrostMenu" data-parent="#navbarBifrostMenu" aria-controls="navbarBifrost" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  {# <!-- Algolia search results-->  #}
  {% if hasNoSearchBtn is not defined or hasNoSearchBtn is same as (false) %}
    <div class='align-items-center justify-content-between w-100'>
      <div id='alg-hits' class='ais-Hits bf-color-bg-ground alg-hidden'></div>
    </div>
  {% endif %}
</header>
