{% for navItem in navItems %}
  {% if navItem.subItemsMultiDropdown %}
    <li>
      <ul class="list-sub-items">
        {% for dropdownSubItem in navItem.subItemsMultiDropdown %}
          <li class="nav-item bf-megamenu__nav-item js-bf-megamenu__nav-item position-static {{ navItem.class }}">
            <div class="js-bf-megamenu__panel js-bf-megamenu__full-height" aria-labelledby="menuDropdown{{ loop.index }}">
             <div class="nav flex-column js-bf-megamenu__full-height" id="v-pills-tab-mobile" role="tablist" aria-orientation="vertical">
              <a class="nav-link js-bf-megamenu__nav-link mobile-menu d-flex align-items-center h-100"
                 id="v-pills-mobile{{ dropdownSubItem.catLabel|default('category')|url_encode }}-tab"
                 data-toggle="pill"
                 href="#v-pills-mobile{{ dropdownSubItem.catLabel|default('category')|url_encode }}"
                 role="tab"
                 aria-controls="v-pills-mobile{{ dropdownSubItem.catLabel|default('category')|url_encode }}">
                {% include '@bf-components/icon/twig/index.twig' with {
                  name        : dropdownSubItem.iconName|default,
                  size        : 'small',
                  class       : 'icon-tab',
                  reversed    : reversed|default,
                } only %}
                <span class="tab-label">
                   {{ dropdownSubItem.catLabel|default('category') }}
                 </span>
                {% include '@bf-components/icon/twig/index.twig' with {
                  name        : "chevron-right",
                  size        : 'small',
                  class       : "",
                } %}
              </a>
            </div>
          </div>
            <section class="tab-content" id="v-pills-tabContent-mobile">
              <!-- TAB : pane -->
                <div class="tab-pane js-bf-tab-pane fade bf-text-display-sub-medium"
                     id="v-pills-mobile{{ dropdownSubItem.catLabel|default('category')|url_encode }}"
                     role="tabpanel"
                     aria-labelledby="v-pills-mobile{{ dropdownSubItem.catLabel|default('category')|url_encode }}-tab"
                >
                  {% include '@bf-components/button-icon/twig/index.twig' with {
                    icon        : 'chevron-left',
                    size        : 'medium',
                    class       : 'btn-back-menu',
                  } only %}
                  <div class="p-dropdown-megamenu js-bf-dropdown-megamenu submenu-container-mobile">
                    <div class="d-flex flex-column">
                      {# parent label and icon  #}
                      <div class="submenu-container-mobile__parent">
                          <div class="d-flex align-items-center">
                          {% include '@bf-components/icon/twig/index.twig' with {
                            name        : dropdownSubItem.iconName,
                            size        : 'small',
                            class       : 'img-fluid position-relative',
                            reversed    : reversed,
                          } only %}
                          <div class="title-parent">
                            <span>{{ dropdownSubItem.catLabel }}</span>
                          {% set firstItem = dropdownSubItem.subdropdownItems|first %}
                          {% if firstItem.label %}
                            <span class="first-item-label">
                              <a href="{{ firstItem.href }}"
                                 class="js-bf-dropdown-item-link font-weight-bold"
                                 rel="{{ firstItem.rel|default('') }}"
                                 tabindex=-1
                                {{ firstItem.extraAttribute|default(NULL) }}
                              >{{ firstItem.label|default('Link') }}</a>
                            </span>
                          {% endif %}
                          </div>
                        </div>
                      </div>

                      {% for subItem in dropdownSubItem.subdropdownItems %}

                        <div class="col-lg-12 submenu-container-mobile__contain">
                          {% if subItem.listItems %}
                            <ul class="p-0 list-unstyled">
                              {% for subItem in subItem.listItems %}
                                <li class="mb-2">
                                  <a href="{{ subItem.href }}"
                                     class="js-bf-dropdown-item-link d-block d-lg-inline py-1 py-lg-0 {{ subItem.class }}"
                                     rel="{{ subItem.rel|default('dofollow') }}"
                                     tabindex=-1
                                    {{ subItem.extraAttribute|default(NULL) }}
                                  >{{ subItem.label|default('Link') }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
            </section>
          </li>
        {% endfor %}
      </ul>
    </li>
 {% endif %}
{% endfor %}

  {% for navItem in navItems %}
    {% if navItem.subItems %}
      <li class="nav-item bf-megamenu__nav-item js-bf-megamenu__nav-item position-static {{ navItem.class }}">
        <div class="js-bf-megamenu__panel js-bf-megamenu__full-height" aria-labelledby="menuDropdown{{ loop.index }}">
          <div class="nav flex-column js-bf-megamenu__full-height" id="v-nav-item-tab-mobile" role="tablist" aria-orientation="vertical">
            <a
              class="nav-link js-bf-megamenu__nav-link mobile-menu d-flex align-items-center h-100"
              data-toggle="pill"
              aria-label="Toggle navigation"
              id="v-nav-item-mobile-{{ navItem.label|default('category')|url_encode }}-tab"
              href="#v-nav-item-mobile-{{ navItem.label|default('category')|url_encode }}"
              role="tab"
              aria-controls="v-nav-tem-mobile-{{ navItem.label|default('category')|url_encode }}"
            >
            {% include '@bf-components/icon/twig/index.twig' with {
              name        : navItem.iconName,
              size        : 'small',
              class       : 'icon-tab',
              reversed    : reversed,
            } only %}
            <span class="tab-label">
               <span class="d-inline-block">
                 <span>{{ navItem.label }}</span>
                 <span class="d-table small">{{ navItem.subLabel }}</span>
            </span>
            </span>
            {% include '@bf-components/icon/twig/index.twig' with {
              name        : "chevron-right",
              size        : 'small',
              class       : "",
            } %}
          </a>
        </div>
      </div>
      <section class="tab-content" id="v-nav-item-tabContent-mobile">
        <!-- TAB : pane -->
        <div class="tab-pane js-bf-tab-pane fade bf-text-display-sub-medium"
             id="v-nav-item-mobile-{{ navItem.label|default('category')|url_encode }}"
             role="tabpanel"
             aria-labelledby="v-nav-item-mobile-{{ navItem.label|default('category')|url_encode }}-tab"
        >
          {% include '@bf-components/button-icon/twig/index.twig' with {
            icon        : 'chevron-left',
            size        : 'medium',
            class       : 'btn-back-menu',
          } only %}
          <div class="p-dropdown-megamenu js-bf-dropdown-megamenu submenu-container-mobile">
            <div class="d-flex flex-column">
              {# parent label and icon  #}
              <div class="submenu-container-mobile__parent">
                <div class="d-flex align-items-center">
                {% include '@bf-components/icon/twig/index.twig' with {
                  name        : navItem.iconName,
                  size        : 'small',
                  class       : 'img-fluid position-relative',
                  reversed    : reversed,
                } only %}
                <div class="title-parent">
                <span>{{ navItem.label }}</span>
                <span class="first-item-label">
                  {% set firstItem = navItem.subItems|first %}
                  {% if firstItem.label %}
                    <a href="{{ firstItem.href }}"
                       class="js-bf-dropdown-item-link font-weight-bold"
                       rel="{{ firstItem.rel|default('') }}"
                       tabindex=-1
                      {{ firstItem.extraAttribute|default(NULL) }}
                    >{{ firstItem.label|default('Link') }}</a>
                    {% endif %}
                </span>
                </div>
                </div>
              </div>
              {% for subItem in navItem.subItems %}
                {% set itemClass = subItem.class ? subItem.class : ''  %}
                <div class="col-lg-12 {{ itemClass }} submenu-container-mobile__contain">
                  {% if subItem.subItems %}
                    <ul class="p-0 list-unstyled">
                      {% for subItem in subItem.subItems %}
                        <li class="mb-2">
                          <a href="{{ subItem.href }}"
                             class="js-bf-dropdown-item-link d-block d-lg-inline py-2 py-lg-0 {{ subItem.class }}"
                             rel="{{ subItem.rel|default('dofollow') }}"
                             tabindex=-1
                            {{ subItem.extraAttribute|default(NULL) }}
                          >
                            {% include '@bf-components/icon/twig/index.twig' with {
                              name        : subItem.iconName,
                              size        : 'small',
                              class       : 'img-fluid position-relative',
                              reversed    : reversed,
                            } only %}
                            <span class="ml-1">{{ subItem.label|default('Link') }}</span>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              {% endfor %}
              {% if navItem.mega is not empty %}
                <div class="d-flex m-5">
                    {% for mega in navItem.mega|slice(0,1) %}
                      {% include '@bf-components/navigation-header/twig/mega-menu-block.twig' with {
                        imgSrc    : mega.imgSrc,
                        imgAlt    : mega.imgAlt,
                        href      : mega.href,
                        title     : mega.title,
                        paragraph : mega.text,
                      } %}
                    {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    </li>
   {% endif %}
{% endfor %}
