
{% for navItem in navItems %}
  {% if navItem.subItemsMultiDropdown %}
    <li>
      <ul class="list-sub-items">
        {% for dropdownSubItem in navItem.subItemsMultiDropdown %}
          <li class="nav-item bf-megamenu__nav-item js-bf-megamenu__nav-item  {{ navItem.class }}">
            <div class="js-bf-megamenu__panel">
              <div class="nav" id="v-pills-tab-mobile" role="tablist" aria-orientation="vertical">
                {% include '@bf-components/row-button/twig/index.twig' with {
                 iconName       : dropdownSubItem.iconName|default,
                 size           : size|default('small'),
                 id             : 'v-pills-mobile-' ~ dropdownSubItem.catLabel|default('category')|url_encode() ~ '-tab',
                 class          : "nav-link js-bf-megamenu__nav-link mobile-menu",
                 title          : dropdownSubItem.catLabel|default('category'),
                 paragraph      : '',
                 href           : '#v-pills-mobile-' ~ dropdownSubItem.catLabel|default('category')|url_encode(),
                 dataToggle    : 'pill',
                 ariaControls  : 'v-pills-mobile-' ~ dropdownSubItem.catLabel|default('category')|url_encode
                } %}
              </div>
          </div>
            <section class="tab-content" id="v-pills-tab-content-mobile">
              <!-- TAB : pane -->
                <div class="tab-pane js-bf-tab-pane fade"
                     id="v-pills-mobile-{{ dropdownSubItem.catLabel|default('category')|url_encode }}"
                     role="tabpanel"
                     aria-labelledby="v-pills-mobile-{{ dropdownSubItem.catLabel|default('category')|url_encode }}-tab"
                >
                  {% include '@bf-components/button-icon/twig/index.twig' with {
                    icon        : 'chevron-left',
                    size        : 'medium',
                    class       : 'btn-back-menu',
                  } only %}
                  <div class="submenu-container-mobile">
                      {# parent label and icon  #}
                      <div class="submenu-container-mobile__parent">
                      {% set firstItem = dropdownSubItem.subdropdownItems|first %}
                      {% if firstItem.label %}
                        {% include '@bf-components/row-button/twig/index.twig' with {
                          iconName    : dropdownSubItem.iconName,
                          size        : 'medium',
                          title       : dropdownSubItem.catLabel,
                          paragraph   : firstItem.label|default('Link'),
                          href        : firstItem.href,
                          class       : '',
                          hasChevron  : hasChevron|default(false)
                        } only %}
                      {% endif %}
                      </div>
                      {% for subItem in dropdownSubItem.subdropdownItems %}
                        <div class="submenu-container-mobile__contain">
                          {% if subItem.listItems %}
                            <ul>
                              {% for subItem in subItem.listItems %}
                                <li>
                                  {% include '@bf-components/row-button/twig/index.twig' with {
                                    iconName    : subItem.subIconName,
                                    size        : 'small',
                                    title       : subItem.label,
                                    paragraph   : '',
                                    href        : subItem.href,
                                    class       : '',
                                    hasChevron  : false
                                  } only %}
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </div>
                      {% endfor %}
                  </div>
                </div>
            </section>
          </li>
        {% endfor %}
      </ul>
    </li>
 {% endif %}
{% endfor %}

  {% for navItem in navItems %}
    {% if navItem.subItems %}
      <li class="nav-item bf-megamenu__nav-item js-bf-megamenu__nav-item {{ navItem.class }}">
        <div class="js-bf-megamenu__panel" >
          <div class="nav" id="v-nav-item-tab-mobile" role="tablist" aria-orientation="vertical">
            {% include '@bf-components/row-button/twig/index.twig' with {
              iconName       : navItem.iconName,
              size           : size|default('small'),
              id             : 'v-nav-item-mobile-' ~ navItem.label|default('category')|url_encode() ~ '-tab',
              class          : "nav-link js-bf-megamenu__nav-link mobile-menu",
              title          : navItem.label|default('category'),
              paragraph      : navItem.subLabel,
              href           : '#v-nav-item-mobile-' ~ navItem.label|default('category')|url_encode(),
              dataToggle     : 'pill',
              ariaControls   : 'v-nav-item-mobile-' ~ navItem.label|default('category')|url_encode,
              ariaLabel      : 'Toggle navigation'
            } %}
        </div>
      </div>
      <section class="tab-content" id="v-nav-item-tabContent-mobile">
        <!-- TAB : pane -->
        <div class="tab-pane js-bf-tab-pane fade bf-text-display-sub-medium"
             id="v-nav-item-mobile-{{ navItem.label|default('category')|url_encode }}"
             role="tabpanel"
             aria-labelledby="v-nav-item-mobile-{{ navItem.label|default('category')|url_encode }}-tab"
        >
          {% include '@bf-components/button-icon/twig/index.twig' with {
            icon        : 'chevron-left',
            size        : 'medium',
            class       : 'btn-back-menu',
          } only %}
          <div class="submenu-container-mobile">
              {# parent label and icon  #}
              <div class="submenu-container-mobile__parent">
                  {% set firstItem = navItem.subItems|first %}
                  {% if firstItem.label %}
                    {% include '@bf-components/row-button/twig/index.twig' with {
                      iconName    : navItem.iconName,
                      size        : 'medium',
                      title       : navItem.label,
                      paragraph   : firstItem.label|default('Link'),
                      href        : firstItem.href,
                      class       : '',
                      hasChevron  : false
                    } only %}
                  {% endif %}
              </div>
              {% for subItem in navItem.subItems %}
                <div class="submenu-container-mobile__contain">
                  {% if subItem.subItems %}
                    <ul>
                      {% for subItem in subItem.subItems %}
                        <li>
                          {% include '@bf-components/row-button/twig/index.twig' with {
                            iconName    : subItem.subIconName,
                            size        : 'small',
                            title       : subItem.label,
                            paragraph   : '',
                            href        : subItem.href,
                            class       : '',
                            hasChevron  : false
                          } only %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              {% endfor %}
              {% if navItem.mega is not empty %}
                <div class="d-flex m-5">
                    {% for mega in navItem.mega|slice(0,1) %}
                      {% include '@bf-components/navigation-header/twig/mega-menu-block.twig' with {
                        imgSrc    : mega.imgSrc,
                        imgAlt    : mega.imgAlt,
                        href      : mega.href,
                        title     : mega.title,
                        paragraph : mega.paragraph,
                      } %}
                    {% endfor %}
                </div>
              {% endif %}
          </div>
        </div>
      </section>
    </li>
   {% endif %}
{% endfor %}
