{# Import macros #}
{% import _self as navMacro %}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Default Variables (Props, Controls) - Pre Boolean Variables #}
{% set navLeftItems = navLeftItems|default([]) %}
{% set navRightItems = navRightItems|default([]) %}
{% set overrideTopBarLeft = overrideTopBarLeft|default(null) %}
{% set overrideTopBarRight = overrideTopBarRight|default(null) %}

{# Boolean Variables #}
{% set hasNavLeftItems = navLeftItems is not empty %}
{% set hasNavRightItems = navRightItems is not empty %}

{# Arrays of Classes With Dynamic Elements #}
{% set topBarClasses = [
  "bf-top-bar",
  "bf-nav-header__top-bar",
  "reversed",
] %}

{# Macro: Links Loop #}
{% macro topBarLinksLoop(linksItems) %}
  <ul class="list bf-top-bar__nav" role="menu">
    {% for item in linksItems %}

      {# In Loop - Variables #}
      {% set itemIsActive = item.isActive|default(false) %}

      {# In Loop - Boolean Variables #}
      {% set itemIsActive = itemIsActive is same as(true) %}

      {# In Loop - Arrays of Classes With Dynamic Elements #}
      {% set itemLinkDefaultClasses = [
        "bf-top-bar__nav__item__link",
        (item.class)
      ] %}

      {% set itemLinkActiveClasses = [
        "active",
        itemLinkDefaultClasses|join(' ')|trim
      ] %}

      {% set itemLinkClasses = [
        "link",
        itemLinkDefaultClasses|join(' ')|trim
      ] %}

      <li class="bf-top-bar__nav__item" role="presentation">

        {% if itemIsActive %}
          <span {{ macros.addAttributes({
            "class": itemLinkActiveClasses|join(' ')|trim,
            "role": "presentation",
          }) }}>
            {{ item.label }}
          </span>
        {% else %}
          <a {{ macros.addAttributes({
            "class": itemLinkClasses|join(' ')|trim,
            "href": item.href|default("#"),
            "rel": item.rel|default("dofollow"),
            "role": "menuitem",
          }) }}>
            {{ item.label }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{# Template #}
<nav {{ macros.addAttributes({
  "class": topBarClasses|join(' ')|trim,
  "aria-label": "Top Bar Navigation"|t,
  "role": "navigation",
}) }}>

  <div class="bf-top-bar__container">

    {# Nav on the left #}
    {% if overrideTopBarLeft is not empty %}
      {% block top_bar_left_nav %}
        {{ overrideTopBarLeft }}
      {% endblock %}
    {% else %}
      {% if hasNavLeftItems %}
        {{ navMacro.topBarLinksLoop(navLeftItems) }}
      {% endif %}
    {% endif %}

    {# Nav on the right #}
    {% if overrideTopBarRight is not empty %}
      {% block top_bar_right_nav %}
        {{ overrideTopBarRight }}
      {% endblock %}
    {% else %}
      {% if hasNavRightItems %}
        {{ navMacro.topBarLinksLoop(navRightItems) }}
      {% endif %}
    {% endif %}

  </div>
</nav>
