{# Import macros #}
{% import _self as navMacro %}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Default Variables (Props, Controls) - Pre Boolean Variables #}
{% set navLeftData = navLeftData|default(null) %}
{% set navRightData = navRightData|default(null) %}
{% set overrideTopBarLeft = overrideTopBarLeft|default(null) %}
{% set overrideTopBarRight = overrideTopBarRight|default(null) %}

{# Boolean Variables #}
{% set hasNavLeftData = navLeftData is not empty %}
{% set hasNavRightData = navRightData is not empty %}

{# Arrays of Classes With Dynamic Elements #}
{% set topBarClasses = [
  "bf-top-bar",
  "bf-nav-header__top-bar",
  "reversed",
] %}

{# Macro: Links Loop #}
{% macro topBarLinks(navData, positionClass) %}
  <ul {{ macros.addAttributes({
    "aria-label": navData.description,
    "class": "list bf-top-bar__nav bf-top-bar__nav--" ~ positionClass,
    "role": "menubar",
  }) }}>
    {% for item in navData.items %}

      {# In Loop - Boolean Variables #}
      {% set itemIsActive = item.isActive|default(false) is same as(true) %}
      {% set itemIsActiveLinkClickable = item.isActiveLinkClickable|default(true) is same as(true) %}

      {# In Loop - Boolean Variables - ORDER IS IMPORTANT #}
      {% set hasActiveInvisibleMessage =
        itemIsActiveLinkClickable is same as(false)
        and item.unclickableActiveMenuItemScreenReaderMessage is not empty
      %}

      {# In Loop - Arrays of Classes With Dynamic Elements #}
      {% set itemLinkDefaultClasses = [
        "bf-top-bar__nav__item__link",
        (item.class)
      ] %}

      {% set itemLinkActiveClasses = [
        "active",
        itemLinkDefaultClasses|join(' ')|trim
      ] %}

      {% set itemLinkClasses = [
        "link",
        itemLinkDefaultClasses|join(' ')|trim
      ] %}

      <li class="bf-top-bar__nav__item" role="presentation">

        {% if itemIsActive %}
          <span {{ macros.addAttributes({
            "class": itemLinkActiveClasses|join(' ')|trim,
          }) }}>
            {% if hasActiveInvisibleMessage %}
              <span class="sr-only">
                {{ item.unclickableActiveMenuItemScreenReaderMessage }}
              </span>
            {% endif %}
            {{ item.label }}
          </span>
        {% else %}
          <a {{ macros.addAttributes({
            "class": itemLinkClasses|join(' ')|trim,
            "href": item.href|default("#"),
            "rel": item.rel|default("dofollow"),
            "role": "menuitem",
          }) }}>
            {{ item.label }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{# Template #}
<nav {{ macros.addAttributes({
  "class": topBarClasses|join(' ')|trim,
  "aria-label": "Top Bar"|t,
  "role": "navigation"
}) }}>

  <div class="bf-top-bar__container">

    {# Nav on the left #}
    {% if overrideTopBarLeft is not empty %}
      {% block top_bar_left_nav %}
        {{ overrideTopBarLeft }}
      {% endblock %}
    {% else %}
      {% if hasNavLeftData %}
        {{ navMacro.topBarLinks(navLeftData, "left") }}
      {% endif %}
    {% endif %}

    {# Nav on the right #}
    {% if overrideTopBarRight is not empty %}
      {% block top_bar_right_nav %}
        {{ overrideTopBarRight }}
      {% endblock %}
    {% else %}
      {% if hasNavRightData %}
        {{ navMacro.topBarLinks(navRightData, "right") }}
      {% endif %}
    {% endif %}

  </div>
</nav>
