{% set needsContainer = (isInvalid is defined and isInvalid ) %}

{% if needsContainer %}
    <div class="bf-selection-tile__container {{ (isInvalid) ? 'color-warning ' : '' }} bf-selection-tile__container--{{ size|default('fit-content') }} {{ class }}">
{% endif %}

      <div class="bf-selection-tile bf-selection-tile--{{ orientation|default('horizontal') }} bf-selection-tile--{{ size|default('fit-content') }} {{ isDisabled? 'disabled' }}  {{ (needsContainer) ? '' : class }}">

        <div class="bf-selection-tile__control">

          <input type="{{ inputType|default('checkbox') }}"
                class="bf-selection-tile__input"
                id="{{ inputId|default('my-selection-tile') }}"
                name="{{ name|default('bf selection tile') }}"
                value="{{ value|default('') }}"
                aria-label = "{{ arialLabel|default('') }}"
                {% if isDisabled is defined and isDisabled %} disabled="disabled" {% endif %}
                {% if isSelected is defined and isSelected  %} checked="checked" {% endif %}
                {{ extraAttribute|default(NULL) }}>
          <label for="{{ inputId|default('my-selection-tile') }}" class="bf-selection-tile__label" title="{{ arialLabel }}"></label>

        </div>

        <div class="bf-selection-tile__block">
          {% block tile_content %}

            <div>
              <div class="bf-selection-tile__body">

                {% if visualType is defined  and visualType %}
                  <div class="bf-selection-tile__visual">

                    {% if image and image.src is defined and image.src and image.alt is defined and visualType is same as ('image') %}
                      <img class="{{ image.class }}" src="{{ image.src }}" alt="{{ image.alt }}">
                    {% endif %}

                    {% if iconName is defined and iconName and visualType is same as ('icon') %}
                      {% include '@bf-components/icon/twig/index.twig' with {
                          name    : iconName,
                          size    : 'medium',
                          type    : 'illustration'
                        } only %}
                    {% endif %}

                  </div>
                {% endif %}

                {% if ( title is defined and title) or (description is defined and description) %}
                  <div class="bf-selection-tile__text">

                    {% if title is defined and title %}
                    <p class="p-0 m-0"><strong>{{ title }}</strong></p>
                    {% endif %}

                    {% if description is defined and description %}
                    <p class="p-0 m-0">{{ description|striptags('<br><em><i><strong><b><sup><sub>')|raw }}</p>
                    {% endif %}

                  </div>
                {% endif %}
              </div>
            </div>

            {% if (info is defined and info) or (orientation is same as ('vertical') and size is same as ('fit-container')) %}
              <div class='bf-selection-tile__footer'>
                <div class="bf-selection-tile__text">
                  <p class="p-0 m-0">{{ info }}</p>
                </div>
              </div>
            {% endif %}

          {% endblock %}
        </div>
      </div>

{% if needsContainer %}
        <div class="bf-selection-tile__feedback">
            {{ errorMessage|striptags('<br><em><i><strong><b><sup><sub>')|raw }}
        </div>
    </div>
{% endif %}
