{% set fit              = fit|default('content') %}
{% set allowedTags 	    = '<br><em><i><strong><b><sup><sub>' %}
{% set orientation      = orientation|default('horizontal') %}
{% set hasVisual 	      = (iconName is defined and iconName) or (image.src is defined and image.src and image.alt is defined) %}

<div class='bf-selection-tile bf-selection-tile--{{ orientation }} bf-selection-tile--{{ 'fit-' ~ fit }} {{ isInvalid ? 'color-warning' : '' }} {{ isDisabled ? 'disabled' }} {{ isSelected ? 'checked' : '' }} {{ class }}'>
  <div class='bf-selection-tile__inner'>
    <div class='bf-selection-tile__control'>
      {% apply spaceless %}
        <input
          type='{{ type|default('checkbox') }}'
          class='bf-selection-tile__input'
          id='{{ inputId|default('') }}'
          name='{{ name }}'
          value='{{ value|default('') }}'
          {% if ariaLabel is defined and ariaLabel %} aria-label='{{ ariaLabel}}'{% endif %}
          {{ isDisabled ? 'disabled' : '' }}
          {{ isSelected ? 'checked' : '' }}
          {{ isRequired ? 'required' : '' }}
          {{ extraAttribute|default(NULL) }}
        />
      {% endapply %}
      <label for='{{ inputId|default('') }}' class='bf-selection-tile__label' {% if ariaLabel is defined and ariaLabel %} title='{{ ariaLabel }}'{% endif %}></label>
    </div>

    <div class='bf-selection-tile__block'>
      {% if block('content') is defined %}
        {{ block('content') }}
      {% elseif content is defined and content %}
        {{ content }}
      {% else %}
        <div class='{{ hasVisual ? '' : 'bf-selection-tile__no-visual' }}' >
          <div class='bf-selection-tile__body'>
            {% if hasVisual %}
              <div class='bf-selection-tile__visual'>
                {% if iconName is defined and iconName %}
                  {% include '@bf-components/icon/twig/index.twig' with {
                    name  : iconName,
                    size  : (orientation == 'vertical' and fit == 'container') ? 'large' : 'medium',
                  } only %}
                {% elseif image.src is defined and image.src and image.alt is defined %}
                  <img class='{{ image.class }}' src='{{ image.src }}' alt='{{ image.alt }}' />
                {% endif %}
              </div>
            {% endif %}

            {% if ( title is defined and title) or (description is defined and description) %}
              <div class='bf-selection-tile__text'>
                {% if title is defined and title %}
                  <p class='p-0 m-0 text-break'>
                    <strong>{{ title }}</strong>
                  </p>
                {% endif %}

                {% if description is defined and description %}
                  <p class='p-0 m-0 text-break'>{{ description }}</p>
                {% endif %}
              </div>
            {% endif %}

          </div>
        </div>

        {% if (info is defined and info) or (orientation is same as ('vertical') and fit is same as ('container')) %}
          <div class='bf-selection-tile__footer'>
            <div class='bf-selection-tile__text'>
              <p class='p-0 m-0 text-break'>{{ info }}</p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>

  </div>
  {% if isInvalid is defined and isInvalid and errorMessage is defined and errorMessage %}
    <div class='bf-selection-tile__feedback'>
      {{ errorMessage|striptags(allowedTags)|raw }}
    </div>
  {% endif %}
</div>