 
{# ------------------------------------------------------------------------------------------------------------------ #}

<div class="bf-selection-tile bf-selection-tile--{{ orientation|default('horizontal') }} bf-selection-tile--{{ size|default('small') }} {{ isCSR? 'csr' }} {{ isDisabled? 'disabled' }} {{ class|default('') }} ">
  
  <div class="bf-selection-tile__control">
  
    <input type="{{ inputType|default('checkbox') }}"
          class="bf-selection-tile__input"
          id="{{ inputId|default('my-selection-tile') }}"
          name="{{ name|default('bf-selection-tile') }}"
          value="{{ value}}"
          aria-label = "{{arialLabel}}"
          {% if isDisabled is defined and isDisabled %} disabled="disabled" {% endif %}
          {% if isSelected is defined and isSelected  %} checked="checked" {% endif %}
          {{ extraAttribute|default(NULL) }}>
  
    <label for="{{ inputId|default('my-selection-tile') }}" class="bf-selection-tile__label" title="{{arialLabel}}"></label>
  
  </div>

  <div class="bf-selection-tile__block">

    {% block tile_content %}

       <!-- The include below manages some tile variants,
       it is not mendatory when using this file as en embed Twig block 
       but be aware that some items may not be clickable even if you redefine the content of this block -->
      <div>
        <div class="bf-selection-tile__content">
          {% if image and image.src and image.alt %}
          <div class="bf-selection-tile__visual">
              <img class="{{image.class}}" src="{{image.src}}" width="68" height="40" alt="{{image.alt}}">
          </div>        
          {% endif %}

          {% if title or description %}
          <div class="bf-selection-tile__text">
            <p class="p-0 m-0"><strong>{{ title }}</strong></p>
            <p class="p-0 m-0">{{ description }}</p>
          </div>
          {% endif%}
        </div>
        
      </div>
      {% if size is same as ('large') and info %}
      <div class div='bf-selection-tile__footer'>
        <div class="bf-selection-tile__text"> 
          <p class="p-0 m-0">{{info}}</p>
        </div>
      </div>  
      {% endif %}


    {% endblock %}

  </div>
</div>

{# #}