{% set titleTag = titleTag|default('p') %}

<section class='
	bf-section-tiles-post bf-color-bg-ground
	{{ reversed ? 'reversed' }}
	{{ class|default('') }}'
>
	<div class='container-fluid py-5 py-md-7'>
        {% if title is defined and title %}
            <{{ titleTag }} class='h2 mb-4 mb-md-5'>
                {{ title }}
            </{{ titleTag }}>
        {% endif %}
		<ul class='d-flex flex-column flex-md-row gap-6 gap-md-4 list-unstyled'>
			{% for tile in tiles %}
				<li class='flex-1'>
                    {% set tile = tile|merge({ isFeatured: isFeatured|default(false) }) %}
					{% include '@bf-components/tile-post/twig/index.twig' with tile %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>