{% set titleTag = titleTag|default('p') %}

<section class='
  bf-section-tiles-post
  {{ background|default('ground') == 'ground' ? 'bf-color-bg-ground' : 'bf-color-bg-underground' }}
  {{ reversed|default(false) ? 'reversed' }}
  {{ class|default('') }}'
>
  <div class='container-fluid py-5 py-md-7'>
    {% if title is defined and title %}
      <{{ titleTag }} class='h2 mb-4 mb-md-5'>
        {{ title }}
      </{{ titleTag }}>
    {% endif %}
    <ul class='d-flex flex-column flex-md-row flex-wrap gap-4 list-unstyled'>
      {% for tile in tiles %}
        <li class='bf-section-tiles-post__item mb-4 {{ tile.size|default('default') == 'large' ? 'bf-section-tiles-post__item--size-large' }}'>
          {% set tile = tile|merge({ isFeatured: isFeatured|default(false) }) %}
          {% include '@bf-components/tile-post/twig/index.twig' with tile only %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>