{% if label is defined and label is not empty %}
  {% if label is iterable %}
    {% set labelText = label.text|default(null) %}
    {% set labelPosition = label.position|default(null) %}
  {% else %}
    {% set labelText = label %}
  {% endif %}
{% endif %}

<label
  class="bf-input-switch {{
  isDisabled is defined and isDisabled
    ? "disabled"
  }} {{ class|default("") }}"
>
  <span
    class="bf-text-display-sub-medium  bf-input-switch__label {{
    (labelPosition|default(null)) == "right"
      ? "bf-input-switch__label--right"
    }} {{ label.class|default(null) }}"
  >
    {{ labelText }}
  </span>
  <input
    id="{{ id }}"
    name="{{ name }}"
    type="checkbox"
    {{
    isDisabled is defined and isDisabled
      ? " disabled aria-disabled='true'"
    }}
    {{ isChecked is defined and isChecked ? " checked" }}
    {{
    ariaLabel is defined and ariaLabel
      ? " aria-label='" ~ ariaLabel ~ "'"
      : ariaLabelledby is defined and ariaLabelledby
        ? " aria-labelledby='" ~ ariaLabelledby ~ "'"
    }}
    {{ extraAttribute|default(null) }}
  />
  <span class="bf-input-switch__control"></span>
</label>
