{% if internetPlanAdditionalIncludes is not defined %}
    {% set internetPlanAdditionalIncludes = ['Helix FI Gateway'] %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<div class="{{ class|default('') }}">
    <h3 class="vui--font-secondary-bold mb-0">{{ internetPlanTitle|default('Internet 100') }}</h3>
    <p>{{ internetPlanDescription }}</p>

    {% include '@atoms/12-html-elements/hr-bold.twig' with { class:"" } only %}

    <div class="row mt-4">
        <div class="col-md-8 mb-5 mb-md-0">
            <div class="row">
                <div class="col-6 mb-5">
                    <p class="font-weight-bold">{{ downloadSpeedLabel|default('Download speeds up to') }}</p>
                    {% include '@components/display/display-specs-speed.twig' with {
                        class:"d-block mw-100",
                        size: "sm",
                    } %}
                </div>
                <div class="col-6">
                    <p class="font-weight-bold">{{ uploadSpeedLabel|default('Upload speeds up to') }}</p>
                    {% include '@components/display/display-specs-speed.twig' with {
                        class:"d-block mw-100",
                        size: "sm",
                        jaugeAnimValue: uploadJaugeAnimValue|default('500'),
                        jaugeTextValue: uploadJaugeTextValue|default('500'),
                        jaugeTextUnit: uploadJaugeTextUnit|default('MBIT/s'),
                        jaugeMaxValue: uploadJaugeMaxValue|default('1000'),
                    } %}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <p class="font-weight-bold">{{ simultaneousLabel|default('Simultaneous devices') }}</p>
                    {% include '@components/display/display-specs-devices.twig' with {
                        class: "",
                    } %}
                </div>
                <div class="col-6">
                    <p class="font-weight-bold">{{ downloadCapacityLabel|default('Download capacity') }}</p>
                    {% include '@components/display/display-specs-download.twig' with {
                        class: "",
                        text: 'Unlimited<br>download',
                    } %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <p class="font-weight-bold">{{ includesLabel|default('Includes') }}</p>

            {% for include in internetPlanAdditionalIncludes %}
                <p class="font-weight-normal mb-2">{{ include }}</p>
            {% endfor %}
        </div>
    </div>
</div>
