{% set isLink   = href is defined and href is not empty %}
{% set hasBadge = badgeLabel is defined and badgeLabel %}

<div class='bf-button-icon {{ isDisabled ? 'disabled' }} {{ class|default('') }}'>
  <{{ isLink ? 'a' : 'button' }}
    {% if isLink is same as (true) %}
      href='{{ href }}'
    {% else %}
      type='button'
      {% if isDisabled is defined and isDisabled  %}disabled{% endif %}
    {% endif %}
    class='bf-button-icon__inner {% if reversed is defined and reversed %}reversed{% endif %} {{ isLink ? 'js-bf-button-icon-link' : buttonClass|default('') }}'
    title='{{ (label is defined and label) ? label : '' }}'
    data-toggle='{{ dataToggle|default('tooltip') }}'
    {% if isDisabled is defined and isDisabled %} aria-disabled='true'{% endif %}
    {% if dataDismiss is defined and dataDismiss %}data-dismiss='{{ dataDismiss }}'{% endif %}
    {% if dataTarget is defined and dataTarget %}data-target='{{ dataTarget }}'{% endif %}
    {% if ariaControls is defined and ariaControls %}aria-controls='{{ ariaControls }}'{% endif %}
    {% if ariaExpanded is defined and ariaExpanded %}aria-expanded='{{ ariaExpanded }}'{% endif %}
    {% if ariaLabel is defined and ariaLabel %}aria-label='{{ ariaLabel }}'{% endif %}
    {{ extraAttribute|default(NULL) }}
  >
    {% include '@bf-components/icon/twig/index.twig' with {
      name  : icon|default('placeholder'),
      size  : 'small'
    } only %}
  </{{ isLink ? 'a' : 'button' }}>

{% if hasBadge %}
    {% set badgeLabel = badgeLabel > 99 ? "+99" : badgeLabel %}
    {% include '@bf-components/badge/twig/index.twig' with {
      label     : badgeLabel,
      class     : 'bf-button-icon__badge',
      hierarchy : 'primary',
      isRounded : true
    } only %}
{% endif %}
</div>
