{% set isDisabled   = isDisabled|json_parse %}

<div class='template-container w-100vw h-100vh'>
    {% for index in [1,2] %}
        
        <div class='d-flex justify-content-center align-items-start gap-5 p-5 {{ index == 2 ? 'reversed bf-color-bg-ground' : ''  }}'>
            
            <div class='d-flex flex-column align-items-start'>
                <p class='small flex-grow-1'>Native</p>
                
                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Link native'),
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Link native'),
                    iconName    : iconName|default('chevron-left')
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Link native'),
                    iconName    : iconName|default('external-link'),
                    iconPosition: iconPosition|default('right')
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Disabled'),
                    iconName    : iconName|default('external-link'),
                    isDisabled  : isDisabled|default(true)
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('No underline'),
                    iconName    : iconName|default('external-link'),
                    isUnderline : isUnderline|default(false)
                } %}

                <a href='#' class='bf-link {{ hierarchy == 'primary' ? 'bf-link--primary' : 'bf-link--native' }} {{ isDisabled ? 'disabled' : '' }} {{ class }}'>
                    {{ label|default('CSS only') }}
                </a>
                <a href='#' class='bf-link {{ hierarchy == 'primary' ? 'bf-link--primary' : 'bf-link--native' }} {{ isDisabled|default(true) ? 'disabled' : '' }} {{ class }}'>
                    {{ label|default('CSS only disabled') }}
                </a>
            </div>

            <div class='d-flex flex-column align-items-start'>
            
                <p class='small flex-grow-1'>Primary</p>

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Link primary'),
                    hierarchy   : hierarchy|default('primary'),
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Link primary'),
                    hierarchy   : hierarchy|default('primary'),
                    iconName    : iconName|default('chevron-left')
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Link primary'),
                    hierarchy   : hierarchy|default('primary'),
                    iconName    : iconName|default('external-link'),
                    iconPosition: iconPosition|default('right')
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Disabled'),
                    hierarchy   : hierarchy|default('primary'),
                    iconName    : iconName|default('external-link'),
                    isDisabled  : isDisabled|default(true)
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('No underline'),
                    hierarchy   : hierarchy|default('primary'),
                    iconName    : iconName|default('external-link'),
                    isUnderline : isUnderline|default(false)
                } %}

                <a href='#' class='bf-link {{ hierarchy|default('primary') == 'primary' ? 'bf-link--primary' : 'bf-link--native' }} {{ isDisabled ? 'disabled' : '' }} {{ class }}'>
                    {{ label|default('CSS only') }}
                </a>
                <a href='#' class='bf-link {{ hierarchy|default('primary') == 'primary' ? 'bf-link--primary' : 'bf-link--native' }} {{ isDisabled|default(true) ? 'disabled' : '' }} {{ class }}'>
                    {{ label|default('CSS only disabled') }}
                </a>
            </div>

        </div>
        
    {% endfor %}
</div>

<style>
    .template-container {
        display: grid;
        grid-template-rows: min-content;
        height: 100vh;
    }
</style>