{% set isUnderline  = isUnderline|json_parse %}
{% set isDisabled   = isDisabled|json_parse %}
{% set reversed     = reversed|json_parse %}

{% set variants = [
  {
    _name: "Ground",
    backgroundClass: "bf-color-bg-ground"
  },
  {
    _name: "Underground",
    backgroundClass: "bf-color-bg-underground"
  },
  {
    _name: "Ground + Reversed",
    backgroundClass: "bf-color-bg-ground reversed",
    reversed: true,
  },
  {
    _name: "Underground + Reversed",
    backgroundClass: "bf-color-bg-underground reversed",
    reversed: true
  },
  {
    _name: "Highlight",
    backgroundClass: "bf-color-bg-highlight highlight",
    highlight: true
  },
  {
    _name: "Highlight + Reversed",
    backgroundClass: "bf-color-bg-highlight reversed highlight",
    reversed: true,
    highlight: true
  }
] %}

<div class="bf-color-bg-underground p-4">
    <p class="small mb-0">
        Apply classes <strong>.bflink.bf-link--native</strong> or <strong>.bflink.bf-link--primary</strong> on <code>< a ></code> will display links correctly.
        <br/> But then, if needed, you still have to recreate <strong>icon</strong> behavior.
    </p>
</div>

<div class="template-container">
  {% for variant in variants %}
    <div class="d-flex flex-column {{ variant.backgroundClass }}">
      <h1 class="h3 p-4">
        {{ variant._name }}
      </h1>
      <div class="d-flex justify-content-center align-items-start gap-5">
            <div class="d-flex flex-column align-items-start">
                <p class="small flex-grow-1">Native</p>

                <a
                    href="#"
                    class="bf-link {{ hierarchy == "primary" ? "bf-link--primary" : "bf-link--native" }} {{ isDisabled ? "disabled" : "" }} {{ class }}"
                    {% if isDisabled %}aria-disabled="true" role="link"{% endif %}
                >
                    {{ label|default("CSS only") }}
                </a>
                <a
                    href="#"
                    class="bf-link {{ hierarchy == "primary" ? "bf-link--primary" : "bf-link--native" }} {{ isDisabled|default(true) ? "disabled" : "" }} {{ class }}"
                    {% if isDisabled|default(true) %}aria-disabled="true" role="link"{% endif %}
                >
                    {{ label|default("CSS only disabled") }}
                </a>
            </div>

            <div class="d-flex flex-column align-items-start">

                <p class="small flex-grow-1">Primary</p>

                <a
                    href="#"
                    class="bf-link {{ hierarchy|default("primary") == "primary" ? "bf-link--primary" : "bf-link--native" }} {{ isDisabled ? "disabled" : "" }} {{ class }}"
                    {% if isDisabled %}aria-disabled="true" role="link"{% endif %}
                >
                    {{ label|default("CSS only") }}
                </a>
                <a
                    href="#"
                    class="bf-link {{ hierarchy|default("primary") == "primary" ? "bf-link--primary" : "bf-link--native" }} {{ isDisabled|default(true) ? "disabled" : "" }} {{ class }}"
                    {% if isDisabled|default(true) %}aria-disabled="true" role="link"{% endif %}
                >
                    {{ label|default("CSS only disabled") }}
                </a>
            </div>
      </div>
    </div>
  {% endfor %}
</div>

<style>
  .template-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));
    height: 100vh;
  }
</style>
