{% if environnment is same as ('dev') %}
    {% include "@bifrostUtils/validation.twig" with { self: _self, context: _context } only %}
{% endif %}

<button 
    type="button"
    class="
        btn
        btn-{{ size|default('md') }} 
        btn-{{ color|default('primary') }} 
        {{ class|default('') }}
    "
    {% if disabled is same as (true) %}disabled="disabled"{% endif %}
>
    {{disabled}}
    {{ label|default('Default') }}
</button>