<button class="vui--style-reset d-{{ buttonDisplay|default('flex') }} align-items-center {{ buttonClass|default('') }}"
        title="{{ title|default('Lorem ipsum') }}"
        type="{{ type|default('button') }}"
        {% if dataPlacement is defined %}data-placement="{{ dataPlacement|default('top') }}"{% endif %}
        {% if dataDismiss is defined %}data-dismiss="{{ dataDismiss|default(NULL) }}"{% endif %}
        {% if dataToggle is defined %}data-toggle="{{ dataToggle|default(NULL) }}"{% endif %}
        {% if dataTarget is defined %}data-target="{{ dataTarget|default(NULL) }}"{% endif %}
        {% if ariaControls is defined %}aria-controls="{{ ariaControls|default(NULL) }}"{% endif %}
        {% if ariaExpanded is defined %}aria-expanded="{{ ariaExpanded|default(NULL) }}"{% endif %}
        {% if ariaLabel is defined %}aria-expanded="{{ ariaLabel|default(NULL) }}"{% endif %}
        {{ extraAttribute|default(NULL) }}>
    {% include '@atoms/06-icons/icon-svg.twig' with {
        iconName: iconName|default("trash"),
        iconColor: iconColor|default(''),
        iconSize: iconSize|default(2),
        iconColor: iconColor|default(""),
        iconClass: "d-flex " ~ iconClass|default("")
    } only %}
</button>
