<button 
    type="button"
    class="
        btn
        btn-{{ size|default('md') }} 
        btn-{{ color|default('primary') }} 
        {{ class|default('') }}
    "
>
    {{ label|default('Default') }}
    {{ exemple|default('Exemple') }}
</button>
