{# set booleans to false if the are undefined #}
{% set reversed = reversed|default(false) %}
{% set fullWidth = fullWidth|default(false) %}
{% set isLoading = isLoading|default(false) %}
{% set hasLoading = hasLoading|default(false) %}
{% set autofocus = autofocus|default(false) %}
{% set isSubmit = isSubmit|default(false) %}
{% set isDisabled = isDisabled|default(false) %}
{% set formNoValidate = formNoValidate|default(false) %}

{# conditions that turn a button into a submit button #}
{% if isSubmit or formNoValidate or
  (formId is defined and formId) or
  (formAction is defined and formAction) or
  (formEncryptionType is defined and formEncryptionType) or
  (formTarget is defined and formTarget) or
  (formMethod is defined and formMethod)
%}
  {% set isSubmitBtn = true %}
{% else %}
  {% set isSubmitBtn = false %}
{%  endif %}

{# conditions that turns a button into a link #}
{% set isLink = href is defined and href is not empty and not isSubmitBtn and not isDisabled %}

<{{ isLink ? 'a' : 'button' }}
    {% if isLink %}
        href='{{ href|default('#') }}'
    {% else %}
        type='{{ isSubmitBtn ? 'submit' : 'button' }}'
    {% endif %}
    class='bf-button bf-button--{{ hierarchy|default('secondary') }} {{ reversed ? 'reversed' }} {{ fullWidth ? 'bf-button--fullwidth' }} {{ isDisabled ? 'disabled' }} {{ isLoading ? 'loading' }} {{ class|default('') }}'
    {% if isDisabled %}disabled='disabled' aria-disabled='true' {% endif %}
    {% if dataDismiss|default(null) %}data-dismiss='{{ dataDismiss}}'{% endif %}
    {% if dataToggle|default(null) %}data-toggle='{{ dataToggle }}'{% endif %}
    {% if dataTarget|default(null) %}data-target='{{ dataTarget }}'{% endif %}
    {% if ariaControls|default(null) %}aria-controls='{{ ariaControls }}'{% endif %}
    {% if ariaExpanded|default(null) %}aria-expanded='{{ ariaExpanded }}'{% endif %}
    {% if id|default(null) %}id='{{ id }}'{% endif %}

    {% if isSubmitBtn %}
      {{ autofocus ? 'autofocus' }}
      {% if formId|default(null) %}form='{{ formId }}' {% endif %}
      {% if formAction|default(null) %}formaction='{{ formAction }}'{% endif %}
      {% if formEncryptionType|default(null) %}  formenctype='{{ formEncryptionType }}' {% endif %}
      {% if formTarget|default(null) %}formtarget='{{ formTarget }}'{% endif %}
      {% if formMethod|default(null) %}formmethod='{{ formMethod }}'{% endif %}
      {{ formNoValidate ? 'formnovalidate' }}
    {% endif %}

    {% if label is defined and label %}data-title='{{ label }}'{% endif %}
    {% if ariaLabel is defined and ariaLabel %}aria-label='{{ ariaLabel }}'{% endif %}
    {{ extraAttribute|default(null) }}
>
    <span class='bf-button__label'>
        {% if iconName is defined and iconName is not empty %}
            {% include '@bf-components/icon/twig/index.twig' with {
                name    : iconName,
                size    : iconSize|default('small'),
                class   : iconPosition is same as ('right') ? 'bf-button__icon--right' : ''
            } only %}
        {% endif %}
        {% if label is defined and label %}
          <span class='bf-button__label__text'>
            {{ label }}
          </span>
        {% endif %}
    </span>

    {% if isLoading or hasLoading %}
        <div class='bf-button__loading' role='decoration'>
            <i></i>
            <i></i>
            <i></i>
        </div>
    {% endif %}
</{{ isLink ? 'a' : 'button' }}>
