{% set isSubmit = isSubmit|default(false) %}
{% set isDisabled = isDisabled|default(false) %}
{% set isLink = href is defined and href is not empty and not isSubmit and not isDisabled %}

<{{ isLink ? 'a' : 'button' }}
    {% if isLink %}
        href='{{ href|default('#') }}'
    {% else %}
        type='{{ isSubmit ? 'submit' : 'button' }}'
    {% endif %}
    class='
        bf-button
        bf-button--{{ hierarchy|default('secondary') }}
        {% if reversed|default(false) %}reversed{% endif %}
        {% if fullWidth|default(false) %}bf-button--fullwidth{% endif %}
        {% if isDisabled %}disabled{% endif %}
        {% if isLoading|default(false) %}loading{% endif %}
        {{ class|default('') }}'
    {% if isDisabled %}disabled='disabled' aria-disabled='true' {% endif %}
    {% if dataDismiss|default(NULL) %}data-dismiss='{{ dataDismiss}}'{% endif %}
    {% if dataToggle|default(NULL) %}data-toggle='{{ dataToggle }}'{% endif %}
    {% if dataTarget|default(NULL) %}data-target='{{ dataTarget }}'{% endif %}
    {% if ariaControls|default(NULL) %}aria-controls='{{ ariaControls }}'{% endif %}
    {% if ariaExpanded|default(NULL) %}aria-expanded='{{ ariaExpanded }}'{% endif %}
    {% if id|default('') %}id='{{ id }}'{% endif %}

    {% if isSubmit %}
      {{ autofocus|default(false) ? 'autofocus' }}
      {% if formId|default(null) %}form='{{ formId }}' {% endif %}
      {% if formAction|default('') %}formaction='{{ formAction }}'{% endif %}
      {% if formEncryptionType|default('') %}  formenctype='{{ formEncryptionType }}' {% endif %}
      {% if formTarget|default('') %}formtarget='{{ formTarget }}'{% endif %}
      {% if formMethod|default('') %}formmethod='{{ formMethod }}'{% endif %}
      {% if formNoValidate|default(false) %}formnovalidate='formnovalidate'{% endif %}
    {% endif %}

    {% if label is defined and label %}data-title='{{ label }}'{% endif %}
    {% if ariaLabel is defined and ariaLabel %}aria-label='{{ ariaLabel }}'{% endif %}
    {{ extraAttribute|default(NULL) }}
>
    <span class='bf-button__label'>
        {% if iconName is defined and iconName is not empty %}
            {% include '@bf-components/icon/twig/index.twig' with {
                name    : iconName,
                size    : iconSize|default('small'),
                class   : iconPosition is same as ('right') ? 'bf-button__icon--right' : ''
            } only %}
        {% endif %}
        {% if label is defined and label %}
          <span class='bf-button__label__text'>
            {{ label }}
          </span>
        {% endif %}
    </span>

    {% if isLoading|default(false) or hasLoading|default(false) %}
        <div class='bf-button__loading' role='decoration'>
            <i></i>
            <i></i>
            <i></i>
        </div>
    {% endif %}
</{{ isLink ? 'a' : 'button' }}>