<a
  href="{{ href }}"
  class="link--no-decoration"
  rel="{{ rel|default("") }}"
  tabindex="-1"
  {{ subItem.extraAttribute|default(null) }}
>
  <div
    class="d-flex flex-column flex-md-row align-items-center {{ class|default(
      ""
    ) }}"
  >
    <div class="w-40 pr-md-4 w-100--mobile-only">
      {% include "@bf-utils/image-lazy-load/twig/index.twig" with {
        class: "",
        src: imgSrc|default("https://source.unsplash.com/400x250/?nature"),
        alt: imgAlt|default("")
      } %}
    </div>

    <div class="w-50 w-100--mobile-only">
      <span class="js-bf-dropdown-item-link font-weight-bold d-block mb-1">
        {{ title|default("") }}
      </span>
      <p class="small">{{ text|default("") }}</p>
    </div>
  </div>
</a>
