{% set titleBlock = (title is defined and title) or (link is defined and link) or (description is defined and description) or (details is defined and details) %}

<div class='bf-list {{ class|default('') }}'>
  {% if titleBlock %}
    <header class='d-flex justify-content-between'>
      {% if title is defined and title %}
        <{{ titleTag|default('h3') }} class={{ titleClass|default('h3') }}>
          {{ title }}
         </{{ titleTag|default('h3') }}>
      {% endif %}

      {% if (link is defined and link) or (description is defined and description) %}
        <p class='text-right mb-0'>
          {% if link is defined and link %}
            <a class='bf-link'
              {% if link.href is defined and link.href %}
                href={{ link.href }}
              {% else %}
                role='link'
                aria-disabled='true'
              {% endif %}
            >
              {{ link.label }}
            </a>

          {% else %}
            {{ description|default('') }}
          {% endif %}
        </p>
      {% endif %}
    </header>

    {% if details is defined and details %}
      <p> {{ details|raw() }} </p>
    {% endif %}
  {% endif %}

  {% if content is defined and content %}
    {% include '@bf-components/list/twig/list.twig' with content %}
  {% endif %}
</div>