{% set titleBlock = (title is defined and title) or (link is defined and link) or (description is defined and description) or (details is defined and details) %}

<div class='bf-list {{ class|default('') }}'>
  {% if titleBlock %}
    <header class='d-flex justify-content-between'>
      {% if title is defined and title %}
        <{{ titleTag|default('h3') }} class={{ titleClass|default('h3') }}>
          {{ title }}
         </{{ titleTag|default('h3') }}>
      {% endif %}

      {% if (link is defined and link) or (description is defined and description) %}
        <p class='text-right mb-0'>
          {% if link is defined and link %}
            {% include '@bf-components/link/twig/index.twig' with {
              label       : link.label|default(''),
              href        : link.href|default(''),
              iconName    : link.iconName|default(''),
              iconPosition: link.iconPosition|default('right'),
              class       : link.class|default(''),
              hierarchy   : 'primary'
            } %}
          {% else %}
            {# short title descripton - used in bf-card--plan #}
            {{ description|default('') }}
          {% endif %}
        </p>
      {% endif %}
    </header>

    {# Details :
      - Should support inline HTML - validate with design & DS team before adding |raw() filter
      - namming issue : could not use `description` without creating a breaking change in cards
    #}

    {% if details is defined and details %}
      <p> {{ details }} </p>
    {% endif %}
  {% endif %}

  {% if content is defined and content %}
    {% include '@bf-components/list/twig/list.twig' with content %}
  {% endif %}
</div>