{% set paragraph    = 'Semper sed imperdiet viverra consequat sed massa amet. Netus adipiscing sed id tortor tellus nisl in sed. Amet, massa ut commodo pellentesque vestibulum risus bibendum nulla odio. Vitae diam sed quis tellus semper ut arcu nibh.' %}

<div class='container maxw-60 py-5'>

    <div>
        <div>
            <h2>Medium</h2>
        </div>
        <div>
            <p>{{ paragraph }}</p>
            <p class='font-weight-bold'>{{ paragraph }}</p>
            {# Or: <p><strong>{{ paragraph }}</strong></p> #}
            <p class='font-italic'>{{ paragraph }}</p>
            <p class='text-underline'>{{ paragraph }}</p>
            {# Or <p><u>{{ paragraph }}</u></p> #}
        </div>
    </div>

    <div class='mt-5'>
        <div>
            <h2>Small</h2>
        </div>
        <div class='small'>
            <p>{{ paragraph }}</p>
            <p class='font-weight-bold'>{{ paragraph }}</p>
            <p class='font-italic'>{{ paragraph }}</p>
            <p class='text-underline'>{{ paragraph }}</p>
        </div>
    </div>

</div>