<nav class='bf-nav-stepper {{ class|default('') }}'>
  <!-- Navbar content -->

    <ul class=  'bf-nav-stepper__nav'>

      {% for step in navItemSteps %}
        {% set isActive = false %}
        {% set isPrevious = false %}
        {% set isNext = false %}

        {% if loop.index == activeStep - 1 %}
          {% set isPrevious = true %}
        {% elseif loop.index ==   activeStep %}
          {% set isActive = true %}
        {% elseif loop.index ==   activeStep + 1 %}
          {% set isNext = true %}
        {% endif %}

        {% if isPrevious %}
          <li class='bf-nav-stepper__nav-item bf-nav-stepper__nav-item--prev d-none d-lg-block'><a class='bf-link bf-link--primary' href='{{step.href}}'>{{ loop.index}}. {{step.label}}</a></li>
        {% elseif isActive %}
          <li class=' bf-nav-stepper__nav-item bf-nav-stepper__nav-item--active'>{{ loop.index}}. {{step.label}}</li>
        {% elseif isNext %}
          <li class='bf-nav-stepper__nav-item bf-nav-stepper__nav-item--next d-none d-lg-block'>{{ loop.index}}. {{step.label}}</li>
        {% endif %}
      {% endfor %}
    </ul>

    {# step indicator #}
    <div class=  ' d-flex w-100 pt-1'>
      {% for stepper in navItemSteps %}
        {% if loop.index <=   activeStep %}
          {% set bgColorClass =   'bf-color-bg-highlight  ' %}
        {% else %}
          {% set bgColorClass =   'bf-color-bg-action-no-bg-hover  ' %}
        {% endif %}

        <div class='bf-nav-stepper__steps {{ bgColorClass }}' ></div>
      {% endfor %}
    </div>

</nav>