{% if (activeStep > 0) and (navItemSteps is defined and navItemSteps is not empty) %}
  <nav class='bf-stepper {{ class|default('') }}'>
    {% set nbNavItemSteps = navItemSteps|length %}
    <!-- Navbar content -->
    <ul class='bf-stepper__nav container-fluid m-auto '>
      {% for step in navItemSteps %}
        {% set isActive = false %}
        {% set isPrevious = false %}
        {% set isNext = false %}

        {% if loop.index == activeStep - 1 %}
          {% set isPrevious = true %}
        {% elseif loop.index ==   activeStep %}
          {% set isActive = true %}
        {% elseif loop.index ==   activeStep + 1 %}
          {% set isNext = true %}
        {% endif %}

        {% if isPrevious %}
          <li class='bf-stepper__nav-item bf-stepper__nav-item--prev'>
          {# spaceless :
          - remove whitespace between html elements within the <a> tag
          - prevents an underline space to appear between the icon and the label
          #}
          {% apply spaceless %}
            {% if step.href is defined and step.href %}
              <a class='bf-link bf-link--primary bf-color-neutral-primary' href='{{ step.href }}'
                {% if not previousHasLabel %}
                 data-toggle='tooltip' data-placement='top' title='{{ step.label }}'
                {% endif %}
              >
                {% include '@bf-components/icon/twig/index.twig' with {
                    name  : 'chevron-left',
                    size  : 'small',
                } only %}
            {% endif %}

            {% if previousHasLabel|default(true) %}
              <span class='d-none d-lg-inline pr-2'>{{ step.label }}</span>
            {% endif %}

            {% if step.href is defined and step.href %}</a>{% endif %}
          {% endapply %}
          </li>
        {% elseif isActive %}
          {% if  loop.index == 1 %}
            <li class='bf-stepper__nav-item d-none d-lg-block'>&nbsp;</li>
          {% endif %}

          <li class=' bf-stepper__nav-item bf-stepper__nav-item--active'>
            <span class='h3'>{{step.label}}</span>

            {# step Counter #}
            {% if hasStepCounter %}
              <span class='bf-stepper__counter text-center bf-text-display-sub-small'>
                  {{ (counterLabel is defined and counterLabel) ? counterLabel: ''}} {{activeStep}}/{{nbNavItemSteps}}
              </span>
            {% endif %}
          </li>

          {% if  loop.index >= nbNavItemSteps %}
            <li class='bf-stepper__nav-item d-none d-lg-block'>&nbsp;</li>
          {% endif %}
        {% elseif isNext %}
          <li class='bf-stepper__nav-item bf-stepper__nav-item--next'>
          {% apply spaceless %}
            {% if step.href is defined and step.href and nextIsClickable %}
              <a class='bf-link bf-link--primary .bf-color-neutral-primary' href='{{ step.href }}'
                {% if not NextHasLabel %}
                  data-toggle='tooltip' data-placement='top' title='{{ step.label }}'
                {% endif %}
              >
            {% endif %}

            {% if nextHasLabel|default(true) %}
              <span class='d-none d-lg-inline px-2'>{{step.label}}</span>
            {% endif %}

            {% if step.href is defined and step.href and nextIsClickable %}
              {% include '@bf-components/icon/twig/index.twig' with {
                  name  : 'chevron-right',
                  size  : 'small'
              } only %}
              </a>
            {% endif %}
          {% endapply %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    {# step indicator #}
    <div class='d-flex w-100 bf-stepper__steps'>
      {% for stepper in navItemSteps %}
        {% if loop.index <= activeStep %}
          {% set bgColorClass = '--done' %}
        {% else %}
          {% set bgColorClass = '--todo' %}
        {% endif %}
        <div class='bf-stepper__step {{ 'bf-stepper__steps' ~ bgColorClass }}'></div>
      {% endfor %}
    </div>
  </nav>
{% endif %}