{# Boolean Variables #}
{% set hasProgressValue = progressValue is defined and progressValue is not empty %}
{% set isMonochromeColor = (isMonochromeColor ?? false) is same as(true) %}

{# Default Variables (Props, Controls) #}
{% set class = class|default("") %}
{% set progressBarClass = progressBarClass|default("") %}

{# for legacy purpose #}
{% set minValue = progressMinValue|default(0) %}
{% set maxValue = progressMaxValue|default(100) %}
{% set percentValue = (
  hasProgressValue
    ? progressValue / (maxValue - minValue) * 100
    : progressPercentValue
)|default(0) %}
{# Do no set progressValue if it's already defined #}
{% set progressValue = (
  hasProgressValue is same as(false)
    ? percentValue / 100 * (maxValue - minValue)
    : progressValue
)|default(0) %}


{# Color settings #}
{% if isMonochromeColor %}
  {% set progressColor = "default" %}
{% else %}
  {% if percentValue > 90 %}
    {% set progressColor = "danger" %}
  {% elseif percentValue > 50 %}
    {% set progressColor = "warning" %}
  {% else %}
    {% set progressColor = "success" %}
  {% endif %}
{% endif %}

{# Template #}
<div class="progress {{ class }}">
  <div
    class="progress-bar bg-{{ progressColor }} {{ progressBarClass }}"
    role="progressbar"
    style="width: {{ percentValue }}%"
    aria-valuenow="{{ progressValue }}"
    aria-valuemin="{{ minValue }}"
    aria-valuemax="{{ maxValue }}"
    data-toggle="tooltip"
    title="{{ percentValue|number_format(1) }}%"
  ></div>
</div>
