{# Default Variables (Props, Controls) - Pre Boolean Variables #}
{% set numberOfCheckboxesToDisplay = numberOfCheckboxesToDisplay|default(8) %}

{# Boolean Variables #}
{% set hasDataCheckboxes = dataCheckboxes is defined and dataCheckboxes is not empty %}
{% set hasDataSlider = dataSlider is defined and dataSlider is not empty %}
{% set hasId = id is defined and id is not empty %}
{% set isBlockFilterContentBlockDefined = block("filterContentBlock") is defined %}
{% set isCheckboxesLengthHigherThanDisplay = dataCheckboxes.options|length > numberOfCheckboxesToDisplay %}

{# Default Variables #}
{% set class = class|default("") %}

{# Component Variables #}
{% if isBlockFilterContentBlockDefined %}
  {% set filterContentBlock = block("filterContentBlock") %}
{% endif %}

{# Arrays of Classes With Dynamic Elements #}
{% set filterClasses = [
  "bf-filter js-bf-filter",
  (class),
] %}
{% set filterNumberSelectionsClasses = [
  "bf-filter__nb-selection js-bf-filter__nb-selection",
  (hasDataCheckboxes ? "bf-filter__nb-selection--zero"),
] %}
{% set filterCheckboxesClasses = [
  "bf-filter__checkboxes js-bf-filter__checkboxes",
  (isCheckboxesLengthHigherThanDisplay ? "bf-filter__checkboxes--limit-height"),
] %}

{# Template #}
{% embed "@bf-components/accordion/twig/index.twig" with {
  class: filterClasses|join(' ')|trim,
  id: id,
  idParent: idParent,
  isDisabled: isDisabled,
  isExpandedByDefault: isExpandedByDefault,
  title: title,
  background: "ground",
  emphasisPosition: "left",
  hasBorder: false,
  iconPosition: "right",
  iconType: "plus-minus",
  isBorderRounded: false,
  paddingX: "none",
  paddingY: "large",
  titleSize: "normal",
  titleTag: "div",
  titleWeight: "bold",
} %}
    {% block emphasisBlock %}
      {% if hasDataCheckboxes %}
        {% include '@bf-components/badge/twig/index.twig' with {
            class: filterNumberSelectionsClasses|join(' ')|trim,
            fontSize: "medium",
            hierarchy: "tertiary",
            isRounded: true,
            label: "0",
        } only %}
      {% endif %}
    {% endblock %}

    {% block contentBlock %}

      {# Import macros #}
      {% import "@bf-utils/macros/twig/index.twig" as macros %}

      {# Checkboxes filter #}
      {% if hasDataCheckboxes %}
        {% set dataCheckboxes =
          dataCheckboxes|merge({
            class: filterCheckboxesClasses|join(' ')|trim,
            extraAttribute: {
              "data-nb-checkboxes-display": numberOfCheckboxesToDisplay|number_format
            }
          })
        %}
        {% include '@bf-components/input-checkbox/twig/index.twig' with dataCheckboxes only %}

        {% if isCheckboxesLengthHigherThanDisplay %}
          <button {{ macros.addAttributes({
            "aria-controls": dataCheckboxes.id,
            "class": "bf-filter__checkboxes__toggle-height js-bf-filter__checkboxes__see-more bf-link bf-link--native",
          }) }}>
            {{ "See more"|t }}
          </button>
          <button {{ macros.addAttributes({
            "aria-controls": dataCheckboxes.id,
            "class": "bf-filter__checkboxes__toggle-height js-bf-filter__checkboxes__see-less d-none bf-link bf-link--native",
          }) }}>
            {{ "See less"|t }}
          </button>
        {% endif %}
      {% endif %}

      {# Slider filter #}
      {% if hasDataSlider %}
        {% include '@bf-components/input-slider/twig/index.twig' with dataSlider only %}
      {% endif %}

      {# Other type filter #}
      {% if isBlockFilterContentBlockDefined %}
        {{ filterContentBlock }}
      {% endif %}

    {% endblock %}
{% endembed %}
