<button type="button"
        class="btn btn-{{ buttonSize|default('md') }} btn-{{ buttonColor|default('primary') }} position-relative {{ buttonClass|default('') }}"
        {% if buttonLabel is not empty %}data-title="{{ buttonLabel|render|t([],{'langcode': 'EN','context':'data-title-attribute' }) }}"{% endif %}
        {% if dataToggle is defined %}data-toggle="{{ dataToggle|default(NULL) }}"{% endif %}
        {% if dataTarget is defined %}data-target="{{ dataTarget|default(NULL) }}"{% endif %}
        {% if ariaControls is defined %}aria-controls="{{ ariaControls|default(NULL) }}"{% endif %}
        {% if ariaExpanded is defined %}aria-expanded="{{ ariaExpanded|default(NULL) }}"{% endif %}
        {% if ariaLabel is defined %}aria-expanded="{{ ariaLabel|default(NULL) }}"{% endif %}
        {{ extraAttribute|default(NULL) }}
>{{ buttonLabel|default('Label TODO') }}
    <div class="p-input position-absolute--center-left d-flex align-items-center justify-content-center h-100">
        {% include '@atoms/06-icons/icon-svg-' ~ iconName|default('helix') ~ '.twig' with { iconSize:iconSize|default(1), iconClass:"mr-3" } only %}
    </div>
</button>
