<div
  class="
    bf-input bf-input-search form-group
    {{
  reversed is defined and reversed is same as(true)
    ? " reversed"
  }}
    {{ class|default("") }}"
>
  {% if label %}
    <label
      for="{{ input.id }}"
      class="{{ label.class|default("") }}"
      {{ label.extraAttribute|default(null) }}
    >
      {{ label.value|default("Label") }}
    </label>
  {% endif %}

  <div class="position-relative">
    <input
      id="{{ input.id }}"
      {{ isDisabled is defined and isDisabled is same as(true) ? " disabled" }}
      class="form-control mt-{{ mtValue|default("0") }} {{ input.class|default(
        ""
      ) }}"
      type="{{ input.type|default("text") }}"
      placeholder="{{ input.placeholder|default("") }}"
      name="{{ input.name|default("") }}"
      value="{{ input.value|default("") }}"
      {{ input.extraAttribute|default(null) }}
    />

    <div
      class="form-group__input-icon-container rounded {{ input.iconPosition|default(
        ""
      ) }}"
    >
      {% block icon_container %}
        {% include "@bf-components/input-search/twig/button-tooltip.twig" with {
          buttonClass: "p-0"
        } %}
      {% endblock %}
    </div>

    {# <div class="icon--error d-none">
            {% include "@bf-components/icon/twig/index.twig" with {
                name    : "svg-error",
                color   : "negative"
            } only %}
        </div> #}
  </div>

  <div class="invalid-feedback">
    {{ invalidMsg|default("This is an invalid error message") }}
  </div>
</div>
