{# Ui-Kit legacy #}
{% set id = id|default(inputId) %}
{% set name = name|default(inputName) %}

<label
  class='bf-input-checkbox {{ class|default('') }} {{ (isInvalid is defined and isInvalid) ? 'bf-input-checkbox--invalid' }} {{ (isDisabled is defined and isDisabled) ? 'bf-input-checkbox--disabled' }} {{ class|default('')}} '>
  <input type='{{ type|default('checkbox') }}'
    class='{{ (isInvalid is defined and isInvalid) ? 'invalid' }}'
    {% if name is defined and name %} name='{{ name }}' {% endif %}
    {% if id is defined and id %} id='{{ id }}' {% endif %}
    {% if value is defined and value %} value='{{ value }}' {% endif %}
    {{ (isChecked is defined and isChecked) ? 'checked' }}
    {{ (isDisabled is defined and isDisabled) ? 'disabled' }}
    {{ (isRequired is defined and isDisabled) ? 'required' }}
    {% if ariaLabel is defined and ariaLabel %}
      aria-label='{{ ariaLabel }}'
    {% endif %}
    {{ extraAttribute|default(NULL) }}
  >
  <span class='bf-input-checkbox__control'></span>
  {% if label is defined and label %}
    <span class='bf-input-checkbox__label bf-text-display-sub-medium {{ labelClass|default('') }}'>{{ label }}</span>
  {% endif %}
</label>