{% set hasLabels =  labelOff is defined and labelOff and labelOn is defined and labelOn %}
<div class='bf-switch {% if size is defined and size %} bf-switch--{{ size|default('sm') }}{% endif %}'>
  <div class="d-block position-relative overflow-hidden">
    <input
      class='bf-switch__input {{ isInvalid ? 'isInvalid' }} '
      id='{{ id }}'
      name='{{ name|default('')}}'
      type='checkbox'
      {{ isDisabled ? 'disabled aria-disabled="true"' }}
      {{ isChecked ? 'checked aria-checked="true"' }}
      {{ extraAttribute|default(NULL) }}
      {% if ariaLabel is defined and ariaLabel %}
        aria-label='{{ ariaLabel }}'
      {% endif %}
    >

    {% if hasLabels %}
      <div class="bf-switch__labels">
        <div class="w-100">{{ labelOn|default('On') }}</div>
        <div class="w-100 text-right">{{ labelOff|default('Off') }}</div>
      </div>
    {% endif %}
  </div>
</div>