{% if tvPlanAdditionalIncludes is not defined %}
    {% set tvPlanAdditionalIncludes = [
        'Helix FI Gateway',
        'Helix FI Gateway',
        'Helix FI Gateway',
        'Helix FI Gateway',
        'Helix FI Gateway',
    ] %}
{% endif %}

{% if includedChannels is not defined %}
    {% set includedChannels = [
        {imgSrc:"/images/logo/channels/tva-sports.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/canalplus.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/rds.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/yoopa.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/canalplus.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/yoopa.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/rds.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/tva-sports.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/canalplus.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/rds.svg",imgAlt:"Here is my title"}
    ] %}
{% endif %}

{% if choiceChannels is not defined %}
    {% set choiceChannels = [
        {imgSrc:"/images/logo/channels/tva-sports.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/canalplus.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/rds.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/yoopa.svg",imgAlt:"Here is my title"}
    ] %}
{% endif %}

{% if premiumChannels is not defined %}
    {% set premiumChannels = [
        {imgSrc:"/images/logo/channels/tva-sports.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/canalplus.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/rds.svg",imgAlt:"Here is my title"},
        {imgSrc:"/images/logo/channels/yoopa.svg",imgAlt:"Here is my title"}
    ] %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<div class="{{ class|default('') }}">
    <div class="d-md-flex align-items-end justify-content-between">
        <div class="mb-3 mb-md-0">
            <p class="h4 vui--text-highlight vui--font-secondary-bold text-uppercase">{{ tvPlanTitle|default('TV ALL-IN PACK') }}</p>
            <div class="align-items-center d-flex">
                {% if bundleLogo is defined and bundleLogo is not empty %}
                    {% include '@atoms/06-icons/icon-svg.twig' with { iconName: bundleLogo, iconClass:"img-fluid" } only %}
                {% endif %}
                <p class="h4 mb-0">{{ productLabel|default(' ') }}</p>
            </div>
        </div>

        {% include '@atoms/04-links/link-underline-with-icon--external-link.twig' with {
            class:"mb-1",
            headingSize: 6,
            label: viewChannelsLabel|default('view channels'),
            href: viewChannelsHref|default('#view-channels'),
            extraAttribute: 'target=_blank'
        } %}
    </div>

    {% include '@atoms/12-html-elements/hr-bold.twig' with { class:"" } only %}

    <div class="row mt-4">
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="">
                <p class="h5 font-weight-bold">{{ totalChannelCount|default('38') }}</p>
                <p class="font-weight-bold">{{ channelCount|default('23') }} {{ channelCountLabel|default('Basics Channels') }}</p>
                {% include '@molecules/15-services-widgets/channels-listing.twig' with {
                    class:"",
                    channels: includedChannels,
                } %}
            </div>
        </div>

        <div class="col-md-4 mb-md-0">

            {% if choiceChannelCount is defined and choiceChannelCount > 0 %}
                <div class="mb-4">
                    <p class="font-weight-bold">
                        +{{ choiceChannelCount|default('15') }} {{ choiceChannelCountLabel|default('channels of your choice') }}</p>
                    <div class="mb-3">
                        <p class="">{{ highlightedDetailText|default('Popular') }}</p>
                        {% include '@molecules/15-services-widgets/channels-listing.twig' with {
                            class:"mb-4",
                            channels: choiceChannels,
                        } %}
                    </div>
                </div>
            {% endif %}


            {% if showPremiumSection is not defined or showPremiumSection is null or showPremiumSection %}
                <div class="mb-4">
                    <p class="font-weight-bold">
                        +{{ premiumChannelCount|default('1') }} {{ premiumChannelCountLabel|default('Premium choice') }}</p>
                    {% include '@molecules/15-services-widgets/channels-listing.twig' with {
                        class:"mb-4",
                        channels: premiumChannels,
                    } %}
                </div>
            {% endif %}
        </div>

        <div class="col-md-4">
            <p class="font-weight-bold">{{ includesLabel|default('Includes') }}</p>

            <ul class="list-checkmark">
                {% for include in tvPlanAdditionalIncludes %}
                    <li class="list-checkmark__item">{{ include }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
