{% if alsoIncludes is not defined %}
    {% set alsoIncludes = [
        'Free equipment installation at your home',
        '24/7 technical support'
    ] %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<div class="{{ class|default('') }}">
    <h3 class="vui--font-secondary-bold mb-0">{{ alsoIncludesLabel|default('This bundle also includes') }}</h3>
    {% include '@atoms/12-html-elements/hr-bold.twig' with { class:"" } only %}

    <div class="row mt-4">
        <div class="col-12">
            <div class="mb-4">
                {% for item in alsoIncludes %}
                    <p class="font-weight-normal mb-2">{{ item|raw }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if richText is defined and richText is not empty %}
        <div class='row mt-4'>
            <div class='col-12'>
                <div class='mb-4'>{{ richText|raw }}</div>
            </div>
        </div>
    {% endif %}

    {% if embeddedContent is defined and embeddedContent is not empty %}
        <div class='row'>
            <div class='col-12'>
                <div class='mb-4'>{{ embeddedContent }}</div>
            </div>
        </div>
    {% endif %}

</div>
