<nav class='bf-tab nav {{ class|default('') }}'>
    {% for item in navItems %}
        <a
            class='nav-link mr-6 mb-0 px-0 {{ itemClass|default('') }} {{ item.class|default('') }}'
            href='{{ item.href|default('#') }}'
            {{ item.extraAttribute }}
        >{{ item.label|default('') }}</a>
    {% endfor %}
</nav>
