{#
/**
 * @file
 * Bifrost's theme implementation to display a single Drupal page.
#}

{% include '@components/button/twig/button.twig' with { 
    label:'New label',
    wrongProperty:'Value'
} only %}

{% include '@templates/contact-form/twig/contact-form.twig' with { 
    label:'Contact form',
    submitButton: {
        label: 'Nested button',
        mais: 'voyons'
    }
} only %}

<br/><br/><br/>

<div class="layout-container">
    {{ page.pre_content }}
    {{ page.breadcrumb }}
    <main class="page-content clearfix" role="main">
        <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
        {{ page.highlighted }}
        {% if page.help %}
            <div class="help">
                {{ page.help }}
            </div>
        {% endif %}
        {{ page.content }}
    </main>

</div>
