{#
/**
 * @file
 * Bifrost's theme implementation to display a single Drupal page.
#}

<div class='container my-6'>
    
    <h1 class='mr-7'>
        Buttons
    </h1>

    <div>

        <div class='mt-4'>
            <h3>Colors</h3>
            {% include '@components/button/twig/button.twig' with { 
                label:'Primary',
                wrongProperty:'Value',
                color:'primary'
            } only %}

            {% include '@components/button/twig/button.twig' with { 
                label:'Secondary',
                color:'secondary'
            } only %}
        </div>

        <div class='mt-4'>
            <h3>Size</h3>
            {% include '@components/button/twig/button.twig' with { 
                label:'Large',
                size:'lg'
            } only %}

            {% include '@components/button/twig/button.twig' with { 
                label:'Medium',
            } only %}

            {% include '@components/button/twig/button.twig' with { 
                label:'Small',
                size:'sm'
            } only %}
        </div>

        <div class='mt-4'>
            <h3>Disabled</h3>
            {% include '@components/button/twig/button.twig' with { 
                label:'Disabled',
                disabled:'true'
            } only %}
        </div>
    </div>

</div>

{# {% include '@templates/contact-form/twig/contact-form.twig' with { 
    label:'Contact form',
    submitButton: {
        label: 'Nested button',
        wrongProperty:'Value'
    }
} only %} #}

{# 

<div class="layout-container">
    {{ page.pre_content }}
    {{ page.breadcrumb }}
    <main class="page-content clearfix" role="main">
        <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
        {{ page.highlighted }}
        {% if page.help %}
            <div class="help">
                {{ page.help }}
            </div>
        {% endif %}
        {{ page.content }}
    </main>

</div> #}
