{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Boolean Variables #}
{% set hasEmphasis = emphasis is defined and emphasis is not empty %}
{% set isBlockEmphasisDefined = block("emphasis") is defined %}

{# Default Variables #}
{% set class = class|default("") %}

{# Component Variables #}
{% set id = "bfAcccordion_" ~ id %}
{% set idContent = id ~ "_content" %}

{# Arrays of Classes With Dynamic Elements #}
{% set accordionClasses = [
  "bf-accordion",
  (class),
] %}

{# Template #}
<div {{ macros.addAttributes({
  "class": accordionClasses|join(' ')|trim,
  "id": id,
}) }}>
    <button {{ macros.addAttributes({
      "type": "button",
      "class": "bf-accordion__header",
      "aria-label": "Expand Content"|t,
      "data-toggle": "collapse",
      "data-target": "#" ~ idContent,
      "aria-controls": idContent,
      "aria-expanded": "false",
    }) }}>
      <span class="bf-accordion__header__title">
        {{ title }}
      </span>

      {% if isBlockEmphasisDefined %}
        {{ block("emphasis") }}
      {% elseif hasEmphasis %}
        {{ emphasis|raw }}
      {% endif %}
    </button>

    <div {{ macros.addAttributes({
      "class": "collapse bf-accordion__content",
      "id": idContent,
    }) }}>
      {% if isBlockContentDefined %}
        {{ block("content") }}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
</div>
